{
  "plugins": [
    ["transform-react-jsx", {
      "pragma": "h"
    }],

    ["transform-react-require", {
      "identifier": "h",
      "moduleName": "mithril/hyperscript"
    }]
  ],
  "env": {
    "production": {
      "plugins": ["transform-remove-console"]
    }
  }
}
