npm-debug.log

bin/*.mobileprovision
bin/*.keystore

/platforms
/plugins

/www/app.js
/www/index.html
/www/css/compiled

/node_modules
/env.json
/env-prod.json
/env-stage.json

.DS_Store
.tags
.tags1
