npm-debug.log

/app.js.map
/*.mobileprovision
/*.keystore
/build.json

/platforms
/plugins

/www/app.js
/www/index.html
/www/css/compiled

/node_modules
/env.json
/env-*.json

.DS_Store
.tags
.tags1

/ul_web_hooks
