npm-debug.log

bin/*.mobileprovision
bin/*.keystore

app/config.xml
app/hooks
app/www
app/plugins/*
!app/plugins/android.json
!app/plugins/ios.json

app/platforms/
!app/platforms/android/AndroidManifest.xml

project/www/app.js
project/www/index.html
project/www/css/compiled
project/node_modules
project/env.json

private.json

.DS_Store
