<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="org.lichess.mobileapp"
  android:versionCode="7005000"
  android:versionName="7.5.0"
  android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:resizeableActivity="false">

        <meta-data android:name="firebase_analytics_collection_deactivated" android:value="true" />
        <meta-data android:name="google_analytics_adid_collection_enabled" android:value="false" />
        <meta-data android:name="google_analytics_ssaid_collection_enabled" android:value="false" />
        <meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@drawable/ic_stat_lichess" />

        <activity
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode"
            android:name="org.lichess.mobileapp.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBarLaunch">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                  android:host="lichess.org" android:scheme="https"
                  android:pathPrefix="/analysis" />
                <data
                  android:host="lichess.org" android:scheme="https"
                  android:pathPrefix="/editor" />
                <data
                  android:host="lichess.org" android:scheme="https"
                  android:pathPrefix="/challenge" />
                <data
                  android:host="lichess.org" android:scheme="https"
                  android:pathPrefix="/inbox" />
                <data
                  android:host="lichess.org" android:scheme="https"
                  android:pathPrefix="/@" />
                <data
                  android:host="lichess.org" android:scheme="https"
                  android:pathPrefix="/player" />
                <data
                  android:host="lichess.org" android:scheme="https"
                  android:pathPrefix="/tournament" />
                <data
                  android:host="lichess.org" android:scheme="https"
                  android:pathPrefix="/training" />
                <data
                  android:host="lichess.org" android:scheme="https"
                  android:pathPrefix="/tv" />
                <data
                  android:host="lichess.org" android:scheme="https"
                  android:pathPrefix="/signup/confirm" />
                <data
                  android:host="lichess.org" android:scheme="https"
                  android:pathPrefix="/study" />
                <data
                  android:host="lichess.org" android:scheme="https"
                  android:pathPattern="/........" />
                <data
                  android:host="lichess.org" android:scheme="https"
                  android:pathPattern="/......../black" />
                <data
                  android:host="lichess.org" android:scheme="https"
                  android:pathPattern="/......../white" />
            </intent-filter>

        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>

</manifest>
