*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.cg-board-wrap {
  width: 100%;
  height: 100%;
}
.cg-board {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 0;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
}
.cg-square {
  position: absolute;
  width: 12.5%;
  height: 12.5%;
}
.cg-square.move-dest {
  background: radial-gradient(rgba(20,85,30,0.5) 22%, #208530 0, rgba(0,0,0,0.3) 0, rgba(0,0,0,0) 0);
}
.cg-square.premove-dest {
  background: radial-gradient(rgba(20,30,85,0.5) 22%, #203085 0, rgba(0,0,0,0.3) 0, rgba(0,0,0,0) 0);
}
.cg-square.last-move {
  background-color: rgba(155,199,0,0.41);
}
.cg-square.selected {
  background-color: rgba(20,85,30,0.5);
}
.cg-square.check {
  background: radial-gradient(ellipse at center, #f00 0%, #e70000 25%, rgba(169,0,0,0) 89%, rgba(158,0,0,0) 100%);
}
.cg-square.current-premove {
  background-color: rgba(20,30,85,0.5);
}
.cg-square.selected {
  background: rgba(216,85,0,0.3);
}
.cg-square[data-coord-x]::after {
  position: absolute;
  left: 1px;
  bottom: 1px;
  font-size: 10px;
  line-height: 10px;
  content: attr(data-coord-x);
  color: #fff;
  opacity: 0.5;
}
.cg-square[data-coord-y]::before {
  position: absolute;
  right: 1px;
  top: 1px;
  font-size: 10px;
  line-height: 10px;
  content: attr(data-coord-y);
  color: #fff;
  opacity: 0.5;
}
.cg-piece {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  -webkit-transform: translate3d(0, 0, 0);
}
.cg-piece.dragging {
  z-index: 2;
}
.cg-piece.ghost {
  opacity: 0.3;
}
#cg-square-target {
  position: absolute;
  background-color: rgba(0,0,0,0.2);
  border-radius: 50%;
  -webkit-transform: translate3d(0, 0, 0);
  z-index: 1;
}
.minimal-dom .cg-piece {
  position: absolute;
  width: 12.5%;
  height: 12.5%;
}
.cg-board-wrap.view-only .cg-piece {
  -webkit-transform: none;
}
.blue .cg-board {
  background-image: url("../../images/board/blue2.jpg");
}
.wood .cg-board {
  background-image: url("../../images/board/wood2.jpg");
}
.marble .cg-board {
  background-image: url("../../images/board/marble.jpg");
}
.grey .cg-board {
  background-image: url("../../images/board/grey.jpg");
}
.chessground.light-wood-3d .cg-board-wrap {
  position: relative;
  background-image: url("../../images/board/3d/Light-Wood.png");
  background-size: cover;
}
.chessground.small.light-wood-3d .cg-board-wrap {
  width: calc(1400px / 4.6666);
  height: calc(1310px / 4.6666);
}
.chessground.large.light-wood-3d .cg-board-wrap {
  width: calc(1400px / 1);
  height: calc(1310px / 1);
}
.light-wood-3d .cg-board {
  position: absolute;
  left: 0;
  top: 0.6168702%;
  width: 100%;
  height: 97.0229%;
}
.pirouetti .cg-piece {
  bottom: 0;
  left: -15%;
  width: 130%;
  height: 130%;
}
.pirouetti .cg-piece.pawn.white {
  background-image: url("../../images/pieces/pirouetti/wP.svg");
}
.pirouetti .cg-piece.pawn.black {
  background-image: url("../../images/pieces/pirouetti/bP.svg");
}
.pirouetti .cg-piece.bishop.white {
  background-image: url("../../images/pieces/pirouetti/wB.svg");
}
.pirouetti .cg-piece.bishop.black {
  background-image: url("../../images/pieces/pirouetti/bB.svg");
}
.pirouetti .cg-piece.knight.white {
  background-image: url("../../images/pieces/pirouetti/wN.svg");
}
.pirouetti .cg-piece.knight.black {
  background-image: url("../../images/pieces/pirouetti/bN.svg");
}
.pirouetti .cg-piece.rook.white {
  background-image: url("../../images/pieces/pirouetti/wR.svg");
}
.pirouetti .cg-piece.rook.black {
  background-image: url("../../images/pieces/pirouetti/bR.svg");
}
.pirouetti .cg-piece.queen.white {
  background-image: url("../../images/pieces/pirouetti/wQ.svg");
}
.pirouetti .cg-piece.queen.black {
  background-image: url("../../images/pieces/pirouetti/bQ.svg");
}
.pirouetti .cg-piece.king.white {
  background-image: url("../../images/pieces/pirouetti/wK.svg");
}
.pirouetti .cg-piece.king.black {
  background-image: url("../../images/pieces/pirouetti/bK.svg");
}
.cburnett .cg-piece.pawn.white {
  background-image: url("../../images/pieces/cburnett/wP.svg");
}
.cburnett .cg-piece.pawn.black {
  background-image: url("../../images/pieces/cburnett/bP.svg");
}
.cburnett .cg-piece.bishop.white {
  background-image: url("../../images/pieces/cburnett/wB.svg");
}
.cburnett .cg-piece.bishop.black {
  background-image: url("../../images/pieces/cburnett/bB.svg");
}
.cburnett .cg-piece.knight.white {
  background-image: url("../../images/pieces/cburnett/wN.svg");
}
.cburnett .cg-piece.knight.black {
  background-image: url("../../images/pieces/cburnett/bN.svg");
}
.cburnett .cg-piece.rook.white {
  background-image: url("../../images/pieces/cburnett/wR.svg");
}
.cburnett .cg-piece.rook.black {
  background-image: url("../../images/pieces/cburnett/bR.svg");
}
.cburnett .cg-piece.queen.white {
  background-image: url("../../images/pieces/cburnett/wQ.svg");
}
.cburnett .cg-piece.queen.black {
  background-image: url("../../images/pieces/cburnett/bQ.svg");
}
.cburnett .cg-piece.king.white {
  background-image: url("../../images/pieces/cburnett/wK.svg");
}
.cburnett .cg-piece.king.black {
  background-image: url("../../images/pieces/cburnett/bK.svg");
}
.merida .cg-piece.pawn.white {
  background-image: url("../../images/pieces/merida/wP.svg");
}
.merida .cg-piece.pawn.black {
  background-image: url("../../images/pieces/merida/bP.svg");
}
.merida .cg-piece.bishop.white {
  background-image: url("../../images/pieces/merida/wB.svg");
}
.merida .cg-piece.bishop.black {
  background-image: url("../../images/pieces/merida/bB.svg");
}
.merida .cg-piece.knight.white {
  background-image: url("../../images/pieces/merida/wN.svg");
}
.merida .cg-piece.knight.black {
  background-image: url("../../images/pieces/merida/bN.svg");
}
.merida .cg-piece.rook.white {
  background-image: url("../../images/pieces/merida/wR.svg");
}
.merida .cg-piece.rook.black {
  background-image: url("../../images/pieces/merida/bR.svg");
}
.merida .cg-piece.queen.white {
  background-image: url("../../images/pieces/merida/wQ.svg");
}
.merida .cg-piece.queen.black {
  background-image: url("../../images/pieces/merida/bQ.svg");
}
.merida .cg-piece.king.white {
  background-image: url("../../images/pieces/merida/wK.svg");
}
.merida .cg-piece.king.black {
  background-image: url("../../images/pieces/merida/bK.svg");
}
.staunton div.pawn.white {
  background-image: url("../../images/pieces/staunton/basic/White-Pawn.png");
}
.staunton div.pawn.black {
  background-image: url("../../images/pieces/staunton/basic/Black-Pawn.png");
}
.staunton div.bishop.white {
  background-image: url("../../images/pieces/staunton/basic/White-Bishop.png");
}
.staunton div.bishop.black {
  background-image: url("../../images/pieces/staunton/basic/Black-Bishop.png");
}
.staunton div.rook.white {
  background-image: url("../../images/pieces/staunton/basic/White-Rook.png");
}
.staunton div.rook.black {
  background-image: url("../../images/pieces/staunton/basic/Black-Rook.png");
}
.staunton div.queen.white {
  background-image: url("../../images/pieces/staunton/basic/White-Queen.png");
}
.staunton div.queen.black {
  background-image: url("../../images/pieces/staunton/basic/Black-Queen.png");
}
.staunton div.king.white {
  background-image: url("../../images/pieces/staunton/basic/White-King.png");
}
.staunton div.king.black {
  background-image: url("../../images/pieces/staunton/basic/Black-King.png");
}
.staunton div.knight.black {
  background-image: url("../../images/pieces/staunton/basic/Black-Knight.png");
}
.staunton div.cg-piece {
  width: 140.625%;
  height: 197.92486231313927%;
  left: -18%;
  top: -77%;
}
.staunton .cg-board.orientation-black div.bishop.white {
  background-image: url("../../images/pieces/staunton/basic/White-Bishop-Flipped.png");
}
.staunton .cg-board.orientation-black div.knight.white {
  background-image: url("../../images/pieces/staunton/basic/White-Knight-Flipped.png");
}
.staunton .cg-board.orientation-white div.bishop.black {
  background-image: url("../../images/pieces/staunton/basic/Black-Bishop-Flipped.png");
}
.staunton .cg-board.orientation-white div.knight.black {
  background-image: url("../../images/pieces/staunton/basic/Black-Knight-Flipped.png");
}
.staunton div.knight.white,
#top div.piece_demo.staunton {
  background-image: url("../../images/pieces/staunton/basic/White-Knight.png");
}

body {
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}
.fa:before {
  margin-left: -3px;
}
.disabled {
  opacity: 0.4;
}
.hide {
  display: none;
}

.check_container {
  position: relative;
  display: block;
}
input[type='checkbox'] {
  position: absolute;
  display: block;
  -webkit-appearance: button;
  border: none;
  width: 70px;
  height: 30px;
  border-radius: 15px;
  background-color: #333;
  cursor: pointer;
  transition: background-color 0.2s;
  top: 0;
  right: 0;
}
input[type='checkbox']:checked {
  background: #c4a86f;
}
input[type='checkbox']:after {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  transition: 0.5s all;
}
input[type='checkbox']:checked:after {
  left: 40px;
}
.select_input {
  background: #333;
  height: 40px;
  line-height: 40px;
  color: #8a8a8a;
  padding: 0 10px;
  font-size: 12px;
  position: relative;
  margin-top: 15px;
}
.select_input.inline {
  display: inline-block;
  width: 48%;
  margin-right: 2%;
}
.select_input select {
  background: transparent;
  border: none;
  width: 100%;
  position: absolute;
  left: 0px;
  -webkit-appearance: none;
  padding-left: 80px;
  height: 40px;
  line-height: 40px;
  font-size: 13px;
  color: #fff;
}
.select_input label {
  padding: 0;
}
.nice-radio {
  display: inline-block;
  clear: both;
  width: 50%;
  margin-top: 10px;
}
.nice-radio label {
  width: 100%;
  background: #333;
  color: #8e8e8e;
  height: 40px;
}
.nice-radio input.radio:empty {
  display: none;
}
.nice-radio input.radio:empty ~ label {
  position: relative;
  float: left;
  line-height: 40px;
  padding: 0 20px;
  font-size: 12px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.nice-radio input.radio:empty ~ label:after {
  position: absolute;
  display: block;
  bottom: 15px;
  left: 0;
  content: '';
  text-align: left;
  width: 2.5em;
}
.nice-radio input.radio:checked ~ label {
  background-color: #c4a86f;
  color: #fff;
}
.nice-radio input.radio:checked ~ label:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  padding-top: 20px;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f00c";
  text-indent: 0.9em;
}

.antagonist {
  overflow: auto;
  position: relative;
}
.antagonist .infos {
  float: left;
}
.antagonist .infos .rating {
  font-size: 10px;
  color: #c4a86f;
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
}
.antagonist .clock {
  font-family: 'Cousine', monospace;
  position: absolute;
  text-align: right;
  min-width: 90px;
  right: 20px;
  font-size: 30px;
}
.antagonist .material {
  display: inline-block;
}
.antagonist .material .tomb {
  display: inline-block;
  margin-left: 8px;
}
.antagonist .material .tomb div {
  margin-left: -6px;
  width: 20px;
  height: 20px;
  background-size: cover;
  display: inline-block;
}
.antagonist .material .tomb .pawn {
  background-image: url("../../images/pieces/mono/P.svg");
}
.antagonist .material .tomb .bishop {
  background-image: url("../../images/pieces/mono/B.svg");
}
.antagonist .material .tomb .knight {
  background-image: url("../../images/pieces/mono/N.svg");
}
.antagonist .material .tomb .rook {
  background-image: url("../../images/pieces/mono/R.svg");
}
.antagonist .material .tomb .queen {
  background-image: url("../../images/pieces/mono/Q.svg");
}
.antagonist .material .tomb .king {
  background-image: url("../../images/pieces/mono/K.svg");
}
.clock.running {
  color: #c4a86f;
}
#board {
  width: 100%;
}
.board {
  width: 100%;
  height: 100%;
}
#promotion_choice {
  border: 1px solid #000;
  background-color: rgba(255,255,255,0.7);
  position: absolute;
  height: 100px;
  width: 100%;
  text-align: center;
}
#promotion_choice .cg-piece {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 0 5px;
  top: 17px;
}
#game_actions {
  border-top: 1px solid #ebebeb;
  padding: 10px 0;
}
.game_action {
  display: inline-block;
  text-align: center;
  background: transparent;
  font-size: inherit;
  outline: none;
  border: none;
  color: #c4a86f;
  height: 50px;
  border-right: 1px solid #ebebeb;
  width: 25%;
}

main {
  position: absolute;
  height: 100vh;
  width: 100%;
  background: #fff;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
main.out {
  -webkit-transform: translate3d(85%, 0, 0);
  -moz-transform: translate3d(85%, 0, 0);
  -ms-transform: translate3d(85%, 0, 0);
  -o-transform: translate3d(85%, 0, 0);
  transform: translate3d(85%, 0, 0);
}
main header {
  background: url("../../images/pattern_black.jpg");
  color: #fff;
}
main header nav {
  height: 50%;
}
main header nav h1 {
  font-size: 1em;
  line-height: 1.4em;
  text-transform: uppercase;
  text-align: center;
  width: 70%;
  display: inline-block;
  vertical-align: middle;
}
main header nav h1.playing {
  text-transform: none;
  color: #c4a86f;
}
main header nav a {
  padding: 20px;
}
main header nav a.fa {
  color: #c4a86f;
  width: 15%;
  display: inline-block;
  font-size: 1.4em;
}
main header section,
main footer section {
  height: 50%;
  padding: 10px 20px;
}

aside {
  background: #353535;
  min-height: 100vh;
}
aside div {
  padding: 0 15px;
}
aside header nav {
  min-height: 80px;
  line-height: 80px;
  background: #2d2d2d;
  -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
  padding: 0 30px;
  color: #c4a86f;
  font-size: 17px;
  text-transform: uppercase;
}
aside header nav h2 {
  font-weight: normal;
  color: #fff;
}
aside h3 {
  text-transform: uppercase;
  color: #fff;
  font-weight: normal;
  margin: 40px 0px 30px 0;
}
aside input {
  display: block;
  width: 85%;
  margin-top: 10px;
  height: 50px;
  background: #2d2d2d;
  border-radius: 5px;
  border: none;
  padding: 0 15px;
  -moz-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.5);
  box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.5);
  color: #8f8f8f;
}
aside form button#login {
  background: #c4a86f;
  color: #fff;
  padding: 15px;
  font-size: 15px;
  margin-top: 20px;
}
aside form button {
  border: none;
  background: none;
  color: #8c8c8c;
  font-size: 13px;
  width: 85%;
  margin-top: 10px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
}
.overlay .overlay-close {
  position: absolute;
  right: 7px;
  top: 8px;
  background: transparent;
  z-index: 100;
  font-size: 50px;
  color: #c4a86f;
  line-height: 50px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* Effects */
.overlay-effect {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 200ms, visibility 0s 200ms;
  transition: opacity 200ms, visibility 0s 200ms;
}
.overlay-effect.open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}

#all_games {
  height: 100%;
  position: relative;
}
#wrapper_games {
  width: 100%;
  height: 100%;
}
.card {
  background: transparent;
  position: relative;
  top: 13%;
  float: left;
  z-index: 9999;
}
.card .infos {
  text-align: center;
  color: #fff;
  background: #fff;
  text-transform: uppercase;
  position: relative;
}
.card .icon-game {
  background: #efe1c7;
  border: solid 2px #fff;
  display: block;
  height: 45px;
  width: 45px;
  position: absolute;
  top: -22px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 50%;
  -moz-box-shadow: inset 0px 0px 3px 0px #96762f;
  -webkit-box-shadow: inset 0px 0px 3px 0px #96762f;
  box-shadow: inset 0px 0px 3px 0px #96762f;
}
.card .icon-game.standard {
  background-image: url("../../images/standard2.gif");
  background-size: cover;
}
.card .icon-game.chess960 {
  background-image: url("../../images/chess960.gif");
  background-size: cover;
}
.card h2 {
  padding-top: 35px;
  font-size: 16px;
  color: #383838;
}
.card p {
  padding-bottom: 30px;
  font-size: 11px;
  color: #c4a86f;
  padding-top: 5px;
}
.card button {
  width: 100%;
  height: 50px;
  border: none;
  color: #c4a86f;
  background: #fff;
  font-size: 12px;
  text-transform: uppercase;
  border-top: solid 1px #ebebeb;
}
.new-game {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  background: transparent;
  min-height: 400px;
}
.new-game.back_visible .container_flip {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
}
.new-game.back_visible .container_flip .back {
  display: block;
}
.new-game.back_visible .cg-board-wrap.view-only .cg-board {
  position: inherit;
}
.new-game.back_visible .cg-board-wrap.view-only .cg-square {
  position: inherit;
}
.new-game.back_visible .cg-board-wrap.view-only .cg-piece {
  display: none;
}
.new-game .container_flip {
  position: relative;
  height: 100%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.4s;
  -ms-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
}
.new-game .back {
  display: none;
}
.new-game .front,
.new-game .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}
.new-game .front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.new-game .back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #2a2a2a;
}
.new-game .back header {
  background: #212121;
  min-height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}
.new-game .infos {
  background: #383838;
}
.new-game .infos h2 {
  color: #fff;
}
.new-game .infos p {
  color: #a9a9a9;
}
.new-game .infos button {
  background: #2a2a2a;
  color: #fff;
  border: none;
}
#new_game_form {
  padding-top: 10px;
}
#new_game_form fieldset {
  padding: 0px 20px;
}
#new_game_form button {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  border: none;
  background: #c4a86f;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 50px;
}
#new_game_form select[name=timepreset] {
  padding-left: 120px;
}
#new_game_form select[name=timeMode] {
  padding-left: 95px;
}
#new_game_form select[name=days] {
  padding-left: 110px;
}
#new_game_form .nice-radio input.radio.computer:empty ~ label {
  text-align: right;
  border-radius: 0 25px 25px 0;
}
#new_game_form .nice-radio input.radio.human:empty ~ label {
  border-radius: 30px 0 0 30px;
}
#new_game_form .nice-radio input.radio.human:empty ~ label:after {
  left: auto;
  right: 0;
}
#player_controls {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#player_controls button {
  display: block;
  background: none;
  margin: 0 auto;
  border: none;
  color: #c4a86f;
  font-size: 1em;
  font-family: 'Montserrat';
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
}
#player_controls button:before {
  content: attr(data-icon);
  display: block;
  width: 60px;
  height: 60px;
  color: #c4a86f;
  border-radius: 50%;
  background: #fff;
  margin: 20px auto;
  line-height: 60px;
  font-size: 1.2em;
}

@media only screen and (max-device-height: 480px) {
  main header {
    max-height: 65px;
  }
  main header h2 {
    font-size: 0.8em;
  }
  main header nav a {
    padding: 10px 20px;
  }
  main header .antagonist .clock {
    font-size: 20px;
  }
  main header .antagonist .material {
    display: none;
  }
  main footer {
    height: 100%;
  }
  main footer section {
    padding-top: 10px;
  }
  main footer section.antagonist {
    height: 50px;
  }
  #game_actions {
    padding: 0;
  }
}
