.analyseTable
  width 100%
  display flex
  &.synthetic
    > .analyse
      width 80%
    > .analyseInfos
      width 20%
    .cevalBox
      height 100%

  > .analyse
    width 60%
    @media only screen and (orientation: portrait)
      height calc(100vh - 100vw - 50px - 45px)

  > .analyseInfos
    background lighten(bgdark, 5%)
    width 40%
    @media only screen and (orientation: portrait)
      height calc(100vh - 100vw - 50px - 45px)
      > .native_scroller
        height calc(100% - 33px)

.cevalBox
  width 100%
  height 30px
  line-height 30px
  display flex
  justify-content center
  align-items center
  background lighten(bgdark, 10%)
  .spinner
    width 100%
    height 30px
    line-height 30px
    padding 0
    text-align center
  pearl
    font-size 1.5em
    font-weight bold

.analyseOpponents, .analyseOpening, .gameInfos
  padding 5px
  font-size 0.7em

.gameInfos
  position relative
  padding-left 25px
  border-bottom 1px solid lighten(bgdark, 15%)
  &:before
    font-size 20px
    position absolute
    left 2px
    top 10px

.analyseOpening
  height 30px
  background lighten(bgdark, 5%)
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
  + .analyseReplay
    height calc(100% - 30px)

.analyseReplay
  height 100%
  position relative
  display flex
  flex-flow row wrap
  align-content flex-start
  font-size 0.9em
  padding 2px
  turn
    display flex
    width 100%
    > move
      flex 1 1 50%
      padding 2px 7px
      margin 0
    > index
      margin 0
      flex 0 0 25px
      text-align center
      background lighten(bgdark, 5%)

  index
    margin-right 5px

  move
    position relative
    display inline-block
    margin 0 2px
    &.current
      color gold
      font-weight bold
      eval
        color rgba(gold, 70%)
    &.active
      background lighten(bgdark, 10%)

  eval
    position absolute
    top 3px
    right 7px
    font-size 0.7em
    font-weight lighter
    color rgba(textDarkBg, 70%)

  .meta
    margin-left 5px
    width 100%
    display flex
    flex-flow row wrap
    align-content flex-start
    font-size 0.8em
    background lighten(bgdark, 5%)

  .result, .status
    width 100%

  .result
    margin-top 1em
    text-align center
    font-weight bold

  .status
    font-size 0.9em
    font-style italic
    text-align center

