.analyseTableWrapper
  @media only screen and (orientation: landscape) and (min-height 700px) and (max-width 1050px)
    height calc(100vh - 50px - 12vh)
    margin auto 0

.analyseTable
  width 100%
  display flex
  &.synthetic
    > .analyse
      width 80%
    > .analyseInfos
      width 20%
    .cevalBox
      height 100%
      justify-content center
      > pearl
        width 100%
      > .bestMove
        margin-top 5px

  > .analyse, > .analyseInfos
    @media only screen and (orientation: portrait)
      height calc(100vh - 100vw - 50px - 40px)
    @media only screen and (orientation: landscape)
      height calc(100vh - 50px - 40px)
    @media only screen and (orientation: landscape) and (min-height 700px) and (max-width 1050px)
      height calc(100vh - 50px - 12vh - 40px)

  > .analyse
    width 60%

  > .analyseInfos
    width 40%
    background lighten(bgdark, 5%)
    > .cevalBox + .native_scroller
      height calc(100% - 34px)
    > .native_scroller
      height 100%

.cevalBox
  position relative
  width 100%
  height 34px
  display flex
  flex-flow row wrap
  justify-content space-around
  align-items center
  align-content center
  background lighten(bgdark, 10%)
  > .spinner
    width initial
    height initial
    font-size 25px
    padding 0
    margin 0
    text-align center
  > .cevalBar
    position absolute
    width 100%
    height 4px
    top 0
    left 0
    span
      display block
      background green
      transition width linear 1s
      height 4px
  > pearl
    font-size 1.5em
    font-weight bold
  > .bestMove
    font-size 0.7em
    line-height 1.2

.analyseOpponents, .analyseOpening, .analyseGameInfos
  padding 5px
  font-size 0.7em

.analyseInfos
  text-align center

.analyseGameInfosWrapper
  display flex
  justify-content center
  border-bottom 1px solid lighten(bgdark, 15%)

.analyseGameInfos
  text-align left
  position relative
  padding-left 25px
  &:before
    font-size 20px
    position absolute
    left 2px
    top 10px


.analyseOpponentsWrapper
  display flex
  justify-content center

.analyseOpponents
  text-align left

.analyseOpening
  height 34px
  line-height 25px
  background lighten(bgdark, 5%)
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
  + .analyseReplay
    height calc(100% - 34px)

.analyseReplay
  height 100%
  position relative
  display flex
  flex-flow row wrap
  align-content flex-start
  font-size 0.9em
  padding 2px
  turn
    display flex
    width 100%
    > move
      position relative
      flex 0 1 calc((100% - 25px) / 2)
      padding 2px 7px
      margin 0
    > index
      font-size 0.9em
      margin 0
      flex 0 0 25px
      text-align center
      background lighten(bgdark, 5%)
      padding 2px 0

  index
    color rgba(textDarkBg, 70%)
    font-weight lighter
    margin-right 5px
    margin-left 5px
    &:first-child
      margin-left 0

  move
    display inline-block
    margin 0 2px
    &.current
      color gold
      font-weight bold
      eval
        color rgba(gold, 70%)
    &.active
      background lighten(bgdark, 10%)

  eval
    position absolute
    top 3px
    right 7px
    font-size 0.7em
    font-weight lighter
    color rgba(textDarkBg, 70%)

  .meta
    min-height 25px
    width 100%
    display flex
    flex-flow row wrap
    align-content flex-start
    font-size 0.8em
    background lighten(bgdark, 5%)
    > .variationWrapper
      width 100%
      display flex
      align-items center
      > .variation
        flex 0 1 auto
        width calc(100% - 25px)
        white-space nowrap
        &.visiting
          white-space normal
        &.nested
          display inline
          margin-left 5px
      > .menuIcon
        flex 0 0 25px
        width 25px
        height 25px
        font-size 1.5em
        text-align center
        margin 0
        &:before
          position relative
          top 5px

  .result, .status
    width 100%

  .result
    margin-top 2px
    text-align center
    font-weight bold

  .status
    font-size 0.9em
    font-style italic
    text-align center


.variationMenuPopup
  position fixed
  font-size 1rem
  .overlay_popup
    height 100px
    top calc((100% - 100px) / 2)
    border-radius 5px
    text-align center
    > .variationMenu
      display flex
      flex-flow column nowrap
      justify-content center
      height 100%
