.analyseTable
  width 100%
  display flex

.analyse
  width calc(100% - 60px)
  @media only screen and (orientation: portrait)
    height calc(100vh - 100vw - 50px - 45px)
    display flex
    flex-flow row wrap
    align-content flex-start
    overflow-x hidden
    turn
      display inline
      margin-right 10px

    index
      display inline
      margin-right 5px

    move
      display inline
      margin 0 2px
      &.current
        color gold
        font-weight bold
      &.active
        background lighten(bgdark, 10%)

    eval
      font-size 0.7em

    .meta
      margin-left 5px
      width 100%
      display flex
      flex-flow row wrap
      align-content flex-start


.cevalBox
  width 60px
  display flex
  justify-content center
  align-items center
  background lighten(bgdark, 10%)
  .spinner
    width 30px
    height 30px
  pearl
    font-size 1.5em
    font-weight bold
