.loader_circles
  transform translateZ(0)
  display inline-block
  width 55px
  height 12px

.loader_circles div {
  background-color:gold;
  opacity: 0;
  float:left;
  height:13px;
  width:13px;
  margin-left:5px;
  animation-name:bounce_loader_circles;
  animation-duration:1.5s;
  animation-iteration-count:infinite;
  animation-direction:linear;
  border-radius:50%;
}

.loader_circles .circle_1 {
  animation-delay: 0.3s;
}

.loader_circles .circle_2 {
  animation-delay: 0.8s
}

.loader_circles .circle_3 {
  animation-delay: 1.3s
}

@keyframes bounce_loader_circles {
  0% { }
  50% { opacity: 1 }
  100% { }
}

.loader, .loader:before, .loader:after
  border-radius: 50%;

.loader:before, .loader:after
  position: absolute;
  content: '';

.loader
  display: block;
  font-size: 11px;
  margin: 0 auto;
  position: relative;
  width: 52px;
  height: 52px
  box-shadow: inset 0 0 0 0.7em textLightGray
  &:before
    width: 2.7em;
    height: 5.2em;
    background: #eee;
    border-radius: 5.2em 0 0 5.2em;
    top: -0.1em;
    left: -0.1em;
    transform-origin: 2.6em 2.5em;
    animation: load2 2s infinite ease 1.5s;
  &:after
    width: 2.6em;
    height: 5.2em;
    background: #eee;
    border-radius: 0 5.2em 5.2em 0;
    top: -0.1em;
    left: 2.5em;
    transform-origin: 0px 2.5em;
    animation: load2 2s infinite ease;
  span
    position: absolute;
    top: 0;
    left: 0;
    font-size: 24px;
    line-height: 56px;
    display: block;
    width: 100%;
    z-index: 1;

@keyframes load2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px 2px #fff, 0 0 10px 3px #e89000, 0 0 20px 3px #d85000;
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 0 0 5px 2px #fff, 0 0 10px 3px #e89000, 0 0 20px 3px #d85000;
  }
}

@keyframes neon {
  from {
    text-shadow: 0 0 12.5px  darken(orange, 25%),
               0 0 15px darken(orange, 25%),
               0 0 17.5px orange,
               0 0 20px orange,
               0 0 25px orange;
  }
  to {
    text-shadow: 0 0 25px darken(orange, 25%),
               0 0 30px darken(orange, 25%),
               0 0 35px orange,
               0 0 40px orange,
               0 0 50px orange;
  }
}

@keyframes answer_glow {
  50%   {
    color #000
    background gold
  }
}
