#chat
  color #353535

.chat_content
  height 100%
  padding-top 45px

.chat_scroller
  overflow hidden

.chat_messages
  padding 10px

.chat_msg
  font-weight normal
  padding 10px 0
  border-bottom 1px solid #aaa
  &.system
    text-align right
    font-style italic
    font-size 0.8em
    border-bottom none
  &:last-child
    border-bottom none

.chat_user
  font-family 'montserratbold'
  margin-right 15px

.chat_form
  position relative
  width 100%

.chat_input
  display block
  width 100%
  height 100%
  padding 3px 50px 3px 10px
  font-size 1em

.chat_send
  position absolute
  top 0
  right 0
  padding 0 10px
  width 50px
  height 100%
  background transparent
  font-size 1.3em
