// standard 2D boards
.brown > .cg-board
  background-image url('../../images/board/brown.jpg')
  > square[data-coord-x]
    &:nth-child(odd)
      color rgba(#f0d9b5, 1)
    &:nth-child(even)
      color rgba(#b58863, 1)
  > square[data-coord-y]
    &:nth-child(8), &:nth-child(24), &:nth-child(40), &:nth-child(56)
      color rgba(#f0d9b5, 1)
    &:nth-child(16), &:nth-child(32), &:nth-child(48), &:nth-child(64)
      color rgba(#b58863, 1)
.blue > .cg-board
  background-image url('../../images/board/blue.jpg')
  > square[data-coord-x]
    &:nth-child(odd)
      color rgba(#dee3e6, 1)
    &:nth-child(even)
      color rgba(#8ca2ad, 1)
  > square[data-coord-y]
    &:nth-child(8), &:nth-child(24), &:nth-child(40), &:nth-child(56)
      color rgba(#dee3e6, 1)
    &:nth-child(16), &:nth-child(32), &:nth-child(48), &:nth-child(64)
      color rgba(#8ca2ad, 1)
.green > .cg-board
  background-image url('../../images/board/green.jpg')
  > square[data-coord-x]
    &:nth-child(odd)
      color rgba(#ffffdd, 1)
    &:nth-child(even)
      color rgba(#86a666, 1)
  > square[data-coord-y]
    &:nth-child(8), &:nth-child(24), &:nth-child(40), &:nth-child(56)
      color rgba(#ffffdd, 1)
    &:nth-child(16), &:nth-child(32), &:nth-child(48), &:nth-child(64)
      color rgba(#86a666, 1)
.purple > .cg-board
  background-image url('../../images/board/purple.jpg')
  > square[data-coord-x]
    &:nth-child(odd)
      color rgba(#9f90b0, 1)
    &:nth-child(even)
      color rgba(#7d4a8d, 1)
  > square[data-coord-y]
    &:nth-child(8), &:nth-child(24), &:nth-child(40), &:nth-child(56)
      color rgba(#9f90b0, 1)
    &:nth-child(16), &:nth-child(32), &:nth-child(48), &:nth-child(64)
      color rgba(#7d4a8d, 1)
.wood > .cg-board
  background-image url('../../images/board/wood.jpg')
  > square[data-coord-x]
    &:nth-child(odd)
      color rgba(#d29d51, 1)
    &:nth-child(even)
      color rgba(#985520, 1)
  > square[data-coord-y]
    &:nth-child(8), &:nth-child(24), &:nth-child(40), &:nth-child(56)
      color rgba(#d29d51, 1)
    &:nth-child(16), &:nth-child(32), &:nth-child(48), &:nth-child(64)
      color rgba(#985520, 1)
.wood2 > .cg-board
  background-image url('../../images/board/wood2.jpg')
  > square[data-coord-x]
    &:nth-child(odd)
      color rgba(#94794c, 1)
    &:nth-child(even)
      color rgba(darken(#836839, 20%), 1)
  > square[data-coord-y]
    &:nth-child(8), &:nth-child(24), &:nth-child(40), &:nth-child(56)
      color rgba(#94794c, 1)
    &:nth-child(16), &:nth-child(32), &:nth-child(48), &:nth-child(64)
      color rgba(darken(#836839, 20%), 1)
.wood3 > .cg-board
  background-image url('../../images/board/wood3.jpg')
  > square[data-coord-x]
    &:nth-child(odd)
      color rgba(#bdb3a7, 1)
    &:nth-child(even)
      color rgba(#91683a, 1)
  > square[data-coord-y]
    &:nth-child(8), &:nth-child(24), &:nth-child(40), &:nth-child(56)
      color rgba(#bdb3a7, 1)
    &:nth-child(16), &:nth-child(32), &:nth-child(48), &:nth-child(64)
      color rgba(#91683a, 1)
.maple > .cg-board
  background-image url('../../images/board/maple.jpg')
  > square[data-coord-x]
    &:nth-child(odd)
      color rgba(#ECCCA3, 1)
    &:nth-child(even)
      color rgba(#BB7D4A, 1)
  > square[data-coord-y]
    &:nth-child(8), &:nth-child(24), &:nth-child(40), &:nth-child(56)
      color rgba(#ECCCA3, 1)
    &:nth-child(16), &:nth-child(32), &:nth-child(48), &:nth-child(64)
      color rgba(#BB7D4A, 1)
.blue3 > .cg-board
  background-image url('../../images/board/blue3.jpg')
  > square[data-coord-x]
    &:nth-child(odd)
      color rgba(#c3cdd7, 1)
    &:nth-child(even)
      color rgba(#487aad, 1)
  > square[data-coord-y]
    &:nth-child(8), &:nth-child(24), &:nth-child(40), &:nth-child(56)
      color rgba(#c3cdd7, 1)
    &:nth-child(16), &:nth-child(32), &:nth-child(48), &:nth-child(64)
      color rgba(#487aad, 1)
.canvas > .cg-board
  background-image url('../../images/board/canvas.jpg')
  > square[data-coord-x]
    &:nth-child(odd)
      color rgba(#c3cdd7, 1)
    &:nth-child(even)
      color rgba(#7687a3, 1)
  > square[data-coord-y]
    &:nth-child(8), &:nth-child(24), &:nth-child(40), &:nth-child(56)
      color rgba(#c3cdd7, 1)
    &:nth-child(16), &:nth-child(32), &:nth-child(48), &:nth-child(64)
      color rgba(#7687a3, 1)
.grey > .cg-board
  background-image url('../../images/board/grey.jpg')
  > square[data-coord-x]
    &:nth-child(odd)
      color rgba(#a3a3a3, 1)
    &:nth-child(even)
      color rgba(#888888, 1)
  > square[data-coord-y]
    &:nth-child(8), &:nth-child(24), &:nth-child(40), &:nth-child(56)
      color rgba(#a3a3a3, 1)
    &:nth-child(16), &:nth-child(32), &:nth-child(48), &:nth-child(64)
      color rgba(#888888, 1)
.metal > .cg-board
  background-image url('../../images/board/metal.jpg')
  > square[data-coord-x]
    &:nth-child(odd)
      color rgba(#cecece, 1)
    &:nth-child(even)
      color rgba(#727272, 1)
  > square[data-coord-y]
    &:nth-child(8), &:nth-child(24), &:nth-child(40), &:nth-child(56)
      color rgba(#cecece, 1)
    &:nth-child(16), &:nth-child(32), &:nth-child(48), &:nth-child(64)
      color rgba(#727272, 1)

.kingOfTheHill > .cg-board:before
  width: 25%;
  height: 25%;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  content: '';
  position: absolute;
  top: 37.5%;
  left: 37.5%;

.racingKings > .cg-board:before
  width: 100%;
  height: 12.5%;
  box-shadow: inset 0 -2px 10px rgba(0,0,0,0.5);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
