
/* Merida */
.merida .cg-piece
  &.pawn
    &.white
      background-image url('../../images/pieces/merida/wP.svg')
    &.black
      background-image url('../../images/pieces/merida/bP.svg')
  &.bishop
    &.white
      background-image url('../../images/pieces/merida/wB.svg')
    &.black
      background-image url('../../images/pieces/merida/bB.svg')
  &.knight
    &.white
      background-image url('../../images/pieces/merida/wN.svg')
    &.black
      background-image url('../../images/pieces/merida/bN.svg')
  &.rook
    &.white
      background-image url('../../images/pieces/merida/wR.svg')
    &.black
      background-image url('../../images/pieces/merida/bR.svg')
  &.queen
    &.white
      background-image url('../../images/pieces/merida/wQ.svg')
    &.black
      background-image url('../../images/pieces/merida/bQ.svg')
  &.king
    &.white
      background-image url('../../images/pieces/merida/wK.svg')
    &.black
      background-image url('../../images/pieces/merida/bK.svg')

#page.white .otb.mode_facing .cg-piece.black,
#page.black .otb.mode_facing .cg-piece.white,
#page.white .otb.mode_flip.turn_black .cg-piece,
#page.black .otb.mode_flip.turn_white .cg-piece
  &.pawn
    &.white
      background-image url('../../images/pieces/merida/rotated/wP.svg')
    &.black
      background-image url('../../images/pieces/merida/rotated/bP.svg')
  &.bishop
    &.white
      background-image url('../../images/pieces/merida/rotated/wB.svg')
    &.black
      background-image url('../../images/pieces/merida/rotated/bB.svg')
  &.knight
    &.white
      background-image url('../../images/pieces/merida/rotated/wN.svg')
    &.black
      background-image url('../../images/pieces/merida/rotated/bN.svg')
  &.rook
    &.white
      background-image url('../../images/pieces/merida/rotated/wR.svg')
    &.black
      background-image url('../../images/pieces/merida/rotated/bR.svg')
  &.queen
    &.white
      background-image url('../../images/pieces/merida/rotated/wQ.svg')
    &.black
      background-image url('../../images/pieces/merida/rotated/bQ.svg')
  &.king
    &.white
      background-image url('../../images/pieces/merida/rotated/wK.svg')
    &.black
      background-image url('../../images/pieces/merida/rotated/bK.svg')


/* Cburnett */
.cburnett .cg-piece
  &.pawn
    &.white
      background-image url('../../images/pieces/cburnett/wP.svg')
    &.black
      background-image url('../../images/pieces/cburnett/bP.svg')
  &.bishop
    &.white
      background-image url('../../images/pieces/cburnett/wB.svg')
    &.black
      background-image url('../../images/pieces/cburnett/bB.svg')
  &.knight
    &.white
      background-image url('../../images/pieces/cburnett/wN.svg')
    &.black
      background-image url('../../images/pieces/cburnett/bN.svg')
  &.rook
    &.white
      background-image url('../../images/pieces/cburnett/wR.svg')
    &.black
      background-image url('../../images/pieces/cburnett/bR.svg')
  &.queen
    &.white
      background-image url('../../images/pieces/cburnett/wQ.svg')
    &.black
      background-image url('../../images/pieces/cburnett/bQ.svg')
  &.king
    &.white
      background-image url('../../images/pieces/cburnett/wK.svg')
    &.black
      background-image url('../../images/pieces/cburnett/bK.svg')

/* Pirouetti */
.pirouetti .cg-piece
  &.pawn
    &.white
      background-image url('../../images/pieces/pirouetti/wP.svg')
    &.black
      background-image url('../../images/pieces/pirouetti/bP.svg')
  &.bishop
    &.white
      background-image url('../../images/pieces/pirouetti/wB.svg')
    &.black
      background-image url('../../images/pieces/pirouetti/bB.svg')
  &.knight
    &.white
      background-image url('../../images/pieces/pirouetti/wN.svg')
    &.black
      background-image url('../../images/pieces/pirouetti/bN.svg')
  &.rook
    &.white
      background-image url('../../images/pieces/pirouetti/wR.svg')
    &.black
      background-image url('../../images/pieces/pirouetti/bR.svg')
  &.queen
    &.white
      background-image url('../../images/pieces/pirouetti/wQ.svg')
    &.black
      background-image url('../../images/pieces/pirouetti/bQ.svg')
  &.king
    &.white
      background-image url('../../images/pieces/pirouetti/wK.svg')
    &.black
      background-image url('../../images/pieces/pirouetti/bK.svg')

/* alpha */
.alpha .cg-piece
  &.pawn
    &.white
      background-image url('../../images/pieces/alpha/wP.svg')
    &.black
      background-image url('../../images/pieces/alpha/bP.svg')
  &.bishop
    &.white
      background-image url('../../images/pieces/alpha/wB.svg')
    &.black
      background-image url('../../images/pieces/alpha/bB.svg')
  &.knight
    &.white
      background-image url('../../images/pieces/alpha/wN.svg')
    &.black
      background-image url('../../images/pieces/alpha/bN.svg')
  &.rook
    &.white
      background-image url('../../images/pieces/alpha/wR.svg')
    &.black
      background-image url('../../images/pieces/alpha/bR.svg')
  &.queen
    &.white
      background-image url('../../images/pieces/alpha/wQ.svg')
    &.black
      background-image url('../../images/pieces/alpha/bQ.svg')
  &.king
    &.white
      background-image url('../../images/pieces/alpha/wK.svg')
    &.black
      background-image url('../../images/pieces/alpha/bK.svg')

#page.white .otb.mode_facing .cg-piece.black,
#page.black .otb.mode_facing .cg-piece.white,
#page.white .otb.mode_flip.turn_black .cg-piece,
#page.black .otb.mode_flip.turn_white .cg-piece
  &.pawn
    &.white
      background-image url('../../images/pieces/alpha/rotated/wP.svg')
    &.black
      background-image url('../../images/pieces/alpha/rotated/bP.svg')
  &.bishop
    &.white
      background-image url('../../images/pieces/alpha/rotated/wB.svg')
    &.black
      background-image url('../../images/pieces/alpha/rotated/bB.svg')
  &.knight
    &.white
      background-image url('../../images/pieces/alpha/rotated/wN.svg')
    &.black
      background-image url('../../images/pieces/alpha/rotated/bN.svg')
  &.rook
    &.white
      background-image url('../../images/pieces/alpha/rotated/wR.svg')
    &.black
      background-image url('../../images/pieces/alpha/rotated/bR.svg')
  &.queen
    &.white
      background-image url('../../images/pieces/alpha/rotated/wQ.svg')
    &.black
      background-image url('../../images/pieces/alpha/rotated/bQ.svg')
  &.king
    &.white
      background-image url('../../images/pieces/alpha/rotated/wK.svg')
    &.black
      background-image url('../../images/pieces/alpha/rotated/bK.svg')

/* lightp */
.lightp .cg-piece
  &.pawn
    &.white
      background-image url('../../images/pieces/lightp/wP.png')
    &.black
      background-image url('../../images/pieces/lightp/bP.png')
  &.bishop
    &.white
      background-image url('../../images/pieces/lightp/wB.png')
    &.black
      background-image url('../../images/pieces/lightp/bB.png')
  &.knight
    &.white
      background-image url('../../images/pieces/lightp/wN.png')
    &.black
      background-image url('../../images/pieces/lightp/bN.png')
  &.rook
    &.white
      background-image url('../../images/pieces/lightp/wR.png')
    &.black
      background-image url('../../images/pieces/lightp/bR.png')
  &.queen
    &.white
      background-image url('../../images/pieces/lightp/wQ.png')
    &.black
      background-image url('../../images/pieces/lightp/bQ.png')
  &.king
    &.white
      background-image url('../../images/pieces/lightp/wK.png')
    &.black
      background-image url('../../images/pieces/lightp/bK.png')


/* spatial */
.spatial .cg-piece
  &.pawn
    &.white
      background-image url('../../images/pieces/spatial/wP.svg')
    &.black
      background-image url('../../images/pieces/spatial/bP.svg')
  &.bishop
    &.white
      background-image url('../../images/pieces/spatial/wB.svg')
    &.black
      background-image url('../../images/pieces/spatial/bB.svg')
  &.knight
    &.white
      background-image url('../../images/pieces/spatial/wN.svg')
    &.black
      background-image url('../../images/pieces/spatial/bN.svg')
  &.rook
    &.white
      background-image url('../../images/pieces/spatial/wR.svg')
    &.black
      background-image url('../../images/pieces/spatial/bR.svg')
  &.queen
    &.white
      background-image url('../../images/pieces/spatial/wQ.svg')
    &.black
      background-image url('../../images/pieces/spatial/bQ.svg')
  &.king
    &.white
      background-image url('../../images/pieces/spatial/wK.svg')
    &.black
      background-image url('../../images/pieces/spatial/bK.svg')

