// standard 2D boards
.brown .cg-board
  background-image url('../../images/board/brown.png')
.blue .cg-board
  background-image url('../../images/board/blue.png')
.green .cg-board
  background-image url('../../images/board/green.png')
.purple .cg-board
  background-image url('../../images/board/purple.png')
.wood .cg-board
  background-image url('../../images/board/wood.jpg')
.wood2 .cg-board
  background-image url('../../images/board/wood2.jpg')
.wood3 .cg-board
  background-image url('../../images/board/wood3.jpg')
.blue3 .cg-board
  background-image url('../../images/board/blue3.jpg')
.canvas .cg-board
  background-image url('../../images/board/canvas.jpg')
.grey .cg-board
  background-image url('../../images/board/grey.jpg')
.metal .cg-board
  background-image url('../../images/board/metal.jpg')

// koth boards
.brown.kingOfTheHill .cg-board
  background-image url('../../images/board/koth/brown.png')
.blue.kingOfTheHill .cg-board
  background-image url('../../images/board/koth/blue.png')
.green.kingOfTheHill .cg-board
  background-image url('../../images/board/koth/green.png')
.purple.kingOfTheHill .cg-board
  background-image url('../../images/board/koth/purple.png')
.wood.kingOfTheHill .cg-board
  background-image url('../../images/board/koth/wood.jpg')
.wood2.kingOfTheHill .cg-board
  background-image url('../../images/board/koth/wood2.jpg')
.wood3.kingOfTheHill .cg-board
  background-image url('../../images/board/koth/wood3.jpg')
.blue3.kingOfTheHill .cg-board
  background-image url('../../images/board/koth/blue3.jpg')
.canvas.kingOfTheHill .cg-board
  background-image url('../../images/board/koth/canvas.jpg')
.grey.kingOfTheHill .cg-board
  background-image url('../../images/board/koth/grey.jpg')
.metal.kingOfTheHill .cg-board
  background-image url('../../images/board/koth/metal.jpg')

