
/* Merida */
.merida .cg-piece
  &.pawn
    &.white
      background-image url('../../images/pieces/merida/wP.svg')
    &.black
      background-image url('../../images/pieces/merida/bP.svg')
  &.bishop
    &.white
      background-image url('../../images/pieces/merida/wB.svg')
    &.black
      background-image url('../../images/pieces/merida/bB.svg')
  &.knight
    &.white
      background-image url('../../images/pieces/merida/wN.svg')
    &.black
      background-image url('../../images/pieces/merida/bN.svg')
  &.rook
    &.white
      background-image url('../../images/pieces/merida/wR.svg')
    &.black
      background-image url('../../images/pieces/merida/bR.svg')
  &.queen
    &.white
      background-image url('../../images/pieces/merida/wQ.svg')
    &.black
      background-image url('../../images/pieces/merida/bQ.svg')
  &.king
    &.white
      background-image url('../../images/pieces/merida/wK.svg')
    &.black
      background-image url('../../images/pieces/merida/bK.svg')

#page.white .otb.mode_facing .merida .cg-piece.black,
#page.black .otb.mode_facing .merida .cg-piece.white,
#page.white .otb.mode_flip.turn_black .merida .cg-piece,
#page.black .otb.mode_flip.turn_white .merida .cg-piece
  &.pawn
    &.white
      background-image url('../../images/pieces/merida/rotated/wP.svg')
    &.black
      background-image url('../../images/pieces/merida/rotated/bP.svg')
  &.bishop
    &.white
      background-image url('../../images/pieces/merida/rotated/wB.svg')
    &.black
      background-image url('../../images/pieces/merida/rotated/bB.svg')
  &.knight
    &.white
      background-image url('../../images/pieces/merida/rotated/wN.svg')
    &.black
      background-image url('../../images/pieces/merida/rotated/bN.svg')
  &.rook
    &.white
      background-image url('../../images/pieces/merida/rotated/wR.svg')
    &.black
      background-image url('../../images/pieces/merida/rotated/bR.svg')
  &.queen
    &.white
      background-image url('../../images/pieces/merida/rotated/wQ.svg')
    &.black
      background-image url('../../images/pieces/merida/rotated/bQ.svg')
  &.king
    &.white
      background-image url('../../images/pieces/merida/rotated/wK.svg')
    &.black
      background-image url('../../images/pieces/merida/rotated/bK.svg')


/* Cburnett */
.cburnett .cg-piece
  &.pawn
    &.white
      background-image url('../../images/pieces/cburnett/wP.svg')
    &.black
      background-image url('../../images/pieces/cburnett/bP.svg')
  &.bishop
    &.white
      background-image url('../../images/pieces/cburnett/wB.svg')
    &.black
      background-image url('../../images/pieces/cburnett/bB.svg')
  &.knight
    &.white
      background-image url('../../images/pieces/cburnett/wN.svg')
    &.black
      background-image url('../../images/pieces/cburnett/bN.svg')
  &.rook
    &.white
      background-image url('../../images/pieces/cburnett/wR.svg')
    &.black
      background-image url('../../images/pieces/cburnett/bR.svg')
  &.queen
    &.white
      background-image url('../../images/pieces/cburnett/wQ.svg')
    &.black
      background-image url('../../images/pieces/cburnett/bQ.svg')
  &.king
    &.white
      background-image url('../../images/pieces/cburnett/wK.svg')
    &.black
      background-image url('../../images/pieces/cburnett/bK.svg')

#page.white .otb.mode_facing .cburnett .cg-piece.black,
#page.black .otb.mode_facing .cburnett .cg-piece.white,
#page.white .otb.mode_flip.turn_black .cburnett .cg-piece,
#page.black .otb.mode_flip.turn_white .cburnett .cg-piece
  &.pawn
    &.white
      background-image url('../../images/pieces/cburnett/rotated/wP.svg')
    &.black
      background-image url('../../images/pieces/cburnett/rotated/bP.svg')
  &.bishop
    &.white
      background-image url('../../images/pieces/cburnett/rotated/wB.svg')
    &.black
      background-image url('../../images/pieces/cburnett/rotated/bB.svg')
  &.knight
    &.white
      background-image url('../../images/pieces/cburnett/rotated/wN.svg')
    &.black
      background-image url('../../images/pieces/cburnett/rotated/bN.svg')
  &.rook
    &.white
      background-image url('../../images/pieces/cburnett/rotated/wR.svg')
    &.black
      background-image url('../../images/pieces/cburnett/rotated/bR.svg')
  &.queen
    &.white
      background-image url('../../images/pieces/cburnett/rotated/wQ.svg')
    &.black
      background-image url('../../images/pieces/cburnett/rotated/bQ.svg')
  &.king
    &.white
      background-image url('../../images/pieces/cburnett/rotated/wK.svg')
    &.black
      background-image url('../../images/pieces/cburnett/rotated/bK.svg')

/* Pirouetti */
.pirouetti .cg-piece
  &.pawn
    &.white
      background-image url('../../images/pieces/pirouetti/wP.svg')
    &.black
      background-image url('../../images/pieces/pirouetti/bP.svg')
  &.bishop
    &.white
      background-image url('../../images/pieces/pirouetti/wB.svg')
    &.black
      background-image url('../../images/pieces/pirouetti/bB.svg')
  &.knight
    &.white
      background-image url('../../images/pieces/pirouetti/wN.svg')
    &.black
      background-image url('../../images/pieces/pirouetti/bN.svg')
  &.rook
    &.white
      background-image url('../../images/pieces/pirouetti/wR.svg')
    &.black
      background-image url('../../images/pieces/pirouetti/bR.svg')
  &.queen
    &.white
      background-image url('../../images/pieces/pirouetti/wQ.svg')
    &.black
      background-image url('../../images/pieces/pirouetti/bQ.svg')
  &.king
    &.white
      background-image url('../../images/pieces/pirouetti/wK.svg')
    &.black
      background-image url('../../images/pieces/pirouetti/bK.svg')

#page.white .otb.mode_facing .pirouetti .cg-piece.black,
#page.black .otb.mode_facing .pirouetti .cg-piece.white,
#page.white .otb.mode_flip.turn_black .pirouetti .cg-piece,
#page.black .otb.mode_flip.turn_white .pirouetti .cg-piece
  &.pawn
    &.white
      background-image url('../../images/pieces/pirouetti/rotated/wP.svg')
    &.black
      background-image url('../../images/pieces/pirouetti/rotated/bP.svg')
  &.bishop
    &.white
      background-image url('../../images/pieces/pirouetti/rotated/wB.svg')
    &.black
      background-image url('../../images/pieces/pirouetti/rotated/bB.svg')
  &.knight
    &.white
      background-image url('../../images/pieces/pirouetti/rotated/wN.svg')
    &.black
      background-image url('../../images/pieces/pirouetti/rotated/bN.svg')
  &.rook
    &.white
      background-image url('../../images/pieces/pirouetti/rotated/wR.svg')
    &.black
      background-image url('../../images/pieces/pirouetti/rotated/bR.svg')
  &.queen
    &.white
      background-image url('../../images/pieces/pirouetti/rotated/wQ.svg')
    &.black
      background-image url('../../images/pieces/pirouetti/rotated/bQ.svg')
  &.king
    &.white
      background-image url('../../images/pieces/pirouetti/rotated/wK.svg')
    &.black
      background-image url('../../images/pieces/pirouetti/rotated/bK.svg')

/* alpha */
.alpha .cg-piece
  &.pawn
    &.white
      background-image url('../../images/pieces/alpha/wP.svg')
    &.black
      background-image url('../../images/pieces/alpha/bP.svg')
  &.bishop
    &.white
      background-image url('../../images/pieces/alpha/wB.svg')
    &.black
      background-image url('../../images/pieces/alpha/bB.svg')
  &.knight
    &.white
      background-image url('../../images/pieces/alpha/wN.svg')
    &.black
      background-image url('../../images/pieces/alpha/bN.svg')
  &.rook
    &.white
      background-image url('../../images/pieces/alpha/wR.svg')
    &.black
      background-image url('../../images/pieces/alpha/bR.svg')
  &.queen
    &.white
      background-image url('../../images/pieces/alpha/wQ.svg')
    &.black
      background-image url('../../images/pieces/alpha/bQ.svg')
  &.king
    &.white
      background-image url('../../images/pieces/alpha/wK.svg')
    &.black
      background-image url('../../images/pieces/alpha/bK.svg')

#page.white .otb.mode_facing .alpha .cg-piece.black,
#page.black .otb.mode_facing .alpha .cg-piece.white,
#page.white .otb.mode_flip.turn_black .alpha .cg-piece,
#page.black .otb.mode_flip.turn_white .alpha .cg-piece
  &.pawn
    &.white
      background-image url('../../images/pieces/alpha/rotated/wP.svg')
    &.black
      background-image url('../../images/pieces/alpha/rotated/bP.svg')
  &.bishop
    &.white
      background-image url('../../images/pieces/alpha/rotated/wB.svg')
    &.black
      background-image url('../../images/pieces/alpha/rotated/bB.svg')
  &.knight
    &.white
      background-image url('../../images/pieces/alpha/rotated/wN.svg')
    &.black
      background-image url('../../images/pieces/alpha/rotated/bN.svg')
  &.rook
    &.white
      background-image url('../../images/pieces/alpha/rotated/wR.svg')
    &.black
      background-image url('../../images/pieces/alpha/rotated/bR.svg')
  &.queen
    &.white
      background-image url('../../images/pieces/alpha/rotated/wQ.svg')
    &.black
      background-image url('../../images/pieces/alpha/rotated/bQ.svg')
  &.king
    &.white
      background-image url('../../images/pieces/alpha/rotated/wK.svg')
    &.black
      background-image url('../../images/pieces/alpha/rotated/bK.svg')

/* spatial */
.spatial .cg-piece
  &.pawn
    &.white
      background-image url('../../images/pieces/spatial/wP.svg')
    &.black
      background-image url('../../images/pieces/spatial/bP.svg')
  &.bishop
    &.white
      background-image url('../../images/pieces/spatial/wB.svg')
    &.black
      background-image url('../../images/pieces/spatial/bB.svg')
  &.knight
    &.white
      background-image url('../../images/pieces/spatial/wN.svg')
    &.black
      background-image url('../../images/pieces/spatial/bN.svg')
  &.rook
    &.white
      background-image url('../../images/pieces/spatial/wR.svg')
    &.black
      background-image url('../../images/pieces/spatial/bR.svg')
  &.queen
    &.white
      background-image url('../../images/pieces/spatial/wQ.svg')
    &.black
      background-image url('../../images/pieces/spatial/bQ.svg')
  &.king
    &.white
      background-image url('../../images/pieces/spatial/wK.svg')
    &.black
      background-image url('../../images/pieces/spatial/bK.svg')

#page.white .otb.mode_facing .spatial .cg-piece.black,
#page.black .otb.mode_facing .spatial .cg-piece.white,
#page.white .otb.mode_flip.turn_black .spatial .cg-piece,
#page.black .otb.mode_flip.turn_white .spatial .cg-piece
  &.pawn
    &.white
      background-image url('../../images/pieces/spatial/rotated/wP.svg')
    &.black
      background-image url('../../images/pieces/spatial/rotated/bP.svg')
  &.bishop
    &.white
      background-image url('../../images/pieces/spatial/rotated/wB.svg')
    &.black
      background-image url('../../images/pieces/spatial/rotated/bB.svg')
  &.knight
    &.white
      background-image url('../../images/pieces/spatial/rotated/wN.svg')
    &.black
      background-image url('../../images/pieces/spatial/rotated/bN.svg')
  &.rook
    &.white
      background-image url('../../images/pieces/spatial/rotated/wR.svg')
    &.black
      background-image url('../../images/pieces/spatial/rotated/bR.svg')
  &.queen
    &.white
      background-image url('../../images/pieces/spatial/rotated/wQ.svg')
    &.black
      background-image url('../../images/pieces/spatial/rotated/bQ.svg')
  &.king
    &.white
      background-image url('../../images/pieces/spatial/rotated/wK.svg')
    &.black
      background-image url('../../images/pieces/spatial/rotated/bK.svg')

/* reilly */
.reilly .cg-piece
  &.pawn
    &.white
      background-image url('../../images/pieces/reilly/wP.svg')
    &.black
      background-image url('../../images/pieces/reilly/bP.svg')
  &.bishop
    &.white
      background-image url('../../images/pieces/reilly/wB.svg')
    &.black
      background-image url('../../images/pieces/reilly/bB.svg')
  &.knight
    &.white
      background-image url('../../images/pieces/reilly/wN.svg')
    &.black
      background-image url('../../images/pieces/reilly/bN.svg')
  &.rook
    &.white
      background-image url('../../images/pieces/reilly/wR.svg')
    &.black
      background-image url('../../images/pieces/reilly/bR.svg')
  &.queen
    &.white
      background-image url('../../images/pieces/reilly/wQ.svg')
    &.black
      background-image url('../../images/pieces/reilly/bQ.svg')
  &.king
    &.white
      background-image url('../../images/pieces/reilly/wK.svg')
    &.black
      background-image url('../../images/pieces/reilly/bK.svg')

#page.white .otb.mode_facing .reilly .cg-piece.black,
#page.black .otb.mode_facing .reilly .cg-piece.white,
#page.white .otb.mode_flip.turn_black .reilly .cg-piece,
#page.black .otb.mode_flip.turn_white .reilly .cg-piece
  &.pawn
    &.white
      background-image url('../../images/pieces/reilly/rotated/wP.svg')
    &.black
      background-image url('../../images/pieces/reilly/rotated/bP.svg')
  &.bishop
    &.white
      background-image url('../../images/pieces/reilly/rotated/wB.svg')
    &.black
      background-image url('../../images/pieces/reilly/rotated/bB.svg')
  &.knight
    &.white
      background-image url('../../images/pieces/reilly/rotated/wN.svg')
    &.black
      background-image url('../../images/pieces/reilly/rotated/bN.svg')
  &.rook
    &.white
      background-image url('../../images/pieces/reilly/rotated/wR.svg')
    &.black
      background-image url('../../images/pieces/reilly/rotated/bR.svg')
  &.queen
    &.white
      background-image url('../../images/pieces/reilly/rotated/wQ.svg')
    &.black
      background-image url('../../images/pieces/reilly/rotated/bQ.svg')
  &.king
    &.white
      background-image url('../../images/pieces/reilly/rotated/wK.svg')
    &.black
      background-image url('../../images/pieces/reilly/rotated/bK.svg')

/* fantasy */
.fantasy .cg-piece
  &.pawn
    &.white
      background-image url('../../images/pieces/fantasy/wP.svg')
    &.black
      background-image url('../../images/pieces/fantasy/bP.svg')
  &.bishop
    &.white
      background-image url('../../images/pieces/fantasy/wB.svg')
    &.black
      background-image url('../../images/pieces/fantasy/bB.svg')
  &.knight
    &.white
      background-image url('../../images/pieces/fantasy/wN.svg')
    &.black
      background-image url('../../images/pieces/fantasy/bN.svg')
  &.rook
    &.white
      background-image url('../../images/pieces/fantasy/wR.svg')
    &.black
      background-image url('../../images/pieces/fantasy/bR.svg')
  &.queen
    &.white
      background-image url('../../images/pieces/fantasy/wQ.svg')
    &.black
      background-image url('../../images/pieces/fantasy/bQ.svg')
  &.king
    &.white
      background-image url('../../images/pieces/fantasy/wK.svg')
    &.black
      background-image url('../../images/pieces/fantasy/bK.svg')

#page.white .otb.mode_facing .fantasy .cg-piece.black,
#page.black .otb.mode_facing .fantasy .cg-piece.white,
#page.white .otb.mode_flip.turn_black .fantasy .cg-piece,
#page.black .otb.mode_flip.turn_white .fantasy .cg-piece
  &.pawn
    &.white
      background-image url('../../images/pieces/fantasy/rotated/wP.svg')
    &.black
      background-image url('../../images/pieces/fantasy/rotated/bP.svg')
  &.bishop
    &.white
      background-image url('../../images/pieces/fantasy/rotated/wB.svg')
    &.black
      background-image url('../../images/pieces/fantasy/rotated/bB.svg')
  &.knight
    &.white
      background-image url('../../images/pieces/fantasy/rotated/wN.svg')
    &.black
      background-image url('../../images/pieces/fantasy/rotated/bN.svg')
  &.rook
    &.white
      background-image url('../../images/pieces/fantasy/rotated/wR.svg')
    &.black
      background-image url('../../images/pieces/fantasy/rotated/bR.svg')
  &.queen
    &.white
      background-image url('../../images/pieces/fantasy/rotated/wQ.svg')
    &.black
      background-image url('../../images/pieces/fantasy/rotated/bQ.svg')
  &.king
    &.white
      background-image url('../../images/pieces/fantasy/rotated/wK.svg')
    &.black
      background-image url('../../images/pieces/fantasy/rotated/bK.svg')

/* shapes */
.shapes .cg-piece
  &.pawn
    &.white
      background-image url('../../images/pieces/shapes/wP.svg')
    &.black
      background-image url('../../images/pieces/shapes/bP.svg')
  &.bishop
    &.white
      background-image url('../../images/pieces/shapes/wB.svg')
    &.black
      background-image url('../../images/pieces/shapes/bB.svg')
  &.knight
    &.white
      background-image url('../../images/pieces/shapes/wN.svg')
    &.black
      background-image url('../../images/pieces/shapes/bN.svg')
  &.rook
    &.white
      background-image url('../../images/pieces/shapes/wR.svg')
    &.black
      background-image url('../../images/pieces/shapes/bR.svg')
  &.queen
    &.white
      background-image url('../../images/pieces/shapes/wQ.svg')
    &.black
      background-image url('../../images/pieces/shapes/bQ.svg')
  &.king
    &.white
      background-image url('../../images/pieces/shapes/wK.svg')
    &.black
      background-image url('../../images/pieces/shapes/bK.svg')

/* chessnut */
.chessnut .cg-piece
  &.pawn
    &.white
      background-image url('../../images/pieces/chessnut/wP.svg')
    &.black
      background-image url('../../images/pieces/chessnut/bP.svg')
  &.bishop
    &.white
      background-image url('../../images/pieces/chessnut/wB.svg')
    &.black
      background-image url('../../images/pieces/chessnut/bB.svg')
  &.knight
    &.white
      background-image url('../../images/pieces/chessnut/wN.svg')
    &.black
      background-image url('../../images/pieces/chessnut/bN.svg')
  &.rook
    &.white
      background-image url('../../images/pieces/chessnut/wR.svg')
    &.black
      background-image url('../../images/pieces/chessnut/bR.svg')
  &.queen
    &.white
      background-image url('../../images/pieces/chessnut/wQ.svg')
    &.black
      background-image url('../../images/pieces/chessnut/bQ.svg')
  &.king
    &.white
      background-image url('../../images/pieces/chessnut/wK.svg')
    &.black
      background-image url('../../images/pieces/chessnut/bK.svg')

#page.white .otb.mode_facing .chessnut .cg-piece.black,
#page.black .otb.mode_facing .chessnut .cg-piece.white,
#page.white .otb.mode_flip.turn_black .chessnut .cg-piece,
#page.black .otb.mode_flip.turn_white .chessnut .cg-piece
  &.pawn
    &.white
      background-image url('../../images/pieces/chessnut/rotated/wP.svg')
    &.black
      background-image url('../../images/pieces/chessnut/rotated/bP.svg')
  &.bishop
    &.white
      background-image url('../../images/pieces/chessnut/rotated/wB.svg')
    &.black
      background-image url('../../images/pieces/chessnut/rotated/bB.svg')
  &.knight
    &.white
      background-image url('../../images/pieces/chessnut/rotated/wN.svg')
    &.black
      background-image url('../../images/pieces/chessnut/rotated/bN.svg')
  &.rook
    &.white
      background-image url('../../images/pieces/chessnut/rotated/wR.svg')
    &.black
      background-image url('../../images/pieces/chessnut/rotated/bR.svg')
  &.queen
    &.white
      background-image url('../../images/pieces/chessnut/rotated/wQ.svg')
    &.black
      background-image url('../../images/pieces/chessnut/rotated/bQ.svg')
  &.king
    &.white
      background-image url('../../images/pieces/chessnut/rotated/wK.svg')
    &.black
      background-image url('../../images/pieces/chessnut/rotated/bK.svg')

/* chess7 */
.chess7 .cg-piece
  &.pawn
    &.white
      background-image url('../../images/pieces/chess7/wP.svg')
    &.black
      background-image url('../../images/pieces/chess7/bP.svg')
  &.bishop
    &.white
      background-image url('../../images/pieces/chess7/wB.svg')
    &.black
      background-image url('../../images/pieces/chess7/bB.svg')
  &.knight
    &.white
      background-image url('../../images/pieces/chess7/wN.svg')
    &.black
      background-image url('../../images/pieces/chess7/bN.svg')
  &.rook
    &.white
      background-image url('../../images/pieces/chess7/wR.svg')
    &.black
      background-image url('../../images/pieces/chess7/bR.svg')
  &.queen
    &.white
      background-image url('../../images/pieces/chess7/wQ.svg')
    &.black
      background-image url('../../images/pieces/chess7/bQ.svg')
  &.king
    &.white
      background-image url('../../images/pieces/chess7/wK.svg')
    &.black
      background-image url('../../images/pieces/chess7/bK.svg')

#page.white .otb.mode_facing .chess7 .cg-piece.black,
#page.black .otb.mode_facing .chess7 .cg-piece.white,
#page.white .otb.mode_flip.turn_black .chess7 .cg-piece,
#page.black .otb.mode_flip.turn_white .chess7 .cg-piece
  &.pawn
    &.white
      background-image url('../../images/pieces/chess7/rotated/wP.svg')
    &.black
      background-image url('../../images/pieces/chess7/rotated/bP.svg')
  &.bishop
    &.white
      background-image url('../../images/pieces/chess7/rotated/wB.svg')
    &.black
      background-image url('../../images/pieces/chess7/rotated/bB.svg')
  &.knight
    &.white
      background-image url('../../images/pieces/chess7/rotated/wN.svg')
    &.black
      background-image url('../../images/pieces/chess7/rotated/bN.svg')
  &.rook
    &.white
      background-image url('../../images/pieces/chess7/rotated/wR.svg')
    &.black
      background-image url('../../images/pieces/chess7/rotated/bR.svg')
  &.queen
    &.white
      background-image url('../../images/pieces/chess7/rotated/wQ.svg')
    &.black
      background-image url('../../images/pieces/chess7/rotated/bQ.svg')
  &.king
    &.white
      background-image url('../../images/pieces/chess7/rotated/wK.svg')
    &.black
      background-image url('../../images/pieces/chess7/rotated/bK.svg')


/* symmetric */
.symmetric .cg-piece
  &.pawn
    &.white
      background-image url('../../images/pieces/symmetric/wP.svg')
    &.black
      background-image url('../../images/pieces/symmetric/bP.svg')
  &.bishop
    &.white
      background-image url('../../images/pieces/symmetric/wB.svg')
    &.black
      background-image url('../../images/pieces/symmetric/bB.svg')
  &.knight
    &.white
      background-image url('../../images/pieces/symmetric/wN.svg')
    &.black
      background-image url('../../images/pieces/symmetric/bN.svg')
  &.rook
    &.white
      background-image url('../../images/pieces/symmetric/wR.svg')
    &.black
      background-image url('../../images/pieces/symmetric/bR.svg')
  &.queen
    &.white
      background-image url('../../images/pieces/symmetric/wQ.svg')
    &.black
      background-image url('../../images/pieces/symmetric/bQ.svg')
  &.king
    &.white
      background-image url('../../images/pieces/symmetric/wK.svg')
    &.black
      background-image url('../../images/pieces/symmetric/bK.svg')

#page.white .otb.mode_facing .symmetric .cg-piece.black,
#page.black .otb.mode_facing .symmetric .cg-piece.white,
#page.white .otb.mode_flip.turn_black .symmetric .cg-piece,
#page.black .otb.mode_flip.turn_white .symmetric .cg-piece
  &.knight
    &.white
      background-image url('../../images/pieces/symmetric/rotated/wN.svg')
    &.black
      background-image url('../../images/pieces/symmetric/rotated/bN.svg')
