body
  overflow hidden
  font-family 'montserratregular'
  font-size 90%
  background-color: #1c2328

h2
  text-transform uppercase

button
  border none
  outline none
  -webkit-tap-highlight-color rgba(0,0,0,0)
  user-select none
  &.disabled
    opacity 1
    &::before
      opacity 0.4

input
  -webkit-appearance none

span.fa
  margin-right 10px

.disabled
  opacity 0.4

.hide
  display none

.clearfix:after
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;

.small
  font-size 0.9em

.scroller
  overflow hidden

.vertical_align
  position relative
  top 50%
  transform translateY(-50%)

.loader_circles
  display inline-block
  width 55px
  height 12px

.loader_circles div {
  background-color:#C4A86F;
  opacity: 0;
  float:left;
  height:13px;
  width:13px;
  margin-left:5px;
  animation-name:bounce_loader_circles;
  animation-duration:2s;
  animation-iteration-count:infinite;
  animation-direction:linear;
  border-radius:50%;
}

.loader_circles .circle_1 {
  animation-delay: 0.5s;
}

.loader_circles .circle_2 {
  animation-delay: 1s;
}

.loader_circles .circle_3 {
  animation-delay: 1.5s;
}

@keyframes bounce_loader_circles {
  0% { }
  50% { opacity: 1 }
  100% { }
}

/* lists */
.list_item
  position relative
  color #AEAEAE
  line-height 20px
  padding 15px
  border-bottom 1px solid #2E3033
  &:last-child
    border-bottom none
  &.active
    background lighten(#1c2328, 5%)

.nav:after
  content "\f054"
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  position absolute
  right 15px
  line-height 20px
