body
  overflow hidden
  font-family 'montserratregular'

h2
  text-transform uppercase

button
  border none
  outline none
  -webkit-tap-highlight-color rgba(0,0,0,0)

input
  -webkit-appearance none

.fa:before
  margin-left -3px

.disabled
  opacity 0.4

.hide
  display none

.vertical_align
  position relative
  top 50%
  transform translateY(-50%)
