body
  overflow hidden
  font-family 'montserratregular'

h2
  text-transform uppercase
  font-family 'montserratbold'
  font-size 0.9em


button
  border none
  outline none
  -webkit-tap-highlight-color rgba(0,0,0,0)

input
  -webkit-appearance none

.fa:before
  margin-left -3px

.disabled
  opacity 0.4

button.disabled
  opacity 1
  &::before
    opacity 0.4


.hide
  display none

.vertical_align
  position relative
  top 50%
  transform translateY(-50%)

// .body_spinner
//   content ''
//   display block
//   height 45px
//   width 45px
//   border solid 2px #bb9b59
//   position absolute
//   left -2px
//   top -2px
//   border-right none
//   border-radius 50%
//   animation anim_loader 2s linear infinite
//   @keyframes anim_loader
//     to
//       transform:rotateZ(360deg)

.loader_circles {
  display: inline-block;
  width:74px;
  height: 12px;
  margin-left: 10px;
}

.loader_circles div {
  background-color:#C4A86F;
  opacity: 0;
  float:left;
  height:13px;
  width:13px;
  margin-left:5px;
  -webkit-animation-name:bounce_loader_circles;
  -webkit-animation-duration:2s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:linear;
  -webkit-border-radius:50%;
}

.loader_circles .circle_1 {
  -webkit-animation-delay: 0.5s;
}

.loader_circles .circle_2 {
  -webkit-animation-delay: 1s;
}

.loader_circles .circle_3 {
  -webkit-animation-delay: 1.5s;
}

@-webkit-keyframes bounce_loader_circles {
  0% { }
  50% { opacity: 1 }
  100% { }
}
