.editor
  @media only screen and (orientation: portrait)
    height 100%
  @media only screen and (orientation: landscape)
    height calc(100vh - 50px)
    width calc(100vh - 50px)
    flex 0 0 auto
    display flex
    flex-flow column nowrap
    align-items center
    .board_wrapper
      height calc(100% - 100px)
      width calc(100% - 100px)
  @media only screen and (orientation: landscape) and (min-height 700px) and (max-width 1050px)
    height calc(100vh - 50px - 12vh)
    width calc(100vh - 50px - 12vh)
    flex 0 0 auto
    margin auto 0


.sparePieces
  height calc((100% - 100vw - 45px) / 2)
  display flex
  justify-content center
  align-items center
  padding 0 10px
  color #fff
  overflow hidden
  background-color #777
  box-shadow 0px 1px 3px 1px rgba(0,0,0,0.2) inset
  @media only screen and (orientation: landscape)
    height 50px

.sparePieceWrapper
  position relative
  display inline-block
  width calc(100vw / 8)
  height calc(100vw / 8)
  @media only screen and (orientation: landscape)
    height 45px
    width 45px

.editorMenu
  > .popup_content
    padding 10px
  .select_input
    margin-top 0
    &.color
      margin-top 10px
    select
      padding-left 80px
  .castling
    margin-top 10px
  .check_container
    margin-top 10px


.table
  > .editorMenu
    flex 1 1 auto
    display flex
    flex-flow column nowrap
    justify-content space-around

.continueFromHere
  h2
    font-weight bold
