.sparePieces
  height calc((100% - 100vw - 45px) / 2)
  padding 0 10px
  display flex
  justify-content space-between
  align-items center
  color #fff
  overflow hidden

.sparePieceWrapper
  position: relative;
  display: inline-block;
  width: 44px;
  height: 44px;
