.editor
  @media only screen and (orientation: portrait)
    height 100%
  @media only screen and (orientation: landscape)
    height calc(100vh - 50px)
    width calc(100vh - 50px)
    flex 0 0 auto
    display flex
    flex-flow column nowrap
    align-items center
    .board_wrapper
      height calc(100% - ((100vh - 50px - 10vh) / 8) * 2)
      width calc(100% - ((100vh - 50px - 10vh) / 8) * 2)
  @media only screen and (orientation: landscape) and (min-height 700px)
    flex 0 0 auto
    margin auto 0
    .board_wrapper
      height calc(100% - ((100vh - 50px - 12vh) / 8) * 2)
      width calc(100% - ((100vh - 50px - 12vh) / 8) * 2)

.sparePieces
  height calc((100% - 100vw - 45px) / 2)
  display flex
  justify-content center
  align-items center
  padding 0 10px
  color #fff
  overflow hidden
  background-color #777
  box-shadow 0px 1px 3px 1px rgba(0,0,0,0.2) inset
  @media only screen and (orientation: landscape)
    height calc((100vh - 50px - 10vh) / 8)
  @media only screen and (orientation: landscape) and (min-height 700px)
    height calc((100vh - 150px - 12vh) / 8)

.sparePieceWrapper
  position relative
  display inline-block
  width calc(100vw / 8)
  height calc(100vw / 8)
  @media only screen and (orientation: landscape)
    width calc((100vh - 150px - 10vh) / 8)
    height calc((100vh - 150px - 10vh) / 8)
  @media only screen and (orientation: landscape) and (min-height 700px)
    height calc((100vh - 150px - 12vh) / 8)
    width calc((100vh - 150px - 12vh) / 8)

.editorMenu
  > .popup_content
    padding 10px
  .select_input
    margin-top 0
    &.color
      margin-top 10px
    select
      padding-left 80px
  .castling
    margin-top 10px
  .check_container
    margin-top 10px


.table.editorTable
  > .editorMenuOuter
    flex 1 1 auto
    display flex
    flex-flow column nowrap
    justify-content space-around
    align-items center
    .check_container
      margin-top 10px
    > .editorMenuInner
      width 100%
    @media only screen and (orientation: landscape) and (min-height 700px)
      > .editorMenuInner
        width 70%
      margin calc((100vh - 150px - 12vh) / 8) 0
      .castling
        margin-top 3em


.continueFromHere
  h2
    font-weight bold
