// checkbox
.check_container
  display: flex;
  justify-content: space-between;
  min-height 30px
input[type='checkbox']
  flex 0 0 70px
  position relative
  margin 0
  border none
  height 30px
  border-radius 15px
  background-color #444444
  transition background-color 200ms
  outline none
input[type='checkbox']:checked:before
  position absolute
  top 8px
  left 15px
  font-family "lichess"
  color #fff
  content "E"
input[type='checkbox']:checked
  background gold
input[type='checkbox']:after
  content ''
  display inline-block
  position absolute
  top 5px
  left 5px
  width 20px
  height 20px
  border-radius 50%
  background #fff
  transition left 200ms
input[type='checkbox']:checked:after
  left 40px

// select
.select_input
  background #fff
  height 40px
  line-height 40px
  color textDarkGray
  padding 0 10px
  font-size 0.85em
  position relative
  margin-top 15px
  box-shadow 0px 1px 2px 0px rgba(0,0,0,0.1)
  &.inline
    display inline-block
    width 49%
    margin-right 2%
    &:last-child
      margin-right 0
    select
      padding-right 0
    label
      &:after
        content ""
  select
    background transparent
    border none
    outline none
    width 100%
    position absolute
    left 0px
    -webkit-appearance none
    padding-left 90px
    padding-right 25px
    height 40px
    line-height 40px
  &.large_label select
    padding-left 150px
  &.no_label select
    padding-left 10px
  label
    padding: 0
    color labelText
    &:after
      content "▼"
      font-size 0.8em
      position absolute
      right 10px
      color #5f5f5f


// radio
.nice-radio
  display inline-block
  clear both
  width 50%
  label
    width 100%
    background #fff
    color labelText
    height 40px
    box-shadow 0px 1px 2px 0px rgba(0,0,0,0.1)
  input.radio:empty
    display: none
  input.radio:empty + label
    position relative
    float left
    line-height 40px
    padding 0 20px
    font-size 0.9em
    -webkit-tap-highlight-color rgba(0,0,0,0)
  input.radio:empty + label:after
    position absolute
    display block
    bottom 12px
    left 0
    content ''
    text-align left
    width 2.5em
  input.radio:checked + label
    background-color gold
    padding-left 30px
    color #fff
  input.radio:checked + label:after
    display inline-block
    font normal normal normal 14px/1 FontAwesome
    padding-top 20px
    font-size inherit
    text-rendering auto
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    content: "\f00c"
    text-indent .9em

button.fat
  display block
  width 80%
  background gold
  color #fff
  padding 15px
  margin 20px auto
  &.active
    background lighten(gold, 10%)
