.onlineFriends
  height 60%
  > header span
    color gold
    margin-right 10px
    font-size 1.2em
    position relative
    top 3px
  > .popup_content
    background bglight
    overflow hidden
    position relative
    height calc(100% - 45px)
    border-radius 0 0 5px 5px
    > .native_scroller
      height 100%
    .list_item
      border-bottom-color #eee
    > .nofriend
      display flex
      align-items center
      justify-content center
