.friends_list
  margin-bottom 15px
  height calc(100% - 60px)
  &.general
    margin-bottom 0
    height calc(100% - 90px)

#friends
  .list_item
    padding 0
    line-height 60px
  label
    display block
    padding 15px
    width 100%
    height 100%
    

