.content.round
  @media only screen and (orientation: portrait)
    &.onlyBoard
      height calc(100% - 50px)
      display flex
      align-items center
  @media only screen and (orientation: landscape)
    display flex

.playTable
  height calc((100% - 100vw - 45px) / 2)
  padding 0 10px
  display flex
  justify-content space-between
  align-items center
  color #fff
  overflow hidden
  @media only screen and (orientation: landscape)
    padding 0
    flex 1 0 auto
    height initial
    &.player
      > .antagonistInfos
        align-self flex-end
      > .clock
        align-self flex-start
    &.opponent
      > .antagonistInfos
        align-self flex-start
      > .clock
        align-self flex-end

.replay
  flex 0 0 auto
  height 250px
  padding 1rem 2rem
  overflow hidden
  @media only screen and (orientation: landscape) and (max-height 450px)
    height 100px
    padding 5px 0
  @media only screen and (orientation: landscape) and (min-height 450px)
    height 150px
    padding 5px 0
  @media only screen and (orientation: landscape) and (min-height 550px)
    height 200px
  @media only screen and (orientation: landscape) and (min-height 700px)
    height 300px
  @media only screen and (orientation: landscape) and (min-height 800px)
    height 400px

.gameMovesList
  height 100%
  width 100%
  background lighten(bgdark, 3%)
  > .moves
    border-collapse collapse
    border-spacing 0px
    width 100%

.replayMoveIndex, .replayMove
  vertical-align middle
  padding 0
  height 30px
  @media only screen and (orientation: landscape) and (max-height 400px)
    height 20px
  @media only screen and (orientation: landscape) and (max-height 500px)
    height 25px

.replayMoveIndex
  width: 15%;
  text-align: center;

.replayMove
  transition: background-color 0.13s ease 0s;
  &.current
    color orange
  &.active
    background-color lighten(bgdark, 8%)

.antagonistInfos
  max-width calc(100% - 100px)
  overflow hidden
  .rp.null
    color textGray
  .rp.up
    color green
  .rp.down
    color red
  .rating
    font-size 0.9em
    color gold
    display inline-block
    vertical-align top
    margin-right 10px
  .ratingAndMaterial
    height 18px
  &.active
    background-color lighten(bgdark, 8%)
  &.offline
    max-width 100%
  @media only screen and (min-width 960px) and (orientation landscape)
    .ratingAndMaterial
      height 25px
    .rating
      display block
      margin 0.2rem 0 0.5rem

.antagonistUser
  overflow hidden
  text-overflow ellipsis
  font-weight bold
  font-size 1.1rem
  white-space nowrap
  > .status
    margin-right 5px
    vertical-align middle
    &.online
      color green
    &.offline
      opacity 0.6
  > .ongame
    margin-left 5px
    &.yes
      color green
    &.no
      color red

.clock
  transform translateZ(0)
  width 90px
  font-family Cousine
  font-weight bold
  text-align right
  font-size 25px
  &.running
    color gold
    &.emerg
      color red
  &.correspondence
    font-family 'Noto Sans'
    font-size 17px

.checkCount
  font-size 0.6em
  display inline-block
  vertical-align top
  margin 2px 10px 0 0
  font-weight bold

.tomb
  display inline-block
  margin-left 8px
  div
    margin-left -6px
    width 18px
    height 18px
    margin-top -5px
    background-size cover
    display inline-block
  .pawn
    background-image url(../../images/pieces/mono/P.svg)
  .bishop
    background-image url(../../images/pieces/mono/B.svg)
  .knight
    background-image url(../../images/pieces/mono/N.svg)
  .rook
    background-image url(../../images/pieces/mono/R.svg)
  .queen
    background-image url(../../images/pieces/mono/Q.svg)
  .king
    background-image url(../../images/pieces/mono/K.svg)
  @media only screen and (orientation landscape)
    &:first-child
      margin-left 0
      div
        margin-top 0
        margin-left 0
  @media only screen and (min-width 960px) and (orientation landscape)
    div
      width 25px
      height 25px

#promotion_choice
  border 1px solid black
  background-color rgba(255,255,255, 0.7)
  position absolute
  top calc((100vh - 100px) / 2)
  height 100px
  width 100%
  text-align center
  .cg-piece
    position relative
    display inline-block
    width 60px
    height 60px
    margin 0 5px
    top 17px

.tableHeader, .player_controls
  .icon-game
    display inline-block
    font-size 33px
    color gold
  .game-title
    display inline-block
    line-height 20px
    margin-left 10px
    text-align left
    text-transform uppercase
  .variant
    padding 7px 0
    text-decoration underline
    &.active
      background-color darken(#fff, 5%)

.player_controls
  &.overlay_popup > header
    line-height 1
    padding 10px
  button
    &.flipped
      color gold
    &.draw-yes:before
      display inline-block
      transform rotate(-90deg)
  .negotiation, .force_resign_zone
    text-align center
    padding 0 10px
    margin 10px 0
    color gold
  .answers, .force_resign_zone
    margin-top 5px
  .notice
    margin 5px 0

.player_controls, .offline_actions, .playersTable
  .resultStatus
    color gold
  .result
    padding 0 10px
    text-align center
    margin 1em 0

.join_url_challenge, .await_url_challenge
  header
    color gold
  .infos
    padding 10px
    text-align center
  .explanation, .time
    margin 5px 0
  .time:before
    margin-right 5px
  .go_or_cancel
    margin-top 10px
  .error
    font-size 0.9em
  button
    color textDarkGray
    border-bottom none
    &.binary_choice
      &[data-icon=E]
        background gold
        color #FFF
        padding 0 5px
        &.active
          background lighten(gold, 10%)

.lichess_game_url
  margin 10px 0;
  width: 95%
  text-align: center;
  font-size: 0.7em;
  padding: 10px
  background: #eee;
  font-family: Cousine;
  border: 1px solid #ccc;

.submitMovePopup
  background-color rgba(0,0,0,0.2)
  > .overlay_popup
    top calc(100vh - 45px - ((100vh - 100vw) / 2) / 2)
    @media only screen and (orientation: landscape)
      top calc(100vh / 2)
      left initial
      right 1rem
      width calc(100vw - 100vh + 50px - 5vw)
    @media only screen and (orientation: landscape) and (min-height 700px) and (max-width 1050px)
      left initial
      right 1rem
      width calc(100vw - 100vh + 50px + 12vh - 5vw)
    border-radius 5px
    button
      &:first-child
        border-radius 5px 0 0 5px
      &:last-child
        border-radius 0 5px 5px 0

