#wrapper_games
  position absolute
  top 13%
  width 100%
  z-index 12

#all_games
  height 100%
  position relative

.wrapper_overlay_close
  position absolute
  width 100%
  height 100%
  z-index 10

.card
  background textDarkGray
  position relative
  float left
  border-radius 5px
  box-shadow 0 2px 3px 0 rgba(0,0,0,0.5)
  .infos
    text-align center
    text-transform uppercase
    position relative
  .icon-game
    font-size 20px
    color darken(gold, 10%)
    background #EFE1C7
    border solid 2px textDarkGray
    padding-top 10px
    display block
    height 45px
    width 45px
    position absolute
    top -22px
    left 0
    right 0
    margin 0 auto
    border-radius 50%;
    box-shadow: inset 0px 0px 3px 0px #96762F;
    z-index 3
  .description
    line-height 1
    padding 20px 0 10px
    height 100px
  h2
    margin-top 20px
    font-size 1.4em
    color #fff
    .rating
      font-size 0.8em
      color gold
  p
    font-size 0.9em
    color gold
    margin-top 20px
    font-weight 300
    .time-indication
      display block
      margin-top 5px

.card.challenge
  background gold
  color #fff
  .icon-game
    border-color darken(gold, 20%)
    color darken(gold, 40%)
  h2
    margin-top 10px
    font-size 1em
    font-weight 600
  p
    margin-top 10px
    text-transform none
    color #fff
  .actions
    height 45px
    background #aa8f58
    border-radius 0 0 5px 5px
    button
      font-size 0.85em
      text-transform uppercase
      padding 0
      line-height 45px
      display inline-block
      width 50%
      &:first-child
        border-right 1px solid #9b814d

