#wrapper_games
  position absolute
  top 13%
  width 100%

#all_games
  height 100%
  position relative

.card
  background textDarkGray
  position relative
  float left
  z-index 9999
  .infos
    text-align center
    text-transform uppercase
    position relative
  .icon-game
    font-size 20px
    color darken(gold, 10%)
    background #EFE1C7
    border solid 2px textDarkGray
    padding-top 10px
    display block
    height 45px
    width 45px
    position absolute
    top -22px
    left 0
    right 0
    margin 0 auto
    border-radius 50%;
    box-shadow: inset 0px 0px 3px 0px #96762F;
    z-index 3
  .description
    line-height 1
    padding 20px 0
  h2
    margin-top 10px
    font-size 1.2em
    color #fff
  p
    font-size 0.8em
    color gold
    margin-top: 10px
    font-weight 300
    .time-indication
      display block
      margin-top 5px
  button
    position relative
    width 100%
    height 50px
    border none
    background: bgdark
    border-top-color #404040
    font-size 0.85em
    text-transform uppercase
    border-top solid 1px #EBEBEB

