#wrapper_games
  width 100%
  height 100%

#all_games
  height 100%
  position relative

.card
  background transparent
  position relative
  top 13%
  float left
  z-index 9999
  .infos
    text-align center
    color #fff
    background: #fff
    text-transform uppercase
    position relative
  .icon-game
    font-size 20px
    color darken(#C4A86F, 10%)
    background #EFE1C7
    border solid 2px #fff
    padding-top 10px
    display block
    height 45px
    width 45px
    position absolute
    top -22px
    left 0
    right 0
    margin 0 auto
    border-radius 50%;
    box-shadow: inset 0px 0px 3px 0px #96762F;
    &:after
      content ''
      display block
      height 45px
      width 45px
      border solid 2px #bb9b59
      position absolute
      left -2px
      top -2px
      border-right none
      border-radius 50%
      animation anim_loader 2s linear infinite
      @keyframes anim_loader
        from 
          transform:rotateZ(10deg)
        
        to 
          transform:rotateZ(360deg)
        
      
  .description
    padding 20px 0
  h2
    margin-top 10px
    font-size 16px
    color #383838
  p
    font-size 11px
    color #C4A86F
    margin-top: 10px
    font-family 'montserratlight'
    .time-indication
      display block
      margin-top 5px
  button
    position relative
    width 100%
    height 50px
    border none
    color #C4A86F
    background #fff
    font-size 12px
    text-transform uppercase
    border-top solid 1px #EBEBEB
  &.black
    .infos
      background: #151a1e
    button
      background: #151a1e
      border-top-color #404040
    .icon-game
      border-color #151a1e

.new-game
  perspective: 1000;
  background transparent
  min-height 400px
  &.back_visible
    .container_flip
      transform rotateY(180deg)
      .back
        display block
    .cg-board-wrap.view-only
      .cg-board
        position inherit
      .cg-square
        position inherit
      .cg-piece
        display none
  .container_flip
    position relative
    height 100%
    transform-style: preserve-3d;
    transition 0.4s
  .back
    display none
  .front, .back
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    backface-visibility: hidden;
  .front
    z-index 2
    transform rotateY(0deg)
  .back
    transform rotateY(180deg)
    background: #2A2A2A;
    header
      background #212121
      min-height 50px
      line-height 50px
      padding 0 20px
      color white
      font-size 16px
      text-transform uppercase
      text-align center
  .infos
    background #383838
    h2
      color #fff
    p
      color #a9a9a9
    button
      background #2A2A2A
      color #fff
      border none

#new_game_form
  padding-top 10px
  fieldset
    padding 0px 20px
  button
    width 100%
    height 50px
    position absolute
    bottom 0
    border none
    background #C4A86F
    color #fff
    font-size 12px
    text-transform uppercase
    line-height: 50px;
  .nice-radio
    input.radio.computer:empty ~ label
      text-align right
      border-radius 0 25px 25px 0
    input.radio.human:empty ~ label
      border-radius 30px 0 0 30px
    input.radio.human:empty ~ label:after
      left auto
      right 0
