.antagonist
  overflow auto
  position relative
  clear both
  .infos
    float left
    width 50%;
    h2
      white-space nowrap
      margin-bottom 3px
  .rp.up
    color green
  .rp.down
    color red
  .rating
    font-size 0.6em
    color #C4A86F
    display inline-block
    vertical-align top
    margin 2px 10px 0 0
    font-family 'montserratlight'
  .vertical_align
    min-height 30px
  .clock
    float right
    max-width 50%
    font-family CousineBold
    text-align right
    min-width 90px
    font-size 25px
    padding-top: 3px;
    &.correspondence
      font-size 17px
  .checks
    font-size 0.6em
    display inline-block
    vertical-align top
    margin 2px 10px 0 0
    font-weight bold
  .tomb
    display inline-block
    margin-left 8px
    div
      margin-left -6px
      width 18px
      height 18px
      margin-top -5px
      background-size cover
      display inline-block
    .pawn
      background-image url(../../images/pieces/mono/P.svg)
    .bishop
      background-image url(../../images/pieces/mono/B.svg)
    .knight
      background-image url(../../images/pieces/mono/N.svg)
    .rook
      background-image url(../../images/pieces/mono/R.svg)
    .queen
      background-image url(../../images/pieces/mono/Q.svg)
    .king
      background-image url(../../images/pieces/mono/K.svg)

.clock.running
  color #C4A86F

.board
  width 100%
  height 100%

#promotion_choice
  border 1px solid black
  background-color rgba(255,255,255, 0.7)
  position absolute
  height 100px
  width 100%
  text-align center
  .cg-piece
    position relative
    display inline-block
    width 60px
    height 60px
    margin 0 5px
    top 17px

#game_actions
  border-top 1px solid #EBEBEB
  padding 0
  max-height 45px
  position absolute
  bottom 0
  width 100%

main.black #game_actions
  border-top-color #2E3033

.game_action
  display inline-block
  text-align center
  background transparent
  padding 12px 10px 8px
  font-size 1em
  outline none
  border none
  color: #C4A86F
  height 100%
  border-right 1px solid #EBEBEB
  width 25%
  transition background 0.13s
  &:last-child
    border-right none
  &:active
    background: #C4A86F
    color #fff

main.black .game_action
  border-color #2E3033

@-webkit-keyframes answer_glow {
  50%   { 
    color #000
    background #C4A86F
  }
}

#open_player_controls.answer_required,
#open_chat.unread
  -webkit-animation answer_glow 5s infinite

#player_controls
  width 100%
  padding 0 10px
  .answers, .force_resign_zone
    margin-top 2em
  .result
    margin-bottom 2em
  .force_resign_zone > button, .negotiation > button
    width 49%
