.home
  padding 10px


.mini_board
  @media only screen and (orientation: portrait)
    width 66vw
  @media only screen and (orientation: landscape)
    width 66vh
  > .board_wrapper
    width 100%
    @media only screen and (orientation: portrait)
      height 66vw
    @media only screen and (orientation: landscape)
      height 66vh
  > .vsbloc
    font-size 0.8em
    display flex
    flex-flow row nowrap
    justify-content space-between
    background: linear-gradient(to bottom,rgba(40,40,40,1),rgba(34,34,34,1) 100%);
    border 1px solid #323232
    padding 5px
    overflow hidden
    > .time
      display flex
      justify-content center
      align-items center
