.inboxWrapper
  height 100%

.emptyInbox
  padding-left 10px
  padding-top 5px

table.threadList
  width 100%
  tr.unread
    font-weight bold
  td.threadAuthor
    text-align: left
    text-overflow: ellipsis
    white-space: nowrap
    overflow hidden
    width 30%
    position relative
    max-width 0
  td.threadName
    text-align: left
    text-overflow: ellipsis
    white-space: nowrap
    overflow hidden
    width 50%
    position relative
    max-width 0
  td.threadDate
    text-align: left
    width 20%
    white-space: nowrap
    overflow hidden
    position relative
    max-width 0

.threadWrapper
  height 100%
  
.postWrapper
  width 90%
  margin 0 auto
  border-top 1px solid #d4d4d4
  &.first
    border-top none
  .infos
    width 90%
    margin 0 auto
