#login, #signup
  form
    margin-top 2em
  input
    display block
    width 80%
    margin 0 auto
    margin-top 10px
    height 50px
    background #fff
    border-radius 5px
    border 1px solid #ddd
    padding 0 15px
  button.fat
    display block
    width 80%
    background gold
    color #fff
    padding 15px
    margin 0 auto
    margin-top 20px
    &.active
      background lighten(gold, 10%)
  .signup
    margin-top 40px
    text-align center
    color gold

.signupWarning
  font-size 0.9em
  text-align justify

.tosWarning
  text-align justify
  font-size 0.8em
  a
    text-decoration underline
