.view-container
  position absolute
  display block
  overflow hidden
  width 100%
  height 100%

main
  position absolute
  height 100%
  width 100%
  background #1c2328
  color #fff
  overflow hidden

.menu-close-overlay
  position absolute
  top 0
  left 0
  height 100%
  width 100%
  z-index 2
  background rgba(0,0,0,0.5)
  visibility hidden

main.out
  .menu-close-overlay
    visibility visible
  .game_menu_button
    display none

.main_header
  background #151a1e
  height 50px
  &.board
    background inherit
  nav
    max-height 50px
    overflow hidden
    h1
      font-size 1em
      text-align center
      width 69%
      margin 0 auto
      line-height 50px
      &.playing
        text-transform none
        color #C4A86F
      &.reconnecting
        white-space nowrap
        overflow hidden
        color #C4A86F
        text-align center
        height 50px
    button
      width 15%
      max-width 50px
      background transparent
      padding: 15px 15px
      margin 0
      color #C4A86F
      font-size 20px
      line-height 20px
  .menu_button, .back_button
    float left
  .back_button
    max-width none
    width 70%
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    text-align left
    &:before
      margin-right 10px
  .game_menu_button
    position relative
    float right
    &::before
      content ''
      display block
      width 20px
      height 20px
      background url('../../images/game_icon.svg') no-repeat
    &.brown::before
      background url('../../images/icons/game_icon_brown.svg') no-repeat
    &.blue::before
      background url('../../images/icons/game_icon_blue.svg') no-repeat
    &.green::before
      background url('../../images/icons/game_icon_green.svg') no-repeat
    &.grey::before
      background url('../../images/icons/game_icon_grey.svg') no-repeat
    &.purple::before
      background url('../../images/icons/game_icon_purple.svg') no-repeat
    &.wood::before
      background url('../../images/icons/game_icon_wood.svg') no-repeat
    &.wood2::before
      background url('../../images/icons/game_icon_wood2.svg') no-repeat
    &.wood3::before
      background url('../../images/icons/game_icon_wood3.svg') no-repeat
    &.blue3::before
      background url('../../images/icons/game_icon_blue3.svg') no-repeat
    &.canvas::before
      background url('../../images/icons/game_icon_canvas.svg') no-repeat
    &.metal::before
      background url('../../images/icons/game_icon_metal.svg') no-repeat
    & > .nb_playing
      position absolute
      top 10px
      left 7px
      font-size 10px
      font-family 'montserratbold'
      line-height 14px
      letter-spacing -1px
      color #1c2328
      background #C4A86F
      border 2px solid #1c2328
      border-radius 50%
      height 17px
      width 17px

.main_header, .main_footer
  section
    height 50%
    padding 0 10px

.content
  width 100%
  height 100%
