#side_menu
  position absolute
  top 0
  bottom 0
  height 100%
  min-height 100%
  max-height 100%
  width 85%
  @media only screen and (min-width 500px)
    width 50%
  @media only screen and (min-width 960px)
    width 35%
  background #353535
  color #DFDFDF
  overflow hidden
  z-index 100
  transition transform 250ms ease-out
  transform translate3d(-100%,0,0)
  &.in
    box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.5)
    transform translate3d(0,0,0)
  section
    padding 0 15px
  header
    background #2A2A2A
    color gold
    text-align center
  .login
    color: #fff;
    background: #454545;
    padding: 10px;
    width: 80%;
    text-transform: uppercase;
    margin-bottom 10px
    &.active
      background lighten(#454545, 5%)
  h3
    text-transform uppercase
    color #fff
    font-weight normal
    margin 40px 0px 30px 0
  .native_scroller
    height 100%

.side_menu_header
  position relative
  color #fff
  .logo
    background-image url(../../images/pirouettiGoldK.svg)
    background-repeat no-repeat
    background-position center 10px
    background-size 40px
    height 50px
    width 100%
  .username
    text-align center
    line-height 40px
    font-size 1.2rem
    width 100%
    color #FFF
  .open_button
    position absolute
    right 0
    bottom 0
    width 50px
    height 40px
    line-height 40px
    color gold
    text-align center
    &.active
      background lighten(#353535, 8%)

.side_links
  color textLightGray
  .hr
    margin 10px 0
    border-bottom 1px solid #4c4c4c

.side_link
  padding 10px 0 10px 15px
  margin 5px 0
  font-size 0.9rem
  font-weight bold
  line-height 19px
  > span
    color gold
    width 17px
    font-size 19px
    margin-right 15px
  > .menu_icon_game
    &::before
      content ''
      display inline-block
      width 18px
      height 18px
      background url('../../images/icons/game_icon_gold.svg') no-repeat
  > .highlight
    color gold
    font-weight bold
  &:last-child
    margin-bottom 10px
  &.active
    background lighten(#353535, 5%)

.sep_link
  color #8a8a8a
  padding 15px 15px 10px
