.modal
  position absolute
  top 0
  left 0
  z-index 111
  width 100%
  height 100%
  min-height 100%
  overflow hidden
  background-color #fff
  visibility hidden
  > header
    position absolute
    z-index 2
    top 0
    left 0
    width 100%
    height 50px
    background #fff
    border-bottom solid 1px #E1E1E1
    > h2
      text-align center
      line-height 50px
      color textDarkGray
  &.show
    visibility visible

.modal_close
  position absolute
  right 0
  top 0
  padding 10px
  background transparent
  font-size 24px
  line-height 25px
  height 50px
  color gold

.modal_content
  background bglight
  color textDarkGray
  height 100%
  padding-top 50px
  overflow-y auto
  p
    margin 1em 15px 0

.modal_slide
  visibility visible
  opacity 0
  transform translate3d(0, 100%, 0)
  transition transform 250ms, opacity 1ms 250ms
  &.show
    opacity 1
    transition transform 250ms
    transform translate3d(0,0,0)
