.game_form_popup
  background bglight
  > .popup_content
    padding 0

.game_form
  fieldset
    padding 0px 20px
  .check_container
    margin-top 15px

button.newGameButton
  width 100%
  height 45px
  border-radius 0 0 5px 5px
  margin 20px 0 0
  background gold
  color #FFF
  font-size 0.85em
  text-transform uppercase
  &[data-icon=E]:before
    color #fff
  &:before
    margin-right 10px
  &.active
    background lighten(gold, 10%)
  > .fa-hourglass-half
    font-size 20px

.rating_range
  margin-top 10px
  .select_input
    margin-top 5px
    select
      padding-left 60px

.setupPosition
  display flex
  justify-content center
  margin-top 10px

.setupMiniBoardWrapper
  width 100px
  height 100px
