.playersTable.offline
  margin-top 0
  .antagonistInfos
    width 100%
  .select_input
    background #353535
    color textLightGray
    margin-top 0
    select
      padding-left 110px
    + .select_input
      margin-top 15px
