.playersTable.offline
  margin-top 0
  .antagonistInfos
    width 100%
  .select_input
    background #353535
    color textLightGray
    margin-top 0
    select
      padding-left 110px
    + .select_input
      margin-top 15px

.engineSpinner
  height 41px
  font-size 25px

.offline_actions
  .claimDraw
    button.draw-yes:before
      display inline-block
      transform rotate(-90deg)
  .opponentSelector
    .select_input
      margin-top 0


