.overlay
  position fixed
  width 100%
  height 100%
  top 0
  left 0
  background rgba(0,0,0,0.85)
  color #ffffff
  z-index 10

.overlay_close
  position absolute
  right 0
  top 0
  padding 17px
  background transparent
  font-size 1.5em
  z-index 11
  color gold

.overlay_fade
  opacity 0
  visibility hidden
  transition opacity 200ms, visibility 0s 200ms

.overlay_fade.open
  opacity 1
  visibility visible
  transition opacity 200ms
