.overlay.popup
  background rgba(0,0,0,0.5)

.overlay_popup
  position absolute
  top 20%
  left 10%
  width 80%
  max-height 70%
  z-index 12
  border-radius 5px
  background-color: #fff
  color #383838
  > header
    padding 10px
    position relative
    min-height 45px
    width 100%
    border-bottom solid 1px #E1E1E1
    > h2
      text-align center
      line-height 45px
  @media only screen and (min-device-width 700px)
    width 50%
    left 25%
    right 25%
  @media only screen and (max-device-height 480px)
    max-height 85%
    top 10%

.popup_content
  padding-bottom 5px
