.overlay
  position fixed
  width 100%
  height 100%
  top 0
  left 0
  background rgba(0,0,0,0.85)
  color #ffffff
  z-index 10

.overlay_close
  position absolute
  right 0
  top 0
  padding 17px
  background transparent
  font-size 1.5em
  z-index 11
  color #C4A86F

.overlay_share
  position absolute
  left 0
  top 0
  padding 17px
  background transparent
  font-size 1.5em
  z-index 11
  color #C4A86F

.overlay_content
  position relative
  top 50%
  transform translateY(-50%)
  text-align center
  button
    background none
    color #C4A86F
    text-align left
    text-transform uppercase
    font-size 0.9em
    margin 1em 0
    &:before
      content attr(data-icon)
      display inline-block
      width 40px
      height 40px
      text-align center
      line-height 40px
      color #C4A86F
      border-radius 50%
      background #fff
      margin-right 10px
    &.active
      color #fff
      &:before
        background #C4A86F
        color #fff

.overlay_fade
  opacity 0
  visibility hidden
  transition opacity 200ms, visibility 0s 200ms

.overlay_fade.open
  opacity 1
  visibility visible
  transition opacity 200ms

.overlay_scale
  visibility hidden
  opacity 0
  transform scale(0.9)
  transition transform 0.1s, opacity 0.1s, visibility 0s 0.1s

.overlay_scale.open
  visibility: visible
  opacity: 1
  transform: scale(1)
  transition: transform 0.2s, opacity 0.2s
