.overlay
  position fixed
  width 100%
  height 100%
  top 0
  left 0
  background rgba(0,0,0,0.85)
  color #ffffff
  z-index 10

.overlay_close
  position absolute
  right 0
  top 0
  padding 17px
  background transparent
  font-size 1.5em
  z-index 11
  color #C4A86F

.overlay_content
  position relative
  top 50%
  transform translateY(-50%)
  text-align center
  button
    background none
    color #C4A86F
    text-align left
    text-transform uppercase
    font-size 0.9em
    margin 1em 0
    &:before
      content attr(data-icon)
      display inline-block
      width 40px
      height 40px
      text-align center
      line-height 40px
      color #C4A86F
      border-radius 50%
      background #fff
      margin-right 10px
    &:active
      &:before
        background #C4A86F
        color #fff
    &.draw-yes:before
      transform: translateY(-1px) rotate(-90deg);
  .actions
    text-align left
    button
      display block
      margin 2em 0
