.search_input
  position relative
  width 68%
  margin 0 auto
  height 50px
  > input
    background transparent
    width 100%
    height 100%
    border none
    outline none
    margin 0
    padding 0
    &::placeholder
      opacity 0.8
