.search_input
  position relative
  width 68%
  margin 0 auto
  height 50px
  > input
    background transparent
    width calc(100% - 35px)
    height 100%
    line-height 50px
    border none
    outline none
    margin 0
    padding 0
    padding-left 35px
  > .icon
    position absolute
    width 30px
    height 50px
    line-height 50px
    text-align center
    left 0
    top 0
    margin 0
