#searchPlayersModal
  color textLightGray
  > header
    background-color headerBgDark
    border-bottom-style none
    display flex
    justify-content space-between
    > button
      width 50px
      background transparent
      padding 15px
      margin 0
      color gold
      font-size 20px
      line-height 20px
      &.active
        background lighten(bgdark, 8%)
  > .modal_content
    color textLightGray
    background bgdark

.search_input
  position relative
  width calc(100% - 70px)
  margin 0 auto
  height 50px
  > input
    background transparent
    width 100%
    height 100%
    border none
    outline none
    margin 0
    padding 0
    &::placeholder
      opacity 0.6

.playerSuggestion
  display flex
  justify-content space-between
  padding-right 35px

#allRanking
  display flex
  flex-flow row wrap
  justify-content space-around

.ranking
  width 100%
  padding 15px
  border-bottom 1px solid #2E3033
  @media only screen and (min-width 600px)
    flex 0 1 250px

.rankingPerfTitle
  font-size 1rem
  font-weight 600
  > .perfIcon
    font-size 1.2rem
    color gold
    margin-right 10px
    position relative
    top 3px
  > .toggleIcon
    display inline-block
    vertical-align middle
    text-align center
    width 24px
    height 24px
    margin-left 10px

.rankingPlayer
  padding 10px 0
  display flex
  justify-content space-between
  &.active
    background lighten(bgdark, 8%)
  @media only screen and (min-width 600px)
    font-size 0.9rem
    border-bottom-style none
    padding 5px 0
