// targets iphone 4
@media only screen and (device-width 320px) and (device-height 480px) and (orientation portrait)
  .antagonist
    font-size 12px
    .clock
      font-size 23px
      &.correspondence
        font-size 14px
    .material
      display none
    .infos
      h2
        white-space normal
        overflow hidden

  #wrapper_games
    max-height 380px
    .card
      max-height 380px
      top 10%
      .description
        padding 10px 0
      h2
        font-size 1.1em
      p
        margin-top 10px

  .player_controls
    .result
      margin 0.5em 0
    .force_resign_zone
      margin-top 0
