// targets small devices like iphone 4
@media only screen and (max-device-height 480px)
  .playing
    visibility hidden
  .main_header
    max-height 65px
    .antagonist
      position relative
      top -25px
      left 13%
      width 70%
      .material
        display none
      .infos
        h2
          white-space normal
          overflow hidden
    nav
      position relative
      top 10px
      h1
        display none
      button
        width 40px
        padding 10px
        &.fa
          font-size 1em
    .vertical_align
      top 0
      transform none
  .main_footer
    min-height 95px

  .card
    top 10%
    .description
      padding 10px 0

  #player_controls .force_resign_zone
    margin-top 0

  #game_actions
    padding 0
