// targets very small devices like iphone 4
@media only screen and (max-device-height 480px)
  .playing
    visibility hidden
  .main_header
    max-height 65px
    .antagonist
      position relative
      height 100%
      top -30px
      left 15%
      width 70%
      .clock
        font-size 23px
      .material
        display none
      .infos
        h2
          white-space normal
          overflow hidden
    .game_menu_button
      & > .nb_playing
        top 3px
        left 3px

    nav
      position relative
      top 10px
      h1
        line-height 40px
        &.playing
          display none
      button
        width 40px
        padding 10px
    .vertical_align
      top 0
      transform none

    nav.reconnecting + .antagonist
      display none

  .main_footer
    min-height 95px

  #wrapper_games
    max-height 380px
    .card
      max-height 380px
      top 10%
      .description
        padding 10px 0
      h2
        font-size 1.1em
      p
        margin-top 10px

  .player_controls
    .result
      margin 0.5em 0
    .force_resign_zone
      margin-top 0

  #game_actions
    padding 0



@media only screen and (max-device-width 340px)
  .side_menu_header .perf .nb
    display none

@media only screen and (max-device-width 550px)
  .side_menu_header .perf::before
    display none
