.seeks_scroller
  margin-bottom 20px
  height calc(100% - 120px)
  overflow hidden
  .must_signin
    text-align center

.empty_seeks_list
  width 90%
  margin 0 auto
  text-align center

.seek
  overflow hidden
  &.cancel
    color gold
  .icon::before
    display block
    float left
    font-size 40px
    opacity 0.5
  .body
    line-height 22px
    margin-left 60px

button#newGameCorres
  position absolute
  bottom 60px
  right 15px
  background inherit
  color textLightGray
  line-height 50px
  max-height 50px
  font-size 17px
  margin 0 auto
  .fa
    margin-right 10px
