.seeks
  .seek
    overflow hidden
    padding 20px 10px
    border-bottom 1px solid #2E3033
    line-height 26px
  .icon::before
    display block
    float left
    font-size 80px
    padding-right 20px
    opacity 0.5

.disconnected
  button.fat
    display block
    width 80%
    background #C4A86F
    color #fff
    padding 15px
    font-size 15px
    margin 0 auto
    margin-top 20px
