.settings_list
  margin 15px 0
  height calc(100% - 80px)

#boardThemes, #pieceThemes
  label
    text-transform capitalize
    margin-left 15px

#pieceThemes
  .list_item
    line-height 60px

.app_version
  position absolute
  bottom 0
  padding 15px
  font-size 0.8em
  color darken(#DFDFDF, 10%)

.radio
  -webkit-appearance radio

.board_icon
  display inline-block
  position absolute
  right 15px
  width: 64px;
  height: 32px;
  background-size: 256px;
  border: 1px solid #AEAEAE
  &.brown
    background-image url('../../images/board/brown.png')
  &.blue
    background-image url('../../images/board/blue.png')
  &.green
    background-image url('../../images/board/green.png')
  &.purple
    background-image url('../../images/board/purple.png')
  &.wood
    background-image url('../../images/board/wood.jpg')
  &.wood3
    background-image url('../../images/board/wood3.jpg')
  &.blue3
    background-image url('../../images/board/blue3.jpg')
  &.canvas
    background-image url('../../images/board/canvas.jpg')
  &.grey
    background-image url('../../images/board/grey.jpg')

.piece_icon
  width 60px
  height 60px
  position absolute
  right 15px
  background-size cover
  &.merida
    background-image url('../../images/pieces/merida/wN.svg')
  &.cburnett
    background-image url('../../images/pieces/cburnett/wN.svg')
  &.pirouetti
    background-image url('../../images/pieces/pirouetti/wN.svg')
  &.alpha
    background-image url('../../images/pieces/alpha/wN.svg')
  &.lightp
    background-image url('../../images/pieces/lightp/wN.png')
  &.spatial
    background-image url('../../images/pieces/spatial/wN.svg')

