#settings
  margin-top 1em
  li
    line-height 20px
    padding 15px
    border-bottom 1px solid #2E3033
    &.active
      background lighten(#1c2328, 5%)

.app_version
  position absolute
  bottom 0
  padding 15px
  font-size 0.8em
  color darken(#DFDFDF, 10%)
