.settings_list
  margin-bottom 15px
  height calc(100% - 60px)
  &.general
    margin-bottom 0
    height calc(100% - 90px)

#boardThemes, #pieceThemes
  .list_item
    padding 0
  input.radio:empty
    display none
  input.radio:checked + label
    background-color lighten(#1c2328, 5%)
  input.radio:checked + label:after
    display inline-block
    font normal normal normal 14px/1 FontAwesome
    font-size inherit
    text-rendering auto
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    content: "\f00c"
    text-indent .9em
  label
    display block
    padding 15px
    width 100%
    height 100%
    text-transform capitalize

.app_version
  padding 10px 15px
  font-size 0.75em
  color darken(#DFDFDF, 10%)

.board_icon
  display inline-block
  position absolute
  right 15px
  width: 64px;
  height: 32px;
  background-size: 256px;
  &.brown
    background-image url('../../images/board/brown.png')
  &.blue
    background-image url('../../images/board/blue.png')
  &.green
    background-image url('../../images/board/green.png')
  &.purple
    background-image url('../../images/board/purple.png')
  &.wood
    background-image url('../../images/board/wood.jpg')
  &.wood2
    background-image url('../../images/board/wood2.jpg')
  &.wood3
    background-image url('../../images/board/wood3.jpg')
  &.blue3
    background-image url('../../images/board/blue3.jpg')
  &.canvas
    background-image url('../../images/board/canvas.jpg')
  &.grey
    background-image url('../../images/board/grey.jpg')
  &.metal
    background-image url('../../images/board/metal.jpg')

.list_item.piece_theme
  line-height 60px
  > label
    background-repeat no-repeat
    background-position right 10px center
    background-size 60px 60px
  &.merida
    > label
      background-image url('../../images/pieces/merida/wN.svg')
  &.cburnett
    > label
      background-image url('../../images/pieces/cburnett/wN.svg')
  &.pirouetti
    > label
      background-image url('../../images/pieces/pirouetti/wN.svg')
  &.alpha
    > label
      background-image url('../../images/pieces/alpha/wN.svg')
  &.spatial
    > label
      background-image url('../../images/pieces/spatial/wN.svg')

