td.tourName
  padding-left 5px
  text-align: left
  text-overflow: ellipsis

td.tourListTime
  padding 10px
  text-align: right

.tourListNav
  display: inline-block
  font: normal normal normal 14px/1 FontAwesome
  font-size: inherit
  text-rendering: auto
  -webkit-font-smoothing: antialiased
