.trainingSection
  height calc((100% - 100vw - 45px) / 2)
  padding 0 10px
  display flex
  justify-content space-between
  align-items center
  font-size 0.9rem
  color #fff
  overflow hidden
  @media only screen and (orientation: landscape)
    padding 0
    flex 1 0 auto
    height initial
    margin-bottom 10px
  > .puzzle
    padding 5px 0
    &:before
      font-size 1.2em

.table
  > .trainingTable
    flex 1 1 auto
    display flex
    flex-flow column nowrap
    justify-content space-between

.puzzleComment
  text-align center
  &.fail, &.loss
    color red
  &.great, &.win
    color green

.puzzleRatingDiff
  margin-left 10px
  font-size 1.5em

.trainingPlayer
  .player
    position relative

.trainingMenu
  > .popup_content
    padding 10px
  h2:before
    font-size 1.3em
    position relative
    top 2px
    margin-right 10px
  .puzzleDifficulty
    margin-bottom 10px

.trainingUserInfos.landscape
  flex 0 0 auto
  height 250px
  padding 1rem 2rem
  overflow hidden
  @media only screen and (orientation: landscape) and (max-height 450px)
    height 100px
    padding 5px 0
  @media only screen and (orientation: landscape) and (min-height 450px)
    height 150px
    padding 5px 0
  @media only screen and (orientation: landscape) and (min-height 550px)
    height 200px
  @media only screen and (orientation: landscape) and (min-height 700px)
    height 300px
  @media only screen and (orientation: landscape) and (min-height 800px)
    height 400px
  .puzzleDifficulty
    margin-top 0

