.trainingTable
  height calc((100% - 100vw - 45px) / 2)
  padding 0 10px
  display flex
  justify-content space-between
  align-items center
  font-size 0.9rem
  color #fff
  overflow hidden
  @media only screen and (orientation: landscape)
    padding 0
    flex 1 0 auto
    height initial
  > .puzzle:before
    font-size 1.2em

.no-square
  width: 64px;
  height: 64px;
  position: absolute;
  top: 0;
  left: 0;

.puzzleComment
  text-align center
  &.fail, &.loss
    color red
  &.great, &.win
    color green

.puzzleRatingDiff
  margin-left 10px
  font-size 1.5em

.trainingPlayer
  .player
    position relative

#training_actions
  padding 0
  height 45px
  width 100%
  display flex
  @media only screen and (orientation: landscape)
    width calc(100vw - (100vh - 50px) - 10px)
  @media only screen and (orientation: landscape) and (min-height 700px) and (max-width 1050px)
    width calc(100vw - (100vh - 50px - 12vh) - 10px)


.training_action
  flex 1 1 25%
  text-align center
  background transparent
  padding 10px 10px 8px
  outline none
  border none
  color: gold
  height 45px
  line-height 35px
  &:last-child
    border-right none
  &.disabled
    &:before
      opacity 1
    color rgba(gold, 0.4)
  &.active
    background lighten(bgdark, 8%)
    color lighten(gold, 40%)
  &.empty::before
    visibility hidden
  &:before
    font-size 22px
    line-height 22px
  @media only screen and (max-height 400px) and (orientation landscape)
    height 40px
    line-height 25px
    &:before
      font-size 18px
      line-height 18px

.trainingMenu
  > .popup_content
    padding 10px
  h2:before
    font-size 1.3em
    position relative
    top 2px
    color gold
    margin-right 10px
  .puzzleDifficulty
    margin-bottom 10px

