#user_profile
  padding 10px

h3.fullname
  font-weight bold

.user_profile_header
  margin-bottom 15px

.profile_bio
  margin 10px 0
  line-height 1.2em

.ratings.profile
  font-size 0.9em
  &:after
    content none

.perf
  display inline-block
  text-align left
  width 45%
  padding 5px 0
  line-height 1.2em
  &:nth-child(even)
    margin-left 10%
  &:before
    color gold
    font-size 2.4em
    float left
    margin-right 5px
  > .rating
    color #fff
    display block
    > .progress, & > .nb
      font-size 0.8em
      margin-left 0.5em
    > .progress
      &.positive
        color #759900
      &.negative
        color #ac524f
      &::before
        vertical-align middle
        margin-right 1px
    > .nb
      opacity 0.4
  > .name
    display block
    color gold
    white-space nowrap
    overflow hidden
    text-overflow ellipsis

#userProfileActions
  text-align center

.profileButton
  font-size 1.1em
  font-weight 300
  padding 0.6em
  border 1px solid textLightGray
  border-radius 2px
  &.active
    background gold
    border-color gold
    color bgdark

.userGame
  min-height 60px
  .iconGame
    position absolute
    left 15px
    top 15px
    &:before
      font-size 30px
  .title
    text-transform uppercase
  .infos
    padding-left 40px
  .players
    text-align center
    margin-top 1em
    > div
      display inline-block
      vertical-align middle
    .swords
      font-size 1.2em
      margin 0 10px
  .status
    &.win
      color #759900
    &.loose
      color #ac524f
  &.odd
    background-color lighten(bgdark, 5%)

