.profileScreen
  padding 10px

h3.fullname
  font-weight bold
  margin-bottom 10px

.user_profile_header
  margin-bottom 15px

.userStatus
  position relative
  top 3px
  margin-right 2px
  font-size 1.2em
  &.online
    color green
  &.offline
    opacity 0.6

.profileBio
  margin 10px 0
  font-style italic

.flag
  height 20px
  vertical-align bottom
  margin-right 2px

.ratings
  padding 10px
  font-size 0.9em
  &:after
    content none

.onlineStatus, .profile, .userStats
  padding 10px 15px

.profile, .userStats
  font-size 0.85em

.perf
  display inline-block
  text-align left
  width 48%
  padding 5px 0
  line-height 1.2em
  &:nth-child(even)
    margin-left 4%
  &:before
    color gold
    font-size 2em
    float left
    margin-right 5px
  > .rating
    color #fff
    display block
    > .progress, & > .nb
      font-size 0.8em
      margin-left 0.5em
    > .progress
      &.positive
        color green
      &.negative
        color red
      &::before
        vertical-align middle
        margin-right 1px
    > .nb
      opacity 0.4
  > .name
    display block
    color gold
    text-transform uppercase
    white-space nowrap
    overflow hidden
    text-overflow ellipsis

#userProfileActions
  .check_container
    line-height 30px

.userGamesWrapper
  height 100%

.select_games_filter
  margin 0
  background-color bgdark
  select
    color lighten(labelText, 50%)

.scroller.games
  background-color bglight
  height calc(100% - 90px)

.userGame
  background-color bglight
  color textGray
  min-height 60px
  padding 0
  border-bottom-color darken(bglight, 15%)
  > .nav
    padding 15px
    &:after
      line-height 1
      top 50%
  .iconGame
    color gold
    position absolute
    left 15px
    top 15px
    &:before
      font-size 30px
  .iconStar
    position absolute
    left 15px
    bottom 15px
    width 30px
    text-align center
    color textGray
    &:before
      font-size 25px
  .title
    text-transform uppercase
  .infos
    padding-left 40px
  .players
    margin-top 1em
    > div
      display inline-block
      vertical-align middle
    .swords
      font-size 1.2em
      margin 0 10px
  .playerName
    font-weight bold
  .status
    margin-top 5px
    font-size 0.9em
    &.win
      color green
    &.loose
      color red
  .opening
    margin-top 1em
    font-size 0.8em
  &.odd
    background-color darken(bglight, 5%)
    > .active
      background-color darken(bglight, 5%)
  > .active
    background-color bglight
    &:after
      color gold
  @media only screen and (min-width 600px)
    > .nav
      display flex
    .board
      width 200px
      height 200px
    .iconStar
      top 15px
      right 15px
      left initial
      bottom initial
    .iconGame
      left 230px
    .infos
      padding-left 50px

#filterGames
  padding-left 15px
