mainHeaderBg = lighten(bgdark, 8%)
mainHeaderColor = textDarkBg
borderLightGray = darken(bglight, 15%)
activeBgLight = darken(themeBgLight, 8%)

.view-container.light
  main
    color textLightBg

  #page
    background themeBgLight
    color textMediumGray

  #side_menu
    background themeBgLight
    header
      background lighten(mainHeaderBg, 15%)
    .login
      background lighten(#454545, 8%)

  .side_links .hr
    border-color textLightGray

  .sep_link
    color textMediumGray

  .side_link
    color textDarkGray
    &.active
      background darken(themeBgLight, 5%)

  #games_menu
    background rgba(0,0,0,0.6)

  button#newGameCorres
    color textMediumGray

  .fatButton
    background: linear-gradient(to bottom,rgba(245,245,245,1) 0%,rgba(240,240,240,1) 100%);
    text-shadow: 0 1px 0 #FFF;
    color: #848484;
    border-color #e2e2e2
    &.active
      background linear-gradient(to bottom,rgba(248,248,248,1) 0%,rgba(243,243,243,1) 100%);

  .mini_board
    .vsbloc
      background: linear-gradient(to bottom,rgba(245,245,245,1) 0%,rgba(240,240,240,1) 100%);
      border-color #e2e2e2

  .button
    &.active
      background activeBgLight

  input[type=checkbox]
    background #aaa
    &:checked
      background gold

  .overlay, .menu-close-overlay
    background-color rgba(0,0,0,0.6)

  .card
    background themeBgLight
    box-shadow 0px 2px 15px 0 rgba(0,0,0,0.5)
    .icon-game
      border-color themeBgLight
    h2
      color textDarkGray
    &.challenge
      background gold
      &.sending
        background lighten(textMediumGray, 25%)
        .actions
          background lighten(textMediumGray, 10%)
      h2
        color #fff

  .list_item
    border-bottom-color borderLightGray
    &.active
      background-color darken(bglight, 5%)

  .ranking
    border-bottom-color borderLightGray

  .playTable
    color textDarkGray

  .antagonistInfos
    .rating
      color textMediumGray
    &.active
      background-color activeBgLight

  .replayMove
    &.active
      background-color darken(themeBgLight, 12%)

  .clock
    color #707070
    background-color themeBgLight
    border-color #ccc
    &.running
      background-color #fff077
      color textDarkGray
    &.emerg
      background-color #efaaaa
      color textDarkGray
    &.correspondence
      &.running
        color darken(gold, 15%)
        background-color inherit
      &.offline
        background-color themeBgLight
        color #707070

  .action_bar_button
    color textGray
    &.disabled
      color rgba(textGray, 0.4)
    &.glow
      animation answer_glow_light 5s infinite
    &.highlight
      background textLightGray
      color themeBgLight
    &.active
      background darken(themeBgLight, 8%)

  .gameMovesList
    background darken(themeBgLight, 4%)
    color textMediumGray

  .main_header
    background mainHeaderBg
    box-shadow 0px 1px 1px 0px rgba(0,0,0,0.2)
    &.board
      background themeBgLight
      box-shadow none
      .main_header_button
        color textLightBg
        &.active
          background darken(themeBgLight, 8%)
      .chip
        color #eee
        background gold
        border-color #eee
      h1
        color textLightBg
    &:not(.board)
      .game_menu_button
        &.new_challenge:before
          background transparent

  .main_header_button, .friends_button, .timeline_button
    .chip
      border-color mainHeaderBg

  .radio_list
    input.radio:checked + label
      background-color darken(bglight, 10%)

  .profilePerf
    &.active
      background darken(bglight, 5%)
    > .rating
      color textDarkGray
      > .nb
        color textLightBg
    > .name
      color textDarkGray

  .select_games_filter
    background-color mainHeaderBg
    select
      color #fff
    label:after
      color #fff

  #searchPlayersModal
    > header
      background-color themeBgLight
      color textMediumGray
      border-bottom 1px solid borderLightGray
    > .modal_content
      color textMediumGray
      background-color themeBgLight
    .list_item
      border-bottom-color borderLightGray
      &.active
        background-color darken(bglight, 5%)

  .userGame
    background-color bglight
    color textMediumGray
    &.odd
      background-color darken(bglight, 5%)

  .trainingSection
    color textMediumGray

  .rankingPlayer
    &.active
      background darken(bglight, 5%)

  .analyseOpening, .cevalBox, move.active
    background darken(bglight, 10%)

  .analyseReplay > turn > index, .analyseInfos, .meta
    background darken(bglight, 5%)

  .analyseGameInfosWrapper
    border-bottom-color darken(bglight, 15%)


  .followingPlayerAction
    &.active
      background darken(bglight, 5%)

  .tabs
    background-color mainHeaderBg

  .tab
    height 45px
    &.active
      background-color lighten(mainHeaderBg, 10%)

  .tabIndicator
    height 3px


