mainHeaderBg = darken(gold, 5%)
mainHeaderColor = lighten(gold, 80%)
borderLightGray = darken(bglight, 15%)

.view-container.light
  #page
    background themeBgLight
    color textMediumGray

  #side_menu
    background themeBgLight
    color textDarkGray
    box-shadow: 4px 0px 5px rgba(0, 0, 0, 0.3)
    .side_menu_header
      background darken(themeBgLight, 5%)
      .username
        color textMediumGray

  .side_links
    color textDarkGray
    .hr
      border-bottom-color borderLightGray

  .side_link.active
    background darken(themeBgLight, 5%)

  #games_menu
    background rgba(0,0,0,0.6)

  .overlay, .menu-close-overlay
    background-color rgba(0,0,0,0.6)

  .card
    background themeBgLight
    box-shadow 0px 2px 15px 0 rgba(0,0,0,0.5)
    .icon-game
      border-color themeBgLight
    h2
      color textDarkGray

  .list_item
    border-bottom-color borderLightGray
    &.active
      background-color darken(bglight, 5%)

  .ranking
    border-bottom-color borderLightGray

  .antagonist
    color textDarkGray

  .clock
    color textDarkGray
    &.running
      color darken(gold, 10%)
      &.emerg
        color red

  .chip
    background gold
    color themeBgLight
    border-color themeBgLight

  .main_header
    background mainHeaderBg
    > nav > h1
      color themeBgLight
    .chip
      color mainHeaderBg
      background darken(mainHeaderColor, 5%)
      border-color mainHeaderBg
    &.board
      background themeBgLight
      .chip
        color themeBgLight
        background lighten(gold, 5%)
        border-color themeBgLight
      > nav > h1
        color darken(gold, 10%)
    &:not(.board)
      .main_header_button
        color mainHeaderColor
        &.active
          background lighten(mainHeaderBg, 8%)
      .game_menu_button
        &::before
          background url('../../images/icons/game_icon_light.svg') no-repeat

  .main_header_button.active, .game_menu_button.active, .game_action.active
    background darken(themeBgLight, 8%)

  .radio_list
    input.radio:checked + label
      background-color darken(bglight, 10%)

  .perf > .rating
    color textMediumGray

  .select_games_filter
    background-color lighten(mainHeaderBg, 30%)
    select
      color #fff
    label:after
      color #fff

  #searchPlayersModal
    > header
      background-color themeBgLight
      color textMediumGray
      border-bottom 1px solid borderLightGray
    > .modal_content
      background-color themeBgLight
    .list_item
      border-bottom-color borderLightGray
      &.active
        background-color darken(bglight, 5%)

