mainHeaderBg = darken(gold, 5%)
mainHeaderColor = lighten(gold, 80%)

main.light
  background themeBgLight
  color textMediumGray

  .list_item
    border-bottom-color darken(bglight, 15%)
    &.active
      background-color darken(bglight, 5%)

  .ranking
    border-bottom-color darken(bglight, 15%)

  .antagonist
    color textMediumGray

  .clock
    color textMediumGray
    &.running
      color gold
      &.emerg
        color red

  .chip
    background gold
    color themeBgLight
    border-color themeBgLight

  .main_header
    background mainHeaderBg
    > nav > h1
      color themeBgLight
    .chip
      color mainHeaderBg
      background darken(mainHeaderColor, 5%)
      border-color mainHeaderBg
    &.board
      background themeBgLight
      .chip
        color themeBgLight
        background lighten(gold, 5%)
        border-color themeBgLight
      > nav > h1
        color gold
    &:not(.board)
      .main_header_button
        color mainHeaderColor
        &.active
          background lighten(mainHeaderBg, 8%)
      .game_menu_button
        &::before
          background url('../../images/icons/game_icon_light.svg') no-repeat

  .radio_list
    input.radio:checked + label
      background-color darken(bglight, 10%)

  .perf > .rating
    color textMediumGray

  .select_games_filter
    background-color lighten(mainHeaderBg, 30%)
    select
      color #fff
    label:after
      color #fff

