<?xml version='1.0' encoding='utf-8'?>
<widget id="org.lichess.mobile" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>lichess</name>
    <description>
        lichess.org mobile application
    </description>
    <author email="vincent.velociter@gmail.com" href="https://github.com/veloce">
        Vincent Velociter
    </author>
    <content src="index.html" />
    <preference name="Orientation" value="portrait" />
    <preference name="SplashScreen" value="screen"/>
    <preference name="SplashScreenDelay" value="10000"/>
    <preference name="AutoHideSplashScreen" value="false"/>
    <preference name="ShowSplashScreenSpinner" value="false"/>
    <preference name="EnableViewportScale" value="false"/>
    <preference name="WebViewBounce" value="false"/>
    <preference name="DisallowOverscroll" value="true"/>
    <access origin="*" />
</widget>
