
.analyse-crazyPockets
  display flex
  flex-flow row nowrap
  justify-content space-around
  padding 0.5em 0

  > .pocket
    width: calc(100vw / 11 * 5);
    height: calc(100vw / 11 + 10px);
    max-height initial
    > piece
      width calc(100vw / 11)
      height calc(100vw / 11)

