.ceval-curEval
  flex 0 0 auto
  min-width 45px
  font-weight bold
  height 25px
  line-height 25px
  text-align center
  background darken(headerBgDark, 15%)
  > .spinner
    width initial
    height initial
    font-size 16px
    padding 0
    margin 0
    text-align center
  @media only screen and (orientation: landscape) and (max-height 450px)
    min-width 50px
    font-size 16px
    > .spinner
      font-size 14px

.ceval-pv_box
  font-size 0.9em
  padding 0 10px
  &.loading
    display flex
    justify-content center
    align-items center
    > .spinner
      font-size 2em

.ceval-pv
  display flex
  flex-flow row nowrap
  padding 0.5em 0
  &.active
    opacity 0.9

.ceval-pv_eval
  flex 0 0 33px
  margin-right 0.5em
