.ceval-Wrapper
  display flex
  flex-flow column nowrap
  strong
    color lighten(textDarkBg, 10%)

.ceval-infos
  flex 0 0 auto
  padding 10px
  font-size 0.9em
  > div
    margin-right 0.5em

.ceval-notEnabled
  display flex
  justify-content center
  align-items center

.ceval-curEval
  flex 0 0 auto
  min-width 45px
  font-weight bold
  height 25px
  line-height 25px
  text-align center
  background darken(headerBgDark, 15%)
  > .spinner
    width initial
    height initial
    font-size 1em
    padding 0
    margin 0
    text-align center

.ceval-pv_box
  // flex height
  height initial
  font-size 0.9em
  padding 0 10px
  flex 1 1 auto
  &.gameOver
    font-style italic
  &.loading
    display flex
    justify-content center
    align-items center
    > .spinner
      font-size 2em

.ceval-pv
  display flex
  flex-flow row nowrap
  padding 0.5em 0
  &.active
    opacity 0.9

.ceval-pv_eval
  flex 0 0 33px
  margin-right 0.5em

.ceval-spinner
  display inline
  margin-left 0.5em
  opacity 0.7
  > .fa-pulse
    will-change transform
    // 5s otherwise the phone would spend more cpu time to rotate than to analyse...
    animation fa-spin 5s infinite steps(8)

.view-container.light
  .ceval-Wrapper strong
    color inherit

.view-container.transp
  .ceval-Wrapper strong
    color textTransp
