.aboutBody
  padding 0px 10px 0px 10px
  flex-grow 1
  >p
    margin 1em
  >ul
    margin 1em
    padding inherit
    list-style inherit
  > h2
    font-size 1.2em
    font-weight bold

.about_links
  > li
    margin-bottom 1em
