.analyse-crazyPockets
  flex 0 0 calc(100vw / 11 + 10px + 2px)
  display flex
  flex-flow row nowrap
  justify-content space-around
  align-items center
  @media only screen and (orientation: landscape)
    flex 0 0 'calc((100vw - 100vh - %s) / 9 + 10px + 4px)' % headerHeight
  > .pocket
    width: calc(100vw / 11 * 5);
    height: calc(100vw / 11 + 11px);
    max-height initial
    > piece
      width calc(100vw / 11)
      height calc(100vw / 11)
      &:after
        font-size calc(100vw / 11 / 3)
        line-height calc(100vw / 11 / 3)
        padding 0.25em 0.3em
    @media only screen and (orientation: landscape)
      width: 'calc((100vw - 100vh - %s) / 9 * 5)' % headerHeight
      height: 'calc((100vw - 100vh - %s) / 9 + 10px)' % headerHeight
      max-height initial
      > piece
        width 'calc((100vw - 100vh - %s) / 9)' % headerHeight
        height 'calc((100vw - 100vh - %s) / 9)' % headerHeight
        &:after
          font-size 'calc((100vw - 100vh - %s) / 9 / 3)' % headerHeight
          line-height 'calc((100vw - 100vh - %s) / 9 / 3)' % headerHeight

