.analyseSettings
  font-size 0.9em
  label[for='showComments']
    text-transform capitalize

  .ceval-multipv
    display flex
    justify-content space-between
    > .slider
      width 30%
      height 20px

.analyse-table, .explorerTable
  flex 1 1 auto
  display flex

.analyse-boardWrapper
  flex-grow 0
  flex-shrink 0
  align-self center
  &.pos2
    order 2

.analyse-table
  position relative

.analyse-header
  background-color bgdark
  flex 0 0 25px
  overflow hidden
  display flex
  flex-flow row nowrap
  align-items center
  align-content center

.analyse-tabs
  flex 1 1 auto
  display flex
  flex-flow row nowrap
  align-items center
  justify-content space-between
  font-size 0.95em
  min-width 0 // fix white-space nowrap
  > .tab-title
    flex 1 1 auto
    padding 0 0.5em
    overflow hidden
    white-space nowrap
    > div
      overflow hidden
      text-overflow ellipsis

.tabs-navigation.analyse
  background inherit
  flex 0 0 auto
  height 25px
  > .tab-button
    font-size inherit
    position relative
    padding 0 0.5em
    height 25px
    > .chip
      height 11px
      width 11px
      line-height 11px
      font-size 9px
      text-align center
      top 3px
      right 1px
      background darken(gold, 25%)
      color #fff
      border 0
      border-radius 3px
      // text-shadow 0 1px 0 #000

.analyse-tableWrapper
  flex 1 1 auto
  display flex
  flex-flow column nowrap
  min-width 0 // fix width bug on landscape
  min-height 0 // fix chrome 73 regression
  @media only screen and (orientation: portrait) and (min-width 768px) and (min-height 768px)
    margin 0 3vw
  @media only screen and (orientation: landscape) and (min-width 768px) and (min-height 768px)
    margin 3vh

.analyse-table
  flex-flow column nowrap
  font-size 0.9em
  overflow hidden

.analyse-tabsContent
  background lighten(bgdark, 5%)
  flex 1 1 auto
  min-height 0 // fix chrome 73 regression
  > .tab-content
    > div
      flex-grow 1

.analyse-chart
  height 150px

.analyse_actions_bar
  order 3
  flex 0 0 40px
  padding 0
  width 100%
  overflow hidden

.analyse-infosBox
  flex 1 1 40%
  display flex
  flex-flow column nowrap
  > .native_scroller
    flex 1 1 auto

.analyse-loadingReplay
  flex 1 1 auto
  display flex
  justify-content center
  align-items center
  > .spinner
    width 40px
    height 40px

.analyse-replayWrapper
  display: flex
  flex-flow column nowrap
  min-height 0 // fix chrome 73 regression
  > .native_scroller
    // flex height
    height initial

.analyse-fixedBar
  background-color lighten(headerBgDark, 5%)
  flex 0 0 25px
  display flex
  padding 0 10px
  flex-flow row nowrap
  justify-content space-between
  align-items center

.analyse-replay
  flex 1 1 auto
  position relative
  font-size 1.03em
  white-space normal
  line-height 1.05em
  &.rta
    border-right 2px solid rgba(green2, 0.75)
  &.displayPieces
    move
      font-family ChessSansPiratf

.analyse-checkCount
  > span:first-child
    margin-right 0.5em

.analyse-openingBox
  line-height 25px
  padding 0 4px
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size 0.75em
  background lighten(bgdark, 5%)

.analyse-moveList
  padding 5px
  white-space normal
  &.ios
    comment
      vertical-align initial

index
  color rgba(textDarkBg, 50%)
  margin-right 0.2em
  font-weight normal

move
  display inline-block
  padding: 0.25em 0.17em
  overflow hidden
  white-space nowrap
  border-radius 3px
  font-weight bold
  &.current
    color #fff
    background rgba(blue, 0.8)
    > index
      color #fff
  &.active
    background lighten(bgdark, 10%)
  &.currentPlayable
    border: 1px solid orange

glyph
  font-size 0.85em
  margin-left 0.2em

eval
  text-align right
  font-size 0.65em
  font-weight lighter
  color rgba(textDarkBg, 75%)

interrupt
  font-size 0.9em

lines
  display block
  border-left 2px solid rgba(textDarkBg, 80%)

line
  display block
  &:before
    display inline-block
    margin-bottom 5px
    content: ' '
    border-top: 2px solid rgba(textDarkBg, 80%)
    width: 6px
    height: 6px
  &.visiting
    white-space normal
  > move
    color rgba(textDarkBg, 0.7)
  > .nested
    margin-left 5px

inline
  display: inline;
  font-style: italic;
  font-size: 0.9em;
  color rgba(textDarkBg, 0.8)
  &:before, &:after
    vertical-align 45%
  &:before
    content: '(';
    margin-left: 2px;
  &:after
    content: ')';
    margin-right: 2px;

comment
  display inline
  font-size 0.9em
  color rgba(textDarkBg, 0.7)
  margin 0 0.2em 0 0.1em
  word-wrap break-word
  vertical-align 45%

.analyse-gameInfos
  display flex
  flex-flow column nowrap
  justify-content flex-start
  align-items center
  padding 2em 1em
  width 100%
  > .gameInfos
    font-size 0.9em
  > .status
    font-size 0.9em
    margin-top 5px
  > .analyse-tournamentInfo
    margin-top 5px

.analyseOpponent
  text-align left
  margin-bottom 0.5em

.analyseClock
  font-family 'Roboto'
  font-size 0.9em
  > span
    margin-left 5px

.analysePlayerName
  overflow hidden
  text-overflow ellipsis

.view-container.light
  .tabs-navigation.analyse
    > .tab-button
      > .chip
        background goldDark

  .analyse-fixedBar
    background-color bglight

  .analyse-header
    background-color inherit
    border-bottom 1px solid borderLightGray
    .tab-button
      color textGray

  .analyse-tabsContent
    border-bottom 1px solid borderLightGray
    background #fff

  inline
    color rgba(textLightBg, 0.8)

  comment
    color rgba(textLightBg, 0.7)

  index
    color rgba(textLightBg, 0.5)

  move
    color inherit
    &.active
      background darken(bglight, 10%)
    &.current
      background blue
      color #fff
      > index
        color #fff

  line > move
    color rgba(textLightBg, 0.7)

  .analyse-openingBox
    background darken(bglight, 5%)

  .analyse_variant_selector
    background: themeBgLight
    text-shadow: 0 1px 0 #FFF;
    color: #848484;

.view-container.transp

  .analyse-fixedBar
    background-color transpBlack02

  .analyse-header
    background-color transpBlack06

  .analyse-tabsContent
    background-color transpBlack05

  .tabs-navigation.analyse
    background-color initial

  .analyse_variant_selector.select_input
    > label:after
      color rgba(textTransp, 0.7)
    background transparent

  move
    color textTransp
    &.current
      background-color transpWhite05
      color #fff
    &.active
      background-color transpWhite01

  line > move
    color rgba(textTransp, 0.7)

  index
    color transpWhite04

  inline, comment
    color transpWhite05

  .analyse-cevalBox, .analyse-infosBox
    background transpBlack03

  .ceval-curEval
    background transparent
    border-right 1px solid transpWhite01

  .analyse-openingBox
    background rgba(255,255,255,0.1)

  .analyse_actions_bar
    background transpBlack06
