.analyseSettings
  label[for='showComments']
    text-transform capitalize

.analyse-table, .explorerTable
  flex 1 1 auto
  display flex

.analyse-tableWrapper
  margin-top 5px
  flex 1 1 auto
  display flex
  flex-flow column nowrap

.analyse_actions_bar
  flex 0 0 footerHeight
  display flex
  padding 0
  height initial
  width 100%
  overflow hidden

.analyse-infosBox
  flex 1 1 40%
  display flex
  flex-flow column nowrap
  > .native_scroller
    flex 1 1 auto

.analyse-game
  width 60%
  max-width 400px
  display flex
  flex-flow column nowrap

.analyse-loadingReplay
  flex 1 1 auto
  display flex
  justify-content center
  align-items center
  > .spinner
    width 40px
    height 40px

.analyse-replay
  flex 1 1 auto
  position relative
  display flex
  flex-flow column nowrap
  font-size 0.9rem
  padding-right 5px
  &.displayPieces
    > turn
      > move
        font-family ChessSansPiratf
  @media only screen and (orientation: landscape) and (max-height 450px)
    font-size 0.7em

.analyse-openingBox
  flex 0 0 25px
  line-height 25px
  padding 0 4px
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size 0.75em
  background lighten(bgdark, 5%)

turn
  width 100%
  display flex
  flex 0 0 25px
  > move
    display flex
    flex 0 0 44%
    padding-left 5px
    padding-right 2px
    margin 0
    line-height 25px
  > index
    font-size 0.9em
    line-height 25px
    margin 0
    flex 0 0 12%
    text-align center
    background lighten(bgdark, 5%)

index
  color rgba(textDarkBg, 70%)
  font-weight lighter
  margin-right 5px
  margin-left 5px
  &:first-child
    margin-left 0

move
  display inline-flex
  margin 0 2px
  overflow hidden
  white-space nowrap
  &.current
    color orangeDark
    font-weight bold
    > eval
      color rgba(orangeDark, 70%)
  &.active
      background lighten(bgdark, 10%)

glyph
  flex 0 1 auto
  font-size 0.85em
  overflow hidden
  text-align center
  align-self center
  margin-left 3px
  margin-left 2px

eval
  flex 1 0 auto
  text-align right
  font-size 0.65em
  font-weight lighter
  color rgba(textDarkBg, 70%)

interrupt
  flex 0 0 auto
  min-height 25px
  display flex
  flex-flow column nowrap
  font-size 0.8em
  background lighten(bgdark, 5%)

lines
  display flex
  align-items center
  > .menuIcon
    flex 0 0 13%
    height 25px
    font-size 1.5em
    margin 0
    display flex
    justify-content center
    align-items center

line
  flex 0 1 auto
  width calc(100% - 25px)
  white-space nowrap
  overflow hidden
  &.visiting
    white-space normal
  > .nested
    margin-left 5px

.comment
  flex 1 1 auto
  font-size 0.8em
  display flex
  padding: 0 5px
  align-items center
  word-wrap: break-word;
  &.white
    border-left 2px solid #ccc
  &.black
    border-right 2px solid #ccc
    justify-content flex-end
  &.Inaccuracy
    border-color: #56B4E9;
  &.Mistake
    border-color: #E69F00;
  &.Blunder
    border-color: #DF5353;

.analyse_variant_selector
  width 100%
  height 36px
  margin 0
  padding 0
  padding-left 5px
  background bgdark
  box-shadow none
  color #8a8a8a
  > select
    padding-left 30px
    font-size 0.9em
  > label
    > i
      color gold
      font-size 20px

.analyse-cevalBox
  flex 0 0 38px
  position relative
  overflow hidden
  width calc(100% - 5px)
  margin-right 5px
  display flex
  flex-flow row nowrap
  align-items center
  align-content center
  background lighten(bgdark, 7%)

.analyse-engine_info
  flex 1 0
  font-size 0.65em
  padding 3px
  overflow hidden
  opacity 0.8
  > p
    white-space nowrap
    overflow hidden
    text-overflow ellipsis

.analyse-cevalBar
  position absolute
  width 0%
  height 2px
  top 0
  left 0
  background gold
  transition width linear 800ms

.analyse-curEval
  flex 0 0 auto
  height 36px
  min-width 55px
  display flex
  flex-flow column nowrap
  justify-content center
  align-items center
  font-size 16px
  font-weight bold
  padding 3px 5px
  background lighten(bgdark, 12%)
  > .spinner
    width initial
    height initial
    font-size 16px
    padding 0
    margin 0
    text-align center
  @media only screen and (orientation: landscape) and (max-height 450px)
    min-width 50px
    font-size 16px
    > .spinner
      font-size 14px

.analyse-bestMove
  font-size 0.5rem
  opacity 0.8
  font-weight normal
  line-height 1.2

.analyse-gameInfosWrapper
  padding 5px
  font-size 0.8em
  @media only screen and (min-width: 600px)
    font-size 1em
  @media only screen and (orientation landscape) and (min-width: 801px)
    font-size 0.9em
  @media only screen and (orientation landscape) and (min-width: 1025px)
    font-size 1em
  @media only screen and (orientation: landscape) and (max-height 450px)
    font-size 0.7em

.analyseGameInfosWrapper
  display flex
  border-bottom 1px solid lighten(bgdark, 15%)

.analyse-gameInfosWrapper
  display flex
  flex-flow column wrap
  justify-content flex-start
  > .gameInfos
    font-size 0.9em
  > .status
    font-size 0.9em
    margin-top 5px

.analyseOpponent
  text-align left
  margin-bottom 0.5em
  > .pocket
    width 100%
    height calc(40vw / 6 + 10px)
    > piece
      width calc(40vw / 6)
      height calc(40vw / 6)
      &:after
        padding: 3px 5px 4px 5px;
        font-weight: bold;
        border-radius: 1px;
        font-size: 10px;
        line-height: 10px;
        padding: 1px 2px 2px 2px;
  @media only screen and (orientation portrait) and (min-width 600px)
    > .pocket > piece:after
      font-size 18px
      line-height 18px
      padding 2px 3px 3px 3px
  @media only screen and (orientation: landscape)
    > .pocket
      height 'calc(((100vw - 100vh - %s) * 40 / 100) / 6 + 10px)' % headerHeight
      max-width initial
      > piece
        width 'calc(((100vw - 100vh - %s) * 40 / 100) / 6 + 10px)' % headerHeight
        height 'calc(((100vw - 100vh - %s) * 40 / 100) / 6 + 10px)' % headerHeight
  @media only screen and (orientation: landscape) and (aspect-ratio 4/3), (orientation: landscape) and (device-aspect-ratio 4/3), (orientation landscape) and (device-aspect-ratio 3/4)
    > .pocket
      height 'calc(((100vw - (100vh - %s - 12vh)) * 40 / 100) / 6 + 10px)' % headerHeight
      > piece
        width 'calc(((100vw - (100vh - %s - 12vh)) * 40 / 100) / 6 + 10px)' % headerHeight
        height 'calc(((100vw - (100vh - %s - 12vh)) * 40 / 100) / 6 + 10px)' % headerHeight

.analyseClock
  font-family Cousine
  font-size 0.9em
  > span
    margin-left 5px

.analysePlayerName
  overflow hidden
  text-overflow ellipsis

.variationMenuPopup
  font-size 1rem
  height 100px
  top calc((100% - 100px) / 2)
  border-radius 5px
  text-align center
  .variationMenu
    display flex
    flex-flow column nowrap
    justify-content center
    height 100%

.explorerTable
  position relative
  overflow-x: hidden;
  white-space: nowrap;
  display flex
  flex-flow column nowrap
  > div
    width 100%
  .empty
    text-align: center;
  .spinner_overlay
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display flex
    align-items center
    justify-content center
    visibility hidden
    > .spinner
      margin 22px 0 0
      width initial
      height initial
      font-size 25px
  tbody, > .message
    transition: opacity 0.13s;
  th, .title
    color #ccc
    text-transform: capitalize;
    font-weight normal
    font-size: 12px;
    line-height: 22px;
    background darkBlue
    text-align: left;
    padding-left: 7px;
  th
    &.explorerMove-games
      padding-left 15px
    &.explorerMove-result
      padding-left 15px
  tr
    transition: background-color 0.13s;
    &:nth-child(even)
      background: lighten(bgdark, 5%)
  td
    vertical-align middle
    padding-left: 7px;
    &.explorerMove-move
      font-size: 14px;
      line-height: 30px;
      padding-left: 7px;
    &.explorerMove-games
      font-size: 11px;
      text-align: right;
      padding-left 10px
    &.explorerMove-result
      width: 100%;
      padding-right: 7px;
      padding-left 15px
  .white
    background: #bbb;
    color: #222;
    box-shadow: 0 -5px 7px rgba(0,0,0,0.25) inset;
  .draws, .black
    color: #fff;
    box-shadow: 0 5px 7px rgba(255,255,255,0.2) inset;
  .draws
    background: #666;
    color: #ddd;
  .black
    background: #333;
    box-shadow: 0 5px 7px rgba(255,255,255,0.1) inset;
  .games
    font-size 0.8em
    width: 100%;
    td
      padding: 5px 0 5px 7px;
      max-width: 110px;
      span
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
    result
      display: block;
      text-align: center;
      padding: 3px 5px;
      border-radius: 3px;
      font-family: monospace;
      font-size: 0.9em;
  .toconf
    color #ccc
    position: absolute;
    top: 1px;
    right: 0;
    display: block;
    font-size: 20px;
    line-height: 20px;
    width 30px
    height 22px
    text-align: center;
    opacity: 0.7;
  .message
    text-align: center;
    font-size 0.9em
    font-style: italic;
    i
      font-size: 22px;
      display: inline-block;
      margin: 10px 0 0;
      opacity: 0.7;
    h3
      font-weight: bold;
    p
      white-space: normal;
      padding: 0 10px;
  &.loading
    .spinner_overlay
      visibility visible
    tbody, .message
      opacity: 0.4;

.explorer-data
  overflow-y auto
  -webkit-overflow-scrolling touch

.explorer-fixedTitle
  flex 0 0 23px
  font-size 12px
  line-height 22px
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
  background darkBlue
  padding 0 7px
  padding-right 28px
  color #ccc

.explorerConfig
  font-size 0.75em
  section
    padding: 8px 10px 0 10px;
    &.db
      padding-top: 5px;
    &.save
      text-align: center;
      padding: 15px 0 10px 0;
    label
      font-weight: bold;
      display: block;
      line-height: 2em;
      max-width 300px
      margin 0 auto

.explorerBar
  text-align: center;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  border: 0px solid #555;
  border-width: 1px 0;
  box-sizing: border-box;
  height: 16px;
  line-height: 16px;
  font-size: 11px;
  &:first-child
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-left-width: 1px;

  &:last-child
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-right-width: 1px;

.explorerTablebase
  width: 100%;
  td:first-child
    font-family: 'ChessSansPiratf', sans-serif;
    font-size: 14px;
    line-height: 30px;
    padding-left: 7px;
  td:last-child
    padding-right: 7px;
    text-align: right;
  result
    padding: 3px 5px;
    margin-left: 5px;
    border-radius: 3px;
    font-size: 0.9em;

.evalSummary
  display flex
  flex-flow row wrap
  justify-content center
  padding 10px
  > table
    width 100%
    &:first-child
      margin-bottom 10px
    > tbody
      font-size 0.9em
  th
    width 20%
    padding: 2px 8px;
    text-align: center;
    > span:before
      margin 0

.analysisProgress
  background-color selectBg
  text-align center
  padding 10px

.moves.displayPieces
  .explorerMove-move
    font-family ChessSansPiratf

.view-container.light
  turn > move
    background-color #fff

  move.active
    background darken(bglight, 10%)

  .analyse-replay > turn > index, interrupt, .analyse-openingBox
    background darken(bglight, 5%)

  .analyse_variant_selector
    background: themeBgLight
    text-shadow: 0 1px 0 #FFF;
    color: #848484;

  .analyse-cevalBox
    background darken(bglight, 7%)
  .analyse-curEval
    background darken(bglight, 9%)

  .explorer-fixedTitle
    background blue
    color #fff

  .explorerTable
    thead
      > tr
        background blue
    th, .title
      background blue
      color #fff
    tr
      &:nth-child(even)
        background #fafafa
    .white
      background: #fff;
      box-shadow: 0 -5px 7px rgba(0,0,0,0.1) inset;
    .draws
      background: #a0a0a0;
    .black
      background: #555;
      color: #ddd;
    .toconf
      color #fff

  .explorerBar
    border-color #ccc

  .explorerConfig
    span
      border-color #ccc
      &.selected
        background blue

