@font-face
  font-family:"lichess";
  src:url("http://fr.lichess.org/assets/font21/fonts/lichess.eot");
  src:url("http://fr.lichess.org/assets/font21/fonts/lichess.eot?#iefix") format("embedded-opentype"),
      url("http://fr.lichess.org/assets/font21/fonts/lichess.woff") format("woff"),
      url("http://fr.lichess.org/assets/font21/fonts/lichess.ttf") format("truetype"),
      url("http://fr.lichess.org/assets/font21/fonts/lichess.svg#lichess") format("svg");
  font-weight:normal;
  font-style:normal;

h1
  margin: 0

.lichess
  font-family: "lichess"

header
  span, h1
    display: inline-block
  h1
    text-align: center
    width: calc(100% - 50px)
  span
    font-size: 25px

.player
  position: relative
  width: 100%

  .clock
    position: absolute
    right: 5px
    top: 50%
    transform: translateY(-50%);

.chessground
  width: 350px
  height: 350px

footer
  height: 40px
  position: absolute
  bottom: 0
  width: 100%

  span.lichess
    font-size: 25px
    margin-left: calc(33% - 20px)
