@font-face
  font-family 'Open Sans'
  font-style normal
  font-weight 300
  src local('Open Sans Light'), local('OpenSans-Light'), url(../../fonts/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff')

@font-face
  font-family 'Open Sans'
  font-style normal
  font-weight 400
  src local('Open Sans'), local('OpenSans'), url(../../fonts/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff')

@font-face
  font-family 'Open Sans'
  font-style normal
  font-weight 700
  src local('Open Sans Bold'), local('OpenSans-Bold'), url(../../fonts/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff')

@font-face
  font-family "lichess"
  src url("../../fonts/lichess.woff") format("woff")
  font-weight normal
  font-style normal

.is::before,
.is::after,
[data-icon]::before {
  font-size: 1.2em;
  vertical-align: middle;
  font-family: "lichess" !important;
  font-style: normal !important;
  font-weight: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: attr(data-icon);
}

$color-text = rgba(255,255,255,0.6)

body
  font-family "Open Sans", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, Sans-Serif
  background url(../../images/bg5.png)
  color $color-text

a
  color #fff
  opacity 0.7

#title
  font-size 20px
  color $color-text
  font-weight bold

#mainPage
  background transparent
  color $color-text

.bar-tab, .bar-nav
  background rgba(0, 0, 0, 0.1)
  color $color-text
  border none
  .tab-item
    color $color-text

.bar
  [data-icon]::before
    padding-top 10px
    padding-bottom 10px
    font-size 34px


header.bar-nav
  box-shadow 0px 0 12px rgba(0, 0, 0, 0.4)

footer.bar-tab
  box-shadow 0px 0 12px rgba(0, 0, 0, 0.4)

.signin-out
  display none

.player-table
  width 100%
  height 36px
  line-height 36px
  overflow hidden
  .player-info
    margin-left 10px
  .clock
    float right
    color $color-text
    font-size 20px
    font-weight bold
    padding 0 10px
    display none
    background-color $color-bg2
    &.on
      background-color #fff077

.table-view-cell
  &.extended
    padding-right 15px

.icon
  &:hover
    text-decoration none

#ping
  margin-top 10px

.modal
  .content
    margin 10px 3% 0

.overlay
  position absolute
  padding 5%
  display none
  background-color rgba(255, 255, 255, 0.80)
  border 1px solid #ddd
  border-radius 2px

#cancel-seek
  position absolute
  width 85%
  bottom 5%

.waiting,
.his
  display none

#inGameOverlay
  .mine
    display inline-block

#chat
  width 100%
  height 100%
  & > .talk-form
    & > .talk-input
      height 100%
      width 83%

#chat-scroller
  position absolute
  top 0
  border 1px solid #ddd
  overflow hidden
  width 100%

.chat-message
  margin 0
  padding 4px 2px
  border-bottom 1px solid #ddd

.chat-user
  font-weight bold
  margin-right 3px

.talk-form
  position absolute
  bottom 5px
  width 100%
  height 34px
  & > button
    height 34px

