.content_round
  display flex
  flex-flow column nowrap
  height "calc(100% - %s)" % headerHeight
  @media only screen and (orientation: landscape)
    display flex
    flex-flow row nowrap
  @media only screen and (max-height 450px) and (orientation landscape)
    height calc(100vh - 45px)

.table
  flex 1 1 auto
  @media only screen and (orientation landscape)
    width 'calc(100vw - 100vh + %s)' % headerHeight
    height 100%
  @media only screen and (orientation: landscape) and (aspect-ratio 4/3), (orientation: landscape) and (device-aspect-ratio 4/3), (orientation landscape) and (device-aspect-ratio 3/4)
    margin auto 0
    width 'calc(100vw - 100vh + %s + 12vh)' % headerHeight
    height 'calc(100vh - %s - 12vh)' % headerHeight

.game_board_wrapper, .board_wrapper
  @media only screen and (orientation: portrait)
    height 100vw
    width 100vw
    &.halfsize
      height 'calc((100vh - %s) / 2)' % headerHeight
      width 'calc((100vh - %s) / 2)' % headerHeight
      align-self center
  @media only screen and (orientation: portrait) and (aspect-ratio 3/4), (orientation: portrait) and (device-aspect-ratio 3/4)
    height 98vw
    width 98vw
    margin 0 auto
  @media only screen and (orientation: landscape)
    height 'calc(100vh - %s)' % headerHeight
    width 'calc(100vh - %s)' % headerHeight
    flex 0 0 auto
  @media only screen and (orientation: landscape) and (aspect-ratio 4/3), (orientation: landscape) and (device-aspect-ratio 4/3), (orientation landscape) and (device-aspect-ratio 3/4)
    height 'calc(100vh - %s - 12vh)' % headerHeight
    width 'calc(100vh - %s - 12vh)' % headerHeight
    flex 0 0 auto
    margin auto 0

  > svg
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 2;
    opacity: 0.6;
    > image
      opacity 0.5

  > svg *
    transition: 0.3s;

.game_board_wrapper
  position relative
  .variant_reminder
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    transition: 0.6s;
    text-shadow: 7px 10px 2px rgba(0, 0, 0, 0.3);
    width: 100%
    height: 100%
    text-align: center;
  .variant_reminder::before
    font-size: 290px;
    opacity: 0.9;
    color: #888;
  .variant_reminder.gone
    opacity: 0;
    transform: translateY(-100px);

.display_board
  width 100%
  height 100%

.actions_bar
  display flex
  padding 0
  height footerHeight
  width 100%
  overflow hidden

.action_bar_button
  flex 1 1 25%
  text-align center
  background transparent
  padding 0
  outline none
  border none
  color: buttonGray
  height footerHeight
  width 25%
  &:last-child
    border-right none
  &.disabled
    &:before
      opacity 1
    color rgba(buttonGray, 0.4)
  &.active
    background darkBlue
    color #ccc
  &.empty::before
    visibility hidden
  &.glow
    animation answer_glow 5s infinite
  &.highlight
    color #fff
    background blue
  &:before
    font-size 18px
    line-height footerHeight
  &[data-icon='2']
    transform rotate(-90deg)
  @media only screen and (max-height 400px) and (orientation landscape)
    &:before
      font-size 16px

.table
  display flex
  flex-flow column nowrap
  > header
    flex 0 0 auto
  > .playersTable
    padding 0 10px
    margin 1em 0
    flex 1 1 auto
    display flex
    flex-flow column nowrap
    justify-content space-around
  @media only screen and (max-height 400px) and (orientation landscape)
    font-size 0.7rem
    > .tableHeader
      > .icon-game
        font-size 20px
        vertical-align bottom
      > .game-title
        font-size 0.6rem
        line-height 14px
    > .playersTable
      margin 10px 0
      justify-content space-around
    .playTable
      padding-left 0
    .clock
      font-size 20px
      &.correspondence
        font-size 15px
  @media only screen and (orientation: landscape) and (min-height 800px)
    > .playersTable
      margin 20px 0
  @media only screen and (orientation: landscape) and (min-width 801px)
    .clock
      font-size 25px
      max-width 120px
    .antagonistInfos
      max-width calc(100% - 120px)
      > .antagonistUser
        font-size 1rem
  @media only screen and (orientation: landscape) and (min-width 1025px)
    .clock
      font-size 35px
      max-width 160px
    .antagonistInfos
      max-width calc(100% - 160px)

.board_alert
  position: absolute;
  bottom: -28px;
  left: 0;
  height: 28px;
  width: 100%;
  text-align: center;
  padding: 5px 0;
  font-weight: bold;
  font-size 0.8em
  color: #fff;
  overflow hidden
  text-overflow ellipsis
  background: rgba(orange, 0.8)
  z-index: 50;
