.content_round
  flex 1 1 auto
  display flex
  flex-flow column nowrap
  justify-content center
  min-height 0 // fix chrome bug
  @media only screen and (orientation: landscape)
    display flex
    flex-flow row nowrap

.table
  flex 1 1 auto

.playable_board_wrapper, .board_wrapper
  flex-shrink 0
  flex-grow 0
  @media only screen and (orientation: portrait)
    height 100vw
    width 100vw
    &.halfsize
      height 'calc((100vh - %s) / 2)' % headerHeight
      width 'calc((100vh - %s) / 2)' % headerHeight
      align-self center
  @media only screen and (orientation: portrait) and (aspect-ratio 3/4), (orientation: portrait) and (device-aspect-ratio 3/4)
    height 98vw
    width 98vw
    margin 0 auto
  @media only screen and (orientation: landscape)
    height 'calc(100vh - %s)' % headerHeight
    width 'calc(100vh - %s)' % headerHeight
    flex 0 0 auto
  @media only screen and (orientation: landscape) and (aspect-ratio 4/3), (orientation: landscape) and (device-aspect-ratio 4/3), (orientation landscape) and (device-aspect-ratio 3/4)
    height 'calc(100vh - %s - 12vh)' % headerHeight
    width 'calc(100vh - %s - 12vh)' % headerHeight
    flex 0 0 auto
    margin auto 0

  > svg
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0.6;
    > image
      opacity 0.5

  > svg *
    transition: 0.3s;

.playable_board_wrapper
  position relative

.display_board
  width 100%
  height 100%

.analyse-player_bar
  display flex
  flex-flow row nowrap
  justify-content space-between
  flex 0 0 auto
  font-size 0.95em
  color rgba(textDarkBg, 0.7)
  > .info
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right 10px
    > .name
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
    > .result
      padding 0 5px
      margin-right 5px
      border-right 1px solid borderColor
  > .player_bar_clock
    flex 0 0 auto
  &.halfsize
    width 'calc((100vh - %s) / 2)' % headerHeight
    align-self center
  @media only screen and (orientation landscape)
    display none

.table
  overflow hidden
  display flex
  flex-flow column nowrap
  > header
    flex 0 0 auto
  > .playersTable
    min-height 0 // fix chrome 73 regression
    padding 0 10px
    flex 1 1 auto
    display flex
    flex-flow column nowrap
    justify-content space-around
  @media only screen and (max-height 400px) and (orientation landscape)
    > .playersTable
      justify-content space-around
    .playTable
      padding-left 0
    .clock
      font-size 20px
      &.correspondence
        font-size 15px
  @media only screen and (orientation: landscape) and (min-width 801px)
    .clock
      font-size 25px
      max-width initial
  @media only screen and (orientation: landscape) and (min-width 801px) and (aspect-ratio 4/3), only screen and (orientation: landscape) and (min-width 801px) and (device-aspect-ratio 4/3)
    .clock
      max-width 180px
  @media only screen and (orientation: landscape) and (min-width 1025px)
    .clock
      font-size 35px
