.join_url_challenge, .await_url_challenge
  .infos
    padding 10px
    text-align center
  .explanation, .time
    margin 5px 0
  .time:before
    margin-right 5px
  .user
    font-weight bold
  .go_or_cancel
    display flex
    margin-top 10px
  .error
    font-size 0.9em
  button
    border-bottom none

.join_url_challenge
  .challenger
    font-weight bold

.copy_container
  position relative
  width 98%
  margin auto

  .icon_container
    display flex
    position absolute
    margin-left 10px
    height 100%
    align-items center

  .lichess_game_url
    margin 10px 0;
    width 100%
    text-align: center;
    padding: 10px
    background: #eee;
    color textDarkGray
    font-family: monospace
    border: 1px solid #ccc;
