#chat
  color #353535
  position absolute
  top 0
  transform translate3d(0, 100vh, 0)
  transition transform 200ms ease-out
  height 100vh
  width 100%
  background rgba(255,255,255,0.9)
  z-index 10
  header
    background #353535
    color #fff
    text-align center
    padding 15px 0
    box-shadow 0px 1px 2px 0px rgba(0,0,0,0.30)
  &.show
   transform translate3d(0, 0, 0)

.chat-close
  position absolute
  right 0
  top 0
  padding 10px
  background transparent
  z-index 100
  font-size 24px
  line-height 30px
  color #C4A86F

.chat_messages
  padding 10px
  overflow auto

.chat_msg
  font-weight normal
  padding 10px 0
  border-bottom 1px solid #888
  &:last-child
    border-bottom none

.chat_user
  font-family 'montserratbold'
  margin-right 15px

.chat_form
  position absolute
  bottom 0
  width 100%

.chat_input
  display block
  width 100%
  padding 3px 50px 3px 10px
  font-size 1.2em

.chat_send
  color #353535
  position absolute
  top 0
  right 0
  padding 0 10px
  width 50px
  background transparent
  height 50px
  font-size 1.4em

