.mode_facing.opponent piece,
#page.white .mode_flip.turn_black piece,
#page.black .mode_flip.turn_white piece
  transform rotate(180deg)

/* Merida */
.merida piece
  &.pawn
    &.white
      background-image url('../../images/pieces/merida/wP.svg')
    &.black
      background-image url('../../images/pieces/merida/bP.svg')
  &.bishop
    &.white
      background-image url('../../images/pieces/merida/wB.svg')
    &.black
      background-image url('../../images/pieces/merida/bB.svg')
  &.knight
    &.white
      background-image url('../../images/pieces/merida/wN.svg')
    &.black
      background-image url('../../images/pieces/merida/bN.svg')
  &.rook
    &.white
      background-image url('../../images/pieces/merida/wR.svg')
    &.black
      background-image url('../../images/pieces/merida/bR.svg')
  &.queen
    &.white
      background-image url('../../images/pieces/merida/wQ.svg')
    &.black
      background-image url('../../images/pieces/merida/bQ.svg')
  &.king
    &.white
      background-image url('../../images/pieces/merida/wK.svg')
    &.black
      background-image url('../../images/pieces/merida/bK.svg')

/* Cburnett */
.cburnett piece
  &.pawn
    &.white
      background-image url('../../images/pieces/cburnett/wP.svg')
    &.black
      background-image url('../../images/pieces/cburnett/bP.svg')
  &.bishop
    &.white
      background-image url('../../images/pieces/cburnett/wB.svg')
    &.black
      background-image url('../../images/pieces/cburnett/bB.svg')
  &.knight
    &.white
      background-image url('../../images/pieces/cburnett/wN.svg')
    &.black
      background-image url('../../images/pieces/cburnett/bN.svg')
  &.rook
    &.white
      background-image url('../../images/pieces/cburnett/wR.svg')
    &.black
      background-image url('../../images/pieces/cburnett/bR.svg')
  &.queen
    &.white
      background-image url('../../images/pieces/cburnett/wQ.svg')
    &.black
      background-image url('../../images/pieces/cburnett/bQ.svg')
  &.king
    &.white
      background-image url('../../images/pieces/cburnett/wK.svg')
    &.black
      background-image url('../../images/pieces/cburnett/bK.svg')

/* Pirouetti */
.pirouetti piece
  &.pawn
    &.white
      background-image url('../../images/pieces/pirouetti/wP.svg')
    &.black
      background-image url('../../images/pieces/pirouetti/bP.svg')
  &.bishop
    &.white
      background-image url('../../images/pieces/pirouetti/wB.svg')
    &.black
      background-image url('../../images/pieces/pirouetti/bB.svg')
  &.knight
    &.white
      background-image url('../../images/pieces/pirouetti/wN.svg')
    &.black
      background-image url('../../images/pieces/pirouetti/bN.svg')
  &.rook
    &.white
      background-image url('../../images/pieces/pirouetti/wR.svg')
    &.black
      background-image url('../../images/pieces/pirouetti/bR.svg')
  &.queen
    &.white
      background-image url('../../images/pieces/pirouetti/wQ.svg')
    &.black
      background-image url('../../images/pieces/pirouetti/bQ.svg')
  &.king
    &.white
      background-image url('../../images/pieces/pirouetti/wK.svg')
    &.black
      background-image url('../../images/pieces/pirouetti/bK.svg')

/* alpha */
.alpha piece
  &.pawn
    &.white
      background-image url('../../images/pieces/alpha/wP.svg')
    &.black
      background-image url('../../images/pieces/alpha/bP.svg')
  &.bishop
    &.white
      background-image url('../../images/pieces/alpha/wB.svg')
    &.black
      background-image url('../../images/pieces/alpha/bB.svg')
  &.knight
    &.white
      background-image url('../../images/pieces/alpha/wN.svg')
    &.black
      background-image url('../../images/pieces/alpha/bN.svg')
  &.rook
    &.white
      background-image url('../../images/pieces/alpha/wR.svg')
    &.black
      background-image url('../../images/pieces/alpha/bR.svg')
  &.queen
    &.white
      background-image url('../../images/pieces/alpha/wQ.svg')
    &.black
      background-image url('../../images/pieces/alpha/bQ.svg')
  &.king
    &.white
      background-image url('../../images/pieces/alpha/wK.svg')
    &.black
      background-image url('../../images/pieces/alpha/bK.svg')

/* spatial */
.spatial piece
  &.pawn
    &.white
      background-image url('../../images/pieces/spatial/wP.svg')
    &.black
      background-image url('../../images/pieces/spatial/bP.svg')
  &.bishop
    &.white
      background-image url('../../images/pieces/spatial/wB.svg')
    &.black
      background-image url('../../images/pieces/spatial/bB.svg')
  &.knight
    &.white
      background-image url('../../images/pieces/spatial/wN.svg')
    &.black
      background-image url('../../images/pieces/spatial/bN.svg')
  &.rook
    &.white
      background-image url('../../images/pieces/spatial/wR.svg')
    &.black
      background-image url('../../images/pieces/spatial/bR.svg')
  &.queen
    &.white
      background-image url('../../images/pieces/spatial/wQ.svg')
    &.black
      background-image url('../../images/pieces/spatial/bQ.svg')
  &.king
    &.white
      background-image url('../../images/pieces/spatial/wK.svg')
    &.black
      background-image url('../../images/pieces/spatial/bK.svg')

/* reilly */
.reilly piece
  &.pawn
    &.white
      background-image url('../../images/pieces/reilly/wP.svg')
    &.black
      background-image url('../../images/pieces/reilly/bP.svg')
  &.bishop
    &.white
      background-image url('../../images/pieces/reilly/wB.svg')
    &.black
      background-image url('../../images/pieces/reilly/bB.svg')
  &.knight
    &.white
      background-image url('../../images/pieces/reilly/wN.svg')
    &.black
      background-image url('../../images/pieces/reilly/bN.svg')
  &.rook
    &.white
      background-image url('../../images/pieces/reilly/wR.svg')
    &.black
      background-image url('../../images/pieces/reilly/bR.svg')
  &.queen
    &.white
      background-image url('../../images/pieces/reilly/wQ.svg')
    &.black
      background-image url('../../images/pieces/reilly/bQ.svg')
  &.king
    &.white
      background-image url('../../images/pieces/reilly/wK.svg')
    &.black
      background-image url('../../images/pieces/reilly/bK.svg')

/* Kosal */
.kosal piece
  &.pawn
    &.white
      background-image url('../../images/pieces/kosal/wP.svg')
    &.black
      background-image url('../../images/pieces/kosal/bP.svg')
  &.bishop
    &.white
      background-image url('../../images/pieces/kosal/wB.svg')
    &.black
      background-image url('../../images/pieces/kosal/bB.svg')
  &.knight
    &.white
      background-image url('../../images/pieces/kosal/wN.svg')
    &.black
      background-image url('../../images/pieces/kosal/bN.svg')
  &.rook
    &.white
      background-image url('../../images/pieces/kosal/wR.svg')
    &.black
      background-image url('../../images/pieces/kosal/bR.svg')
  &.queen
    &.white
      background-image url('../../images/pieces/kosal/wQ.svg')
    &.black
      background-image url('../../images/pieces/kosal/bQ.svg')
  &.king
    &.white
      background-image url('../../images/pieces/kosal/wK.svg')
    &.black
      background-image url('../../images/pieces/kosal/bK.svg')

/* leipzig */
.leipzig piece
  &.pawn
    &.white
      background-image url('../../images/pieces/leipzig/wP.svg')
    &.black
      background-image url('../../images/pieces/leipzig/bP.svg')
  &.bishop
    &.white
      background-image url('../../images/pieces/leipzig/wB.svg')
    &.black
      background-image url('../../images/pieces/leipzig/bB.svg')
  &.knight
    &.white
      background-image url('../../images/pieces/leipzig/wN.svg')
    &.black
      background-image url('../../images/pieces/leipzig/bN.svg')
  &.rook
    &.white
      background-image url('../../images/pieces/leipzig/wR.svg')
    &.black
      background-image url('../../images/pieces/leipzig/bR.svg')
  &.queen
    &.white
      background-image url('../../images/pieces/leipzig/wQ.svg')
    &.black
      background-image url('../../images/pieces/leipzig/bQ.svg')
  &.king
    &.white
      background-image url('../../images/pieces/leipzig/wK.svg')
    &.black
      background-image url('../../images/pieces/leipzig/bK.svg')

/* fantasy */
.fantasy piece
  &.pawn
    &.white
      background-image url('../../images/pieces/fantasy/wP.svg')
    &.black
      background-image url('../../images/pieces/fantasy/bP.svg')
  &.bishop
    &.white
      background-image url('../../images/pieces/fantasy/wB.svg')
    &.black
      background-image url('../../images/pieces/fantasy/bB.svg')
  &.knight
    &.white
      background-image url('../../images/pieces/fantasy/wN.svg')
    &.black
      background-image url('../../images/pieces/fantasy/bN.svg')
  &.rook
    &.white
      background-image url('../../images/pieces/fantasy/wR.svg')
    &.black
      background-image url('../../images/pieces/fantasy/bR.svg')
  &.queen
    &.white
      background-image url('../../images/pieces/fantasy/wQ.svg')
    &.black
      background-image url('../../images/pieces/fantasy/bQ.svg')
  &.king
    &.white
      background-image url('../../images/pieces/fantasy/wK.svg')
    &.black
      background-image url('../../images/pieces/fantasy/bK.svg')

/* shapes */
.shapes piece
  &.pawn
    &.white
      background-image url('../../images/pieces/shapes/wP.svg')
    &.black
      background-image url('../../images/pieces/shapes/bP.svg')
  &.bishop
    &.white
      background-image url('../../images/pieces/shapes/wB.svg')
    &.black
      background-image url('../../images/pieces/shapes/bB.svg')
  &.knight
    &.white
      background-image url('../../images/pieces/shapes/wN.svg')
    &.black
      background-image url('../../images/pieces/shapes/bN.svg')
  &.rook
    &.white
      background-image url('../../images/pieces/shapes/wR.svg')
    &.black
      background-image url('../../images/pieces/shapes/bR.svg')
  &.queen
    &.white
      background-image url('../../images/pieces/shapes/wQ.svg')
    &.black
      background-image url('../../images/pieces/shapes/bQ.svg')
  &.king
    &.white
      background-image url('../../images/pieces/shapes/wK.svg')
    &.black
      background-image url('../../images/pieces/shapes/bK.svg')

/* letter */
.letter piece
  &.pawn
    &.white
      background-image url('../../images/pieces/letter/wP.svg')
    &.black
      background-image url('../../images/pieces/letter/bP.svg')
  &.bishop
    &.white
      background-image url('../../images/pieces/letter/wB.svg')
    &.black
      background-image url('../../images/pieces/letter/bB.svg')
  &.knight
    &.white
      background-image url('../../images/pieces/letter/wN.svg')
    &.black
      background-image url('../../images/pieces/letter/bN.svg')
  &.rook
    &.white
      background-image url('../../images/pieces/letter/wR.svg')
    &.black
      background-image url('../../images/pieces/letter/bR.svg')
  &.queen
    &.white
      background-image url('../../images/pieces/letter/wQ.svg')
    &.black
      background-image url('../../images/pieces/letter/bQ.svg')
  &.king
    &.white
      background-image url('../../images/pieces/letter/wK.svg')
    &.black
      background-image url('../../images/pieces/letter/bK.svg')

/* chessnut */
.chessnut piece
  &.pawn
    &.white
      background-image url('../../images/pieces/chessnut/wP.svg')
    &.black
      background-image url('../../images/pieces/chessnut/bP.svg')
  &.bishop
    &.white
      background-image url('../../images/pieces/chessnut/wB.svg')
    &.black
      background-image url('../../images/pieces/chessnut/bB.svg')
  &.knight
    &.white
      background-image url('../../images/pieces/chessnut/wN.svg')
    &.black
      background-image url('../../images/pieces/chessnut/bN.svg')
  &.rook
    &.white
      background-image url('../../images/pieces/chessnut/wR.svg')
    &.black
      background-image url('../../images/pieces/chessnut/bR.svg')
  &.queen
    &.white
      background-image url('../../images/pieces/chessnut/wQ.svg')
    &.black
      background-image url('../../images/pieces/chessnut/bQ.svg')
  &.king
    &.white
      background-image url('../../images/pieces/chessnut/wK.svg')
    &.black
      background-image url('../../images/pieces/chessnut/bK.svg')

/* chess7 */
.chess7 piece
  &.pawn
    &.white
      background-image url('../../images/pieces/chess7/wP.svg')
    &.black
      background-image url('../../images/pieces/chess7/bP.svg')
  &.bishop
    &.white
      background-image url('../../images/pieces/chess7/wB.svg')
    &.black
      background-image url('../../images/pieces/chess7/bB.svg')
  &.knight
    &.white
      background-image url('../../images/pieces/chess7/wN.svg')
    &.black
      background-image url('../../images/pieces/chess7/bN.svg')
  &.rook
    &.white
      background-image url('../../images/pieces/chess7/wR.svg')
    &.black
      background-image url('../../images/pieces/chess7/bR.svg')
  &.queen
    &.white
      background-image url('../../images/pieces/chess7/wQ.svg')
    &.black
      background-image url('../../images/pieces/chess7/bQ.svg')
  &.king
    &.white
      background-image url('../../images/pieces/chess7/wK.svg')
    &.black
      background-image url('../../images/pieces/chess7/bK.svg')

/* Riohacha */
.riohacha piece
  &.pawn
    &.white
      background-image url('../../images/pieces/riohacha/wP.svg')
    &.black
      background-image url('../../images/pieces/riohacha/bP.svg')
  &.bishop
    &.white
      background-image url('../../images/pieces/riohacha/wB.svg')
    &.black
      background-image url('../../images/pieces/riohacha/bB.svg')
  &.knight
    &.white
      background-image url('../../images/pieces/riohacha/wN.svg')
    &.black
      background-image url('../../images/pieces/riohacha/bN.svg')
  &.rook
    &.white
      background-image url('../../images/pieces/riohacha/wR.svg')
    &.black
      background-image url('../../images/pieces/riohacha/bR.svg')
  &.queen
    &.white
      background-image url('../../images/pieces/riohacha/wQ.svg')
    &.black
      background-image url('../../images/pieces/riohacha/bQ.svg')
  &.king
    &.white
      background-image url('../../images/pieces/riohacha/wK.svg')
    &.black
      background-image url('../../images/pieces/riohacha/bK.svg')

/* companion */
.companion piece
  &.pawn
    &.white
      background-image url('../../images/pieces/companion/wP.svg')
    &.black
      background-image url('../../images/pieces/companion/bP.svg')
  &.bishop
    &.white
      background-image url('../../images/pieces/companion/wB.svg')
    &.black
      background-image url('../../images/pieces/companion/bB.svg')
  &.knight
    &.white
      background-image url('../../images/pieces/companion/wN.svg')
    &.black
      background-image url('../../images/pieces/companion/bN.svg')
  &.rook
    &.white
      background-image url('../../images/pieces/companion/wR.svg')
    &.black
      background-image url('../../images/pieces/companion/bR.svg')
  &.queen
    &.white
      background-image url('../../images/pieces/companion/wQ.svg')
    &.black
      background-image url('../../images/pieces/companion/bQ.svg')
  &.king
    &.white
      background-image url('../../images/pieces/companion/wK.svg')
    &.black
      background-image url('../../images/pieces/companion/bK.svg')

/* symmetric */
.symmetric piece
  &.pawn
    &.white
      background-image url('../../images/pieces/symmetric/wP.svg')
    &.black
      background-image url('../../images/pieces/symmetric/bP.svg')
  &.bishop
    &.white
      background-image url('../../images/pieces/symmetric/wB.svg')
    &.black
      background-image url('../../images/pieces/symmetric/bB.svg')
  &.knight
    &.white
      background-image url('../../images/pieces/symmetric/wN.svg')
    &.black
      background-image url('../../images/pieces/symmetric/bN.svg')
  &.rook
    &.white
      background-image url('../../images/pieces/symmetric/wR.svg')
    &.black
      background-image url('../../images/pieces/symmetric/bR.svg')
  &.queen
    &.white
      background-image url('../../images/pieces/symmetric/wQ.svg')
    &.black
      background-image url('../../images/pieces/symmetric/bQ.svg')
  &.king
    &.white
      background-image url('../../images/pieces/symmetric/wK.svg')
    &.black
      background-image url('../../images/pieces/symmetric/bK.svg')

/* neo */
.neo piece
  &.pawn
    &.white
      background-image url('../../images/pieces/neo/wP.svg')
    &.black
      background-image url('../../images/pieces/neo/bP.svg')
  &.bishop
    &.white
      background-image url('../../images/pieces/neo/wB.svg')
    &.black
      background-image url('../../images/pieces/neo/bB.svg')
  &.knight
    &.white
      background-image url('../../images/pieces/neo/wN.svg')
    &.black
      background-image url('../../images/pieces/neo/bN.svg')
  &.rook
    &.white
      background-image url('../../images/pieces/neo/wR.svg')
    &.black
      background-image url('../../images/pieces/neo/bR.svg')
  &.queen
    &.white
      background-image url('../../images/pieces/neo/wQ.svg')
    &.black
      background-image url('../../images/pieces/neo/bQ.svg')
  &.king
    &.white
      background-image url('../../images/pieces/neo/wK.svg')
    &.black
      background-image url('../../images/pieces/neo/bK.svg')
