// standard 2D boards
.brown > .cg-board
  background-image url('../../images/board/svg/brown.svg')
.brown.orientation-white
  > .files > li-coord
    &.coord-even
      color rgba(#b58863, 1)
    &.coord-odd
      color rgba(#f0d9b5, 1)
  > .ranks > li-coord
    &.coord-even
      color rgba(#f0d9b5, 1)
    &.coord-odd
      color rgba(#b58863, 1)
.brown.orientation-black
  > .files > li-coord
    &.coord-even
      color rgba(#f0d9b5, 1)
    &.coord-odd
      color rgba(#b58863, 1)
  > .ranks > li-coord
    &.coord-even
      color rgba(#b58863, 1)
    &.coord-odd
      color rgba(#f0d9b5, 1)
.blue > .cg-board
  background-image url('../../images/board/svg/blue.svg')
.blue.orientation-white
  > .files > li-coord
    &.coord-odd
      color rgba(#dee3e6, 1)
    &.coord-even
      color rgba(#8ca2ad, 1)
  > .ranks > li-coord
    &.coord-even
      color rgba(#dee3e6, 1)
    &.coord-odd
      color rgba(#8ca2ad, 1)
.blue.orientation-black
  > .files > li-coord
    &.coord-odd
      color rgba(#8ca2ad, 1)
    &.coord-even
      color rgba(#dee3e6, 1)
  > .ranks > li-coord
    &.coord-even
      color rgba(#8ca2ad, 1)
    &.coord-odd
      color rgba(#dee3e6, 1)
.green > .cg-board
  background-image url('../../images/board/svg/green.svg')
.green.orientation-white
  > .files > li-coord
    &.coord-odd
      color rgba(#ffffdd, 1)
    &.coord-even
      color rgba(#86a666, 1)
  > .ranks > li-coord
    &.coord-even
      color rgba(#ffffdd, 1)
    &.coord-odd
      color rgba(#86a666, 1)
.green.orientation-black
  > .files > li-coord
    &.coord-odd
      color rgba(#86a666, 1)
    &.coord-even
      color rgba(#ffffdd, 1)
  > .ranks > li-coord
    &.coord-even
      color rgba(#86a666, 1)
    &.coord-odd
      color rgba(#ffffdd, 1)
.purple > .cg-board
  background-image url('../../images/board/svg/purple.svg')
.purple.orientation-white
  > .files > li-coord
    &.coord-odd
      color rgba(#9f90b0, 1)
    &.coord-even
      color rgba(#7d4a8d, 1)
  > .ranks > li-coord
    &.coord-even
      color rgba(#9f90b0, 1)
    &.coord-odd
      color rgba(#7d4a8d, 1)
.purple.orientation-black
  > .files > li-coord
    &.coord-odd
      color rgba(#7d4a8d, 1)
    &.coord-even
      color rgba(#9f90b0, 1)
  > .ranks > li-coord
    &.coord-even
      color rgba(#7d4a8d, 1)
    &.coord-odd
      color rgba(#9f90b0, 1)
.wood > .cg-board
  background-image url('../../images/board/wood.jpg')
.wood.orientation-white
  > .files > li-coord
    &.coord-odd
      color rgba(#d29d51, 1)
    &.coord-even
      color rgba(#985520, 1)
  > .ranks > li-coord
    &.coord-even
      color rgba(#d29d51, 1)
    &.coord-odd
      color rgba(#985520, 1)
.wood.orientation-black
  > .files > li-coord
    &.coord-odd
      color rgba(#985520, 1)
    &.coord-even
      color rgba(#d29d51, 1)
  > .ranks > li-coord
    &.coord-even
      color rgba(#985520, 1)
    &.coord-odd
      color rgba(#d29d51, 1)
.wood2 > .cg-board
  background-image url('../../images/board/wood2.jpg')
.wood2.orientation-white
  > .files > li-coord
    &.coord-odd
      color rgba(#94794c, 1)
    &.coord-even
      color rgba(darken(#836839, 20%), 1)
  > .ranks > li-coord
    &.coord-even
      color rgba(#94794c, 1)
    &.coord-odd
      color rgba(darken(#836839, 20%), 1)
.wood2.orientation-black
  > .files > li-coord
    &.coord-odd
      color rgba(darken(#836839, 20%), 1)
    &.coord-even
      color rgba(#94794c, 1)
  > .ranks > li-coord
    &.coord-even
      color rgba(darken(#836839, 20%), 1)
    &.coord-odd
      color rgba(#94794c, 1)
.wood3 > .cg-board
  background-image url('../../images/board/wood3.jpg')
.wood3.orientation-white
  > .files > li-coord
    &.coord-odd
      color rgba(#bdb3a7, 1)
    &.coord-even
      color rgba(#91683a, 1)
  > .ranks > li-coord
    &.coord-even
      color rgba(#bdb3a7, 1)
    &.coord-odd
      color rgba(#91683a, 1)
.wood3.orientation-black
  > .files > li-coord
    &.coord-odd
      color rgba(#91683a, 1)
    &.coord-even
      color rgba(#bdb3a7, 1)
  > .ranks > li-coord
    &.coord-even
      color rgba(#91683a, 1)
    &.coord-odd
      color rgba(#bdb3a7, 1)
.maple > .cg-board
  background-image url('../../images/board/maple.jpg')
.maple.orientation-white
  > .files > li-coord
    &.coord-odd
      color rgba(#ECCCA3, 1)
    &.coord-even
      color rgba(#BB7D4A, 1)
  > .ranks > li-coord
    &.coord-even
      color rgba(#ECCCA3, 1)
    &.coord-odd
      color rgba(#BB7D4A, 1)
.maple.orientation-black
  > .files > li-coord
    &.coord-odd
      color rgba(#BB7D4A, 1)
    &.coord-even
      color rgba(#ECCCA3, 1)
  > .ranks > li-coord
    &.coord-even
      color rgba(#BB7D4A, 1)
    &.coord-odd
      color rgba(#ECCCA3, 1)
.blue3 > .cg-board
  background-image url('../../images/board/blue3.jpg')
.blue3
  > li-coords
    color rgba(#c3cdd7, 1)
  &.orientation-white
    > .files > li-coord
      &.coord-even
        color rgba(#487aad, 1)
    > .ranks > li-coord
      &.coord-odd
        color rgba(#487aad, 1)
  &.orientation-black
    > .files > li-coord
      &.coord-odd
        color rgba(#487aad, 1)
    > .ranks > li-coord
      &.coord-even
        color rgba(#487aad, 1)
.canvas > .cg-board
  background-image url('../../images/board/canvas.jpg')
.canvas.orientation-white
  > .files > li-coord
    &.coord-odd
      color rgba(#c3cdd7, 1)
    &.coord-even
      color rgba(#7687a3, 1)
  > .ranks > li-coord
    &.coord-even
      color rgba(#c3cdd7, 1)
    &.coord-odd
      color rgba(#7687a3, 1)
.canvas.orientation-black
  > .files > li-coord
    &.coord-odd
      color rgba(#7687a3, 1)
    &.coord-even
      color rgba(#c3cdd7, 1)
  > .ranks > li-coord
    &.coord-even
      color rgba(#7687a3, 1)
    &.coord-odd
      color rgba(#c3cdd7, 1)
.grey > .cg-board
  background-image url('../../images/board/grey.jpg')
.grey.orientation-white
  > .files > li-coord
    &.coord-odd
      color rgba(#a3a3a3, 1)
    &.coord-even
      color rgba(#888888, 1)
  > .ranks > li-coord
    &.coord-even
      color rgba(#a3a3a3, 1)
    &.coord-odd
      color rgba(#888888, 1)
.grey.orientation-black
  > .files > li-coord
    &.coord-odd
      color rgba(#888888, 1)
    &.coord-even
      color rgba(#a3a3a3, 1)
  > .ranks > li-coord
    &.coord-even
      color rgba(#888888, 1)
    &.coord-odd
      color rgba(#a3a3a3, 1)
.metal > .cg-board
  background-image url('../../images/board/metal.jpg')
.metal.orientation-white
  > .files > li-coord
    &.coord-odd
      color rgba(#cecece, 1)
    &.coord-even
      color rgba(#727272, 1)
  > .ranks > li-coord
    &.coord-even
      color rgba(#cecece, 1)
    &.coord-odd
      color rgba(#727272, 1)
.metal.orientation-black
  > .files > li-coord
    &.coord-odd
      color rgba(#727272, 1)
    &.coord-even
      color rgba(#cecece, 1)
  > .ranks > li-coord
    &.coord-even
      color rgba(#727272, 1)
    &.coord-odd
      color rgba(#cecece, 1)

.kingOfTheHill > .cg-board:before
  width: 25%;
  height: 25%;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  content: '';
  position: absolute;
  top: 37.5%;
  left: 37.5%;

.racingKings > .cg-board:before
  width: 100%;
  height: 12.5%;
  box-shadow: inset 0 -2px 10px rgba(0,0,0,0.5);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
