// base colors
gold = #bf811d
orange = #d85000
orangeDark = rgb(255, 119, 41)
green = #759900
green2 = #639B24
darkGreen = #384722
paleGreen = rgba(117,153,0,0.7)
palerGreen = #d0e0bd
red = #ac524f
pink = #b72fc6
blue = #3b93da
paleBlue = lighten(blue, 60%)
palerBlue = lighten(blue, 80%)
veryPaleBlue = lighten(blue, 90%)
darkBlue = #215279
lightBrown = #C3A86F

tabsActive = #d64f00

// various colors
bglight = #f7f6f5
headerBgDarkColor = #ccc

modalDarkBg = #3f3f3f
modalDarkColor = #bbb
modalDarkHeader = #363636
modalDarkBorder = #4c4c4c

modalLightBg = bglight
modalLightColor = #353535

modalTranspBg = rgba(0,0,0,0.85)
modalTranspColor = #aaa
modalTranspHeader = #000

// text colors
textTransp = #ccc
textDarkBg = #b3b3b3
textLightBg = #636363
textLightGray = #aeaeae
textMediumGray = #707070
textDarkGray = #404040
textGray = #656565
labelText = #969696
buttonGray = #a0a0a0
linkBlue = #3893E8

// dark theme
bgdark = #161512
bgdarkPage = lighten(bgdark, 6%)
selectBg = #e6e6e6
headerBgDark = bgdark
headerBgDarkActive = lighten(headerBgDark, 8%)
borderColor = lighten(bgdark, 8%)

// light theme
themeBgLight = #edebe9
themeBgLightHeader = #edebe9
themeBgLightText = #4d4d4d
themeBgLightActive = #e6e6e6
themeBgLightBorder = darken(themeBgLight, 5%)
bglightEven = darken(themeBgLight, 3%)

// transp colors
transpBlack01 = rgba(0,0,0,0.1)
transpBlack02 = rgba(0,0,0,0.2)
transpBlack03 = rgba(0,0,0,0.3)
transpBlack04 = rgba(0,0,0,0.4)
transpBlack05 = rgba(0,0,0,0.5)
transpBlack06 = rgba(0,0,0,0.6)
transpBlack07 = rgba(0,0,0,0.7)
transpBlack08 = rgba(0,0,0,0.8)
transpWhite05 = rgba(255,255,255,0.5)
transpWhite04 = rgba(255,255,255,0.4)
transpWhite03 = rgba(255,255,255,0.3)
transpWhite02 = rgba(255,255,255,0.2)
transpWhite015 = rgba(255,255,255,0.15)
transpWhite01 = rgba(255,255,255,0.1)
transpWhite005 = rgba(255,255,255,0.05)

transpShadow = 0 0 4px rgba(255,255,255,0.4)

borderLightGray = darken(bglight, 15%)
activeBgLight = darken(themeBgLight, 8%)
