bgdark = #1a1a1a
themeBgLight = #eeeeee // TODO rename
bglight = #f5f5f5
bgpopup = #eeeeee

gold = #C4A86F
orange = #d85000
orangeDark = rgb(255, 119, 41)
green = #759900
paleGreen = rgba(117,153,0,0.7)
red = #ac524f
blue = #3b93da
paleBlue = lighten(blue, 60%)
darkBlue = #215279

textTransp = #ddd
transpBlack08 = rgba(0,0,0,0.8)
transpBlack = rgba(0,0,0,0.5)
transpBlack2 = rgba(0,0,0,0.4)
transpBlack3 = rgba(0,0,0,0.3)
transpBlack01 = rgba(0,0,0,0.1)
transpBlack02 = rgba(0,0,0,0.2)
transpWhite05 = rgba(255,255,255,0.5)
transpWhite03 = rgba(255,255,255,0.3)
transpWhite02 = rgba(255,255,255,0.2)
transpWhite015 = rgba(255,255,255,0.15)
transpWhite01 = rgba(255,255,255,0.1)
transpShadow = 0 0 4px rgba(255,255,255,0.4)

textDarkBg = #929292
textLightBg = #747474

textLightGray = #aeaeae
textMediumGray = #707070
textDarkGray = #404040
textGray = #656565
labelText = #969696
buttonGray = #a0a0a0

selectBg = #e6e6e6
headerBgDark = #282828
headerBgDarkActive = lighten(headerBgDark, 8%)
borderColor = lighten(bgdark, 8%)

borderLightGray = darken(bglight, 15%)
activeBgLight = darken(themeBgLight, 8%)


