// base colors
gold = #C4A86F
orange = #d85000
orangeDark = rgb(255, 119, 41)
green = #759900
paleGreen = rgba(117,153,0,0.7)
red = #ac524f
blue = #3b93da
paleBlue = lighten(blue, 60%)
darkBlue = #215279

// various colors
bglight = #f8f8f8  // popup and variout white bg
headerBgDarkColor = #ccc

// text colors
textTransp = #ddd
textDarkBg = #b3b3b3
textLightBg = #636363
textLightGray = #aeaeae
textMediumGray = #707070
textDarkGray = #404040
textGray = #656565
labelText = #969696
buttonGray = #a0a0a0

// dark theme
bgdark = #2b2b2b
selectBg = #e6e6e6
headerBgDark = #222
headerBgDarkActive = lighten(headerBgDark, 8%)
borderColor = lighten(bgdark, 8%)

// light theme
themeBgLight = #eee
themeBgLightActive = #e6e6e6

// transp colors
transpBlack08 = rgba(0,0,0,0.8)
transpBlack01 = rgba(0,0,0,0.1)
transpBlack03 = rgba(0,0,0,0.3)
transpBlack04 = rgba(0,0,0,0.4)
transpBlack05 = rgba(0,0,0,0.5)
transpBlack06 = rgba(0,0,0,0.6)
transpBlack02 = rgba(0,0,0,0.2)
transpWhite05 = rgba(255,255,255,0.5)
transpWhite04 = rgba(255,255,255,0.4)
transpWhite03 = rgba(255,255,255,0.3)
transpWhite02 = rgba(255,255,255,0.2)
transpWhite015 = rgba(255,255,255,0.15)
transpWhite01 = rgba(255,255,255,0.1)
transpWhite005 = rgba(255,255,255,0.05)

transpShadow = 0 0 4px rgba(255,255,255,0.4)

borderLightGray = darken(bglight, 15%)
activeBgLight = darken(themeBgLight, 8%)
