/* COLORS */
bgdark = #1a1a1a
themeBgLight = #eeeeee // TODO rename
bglight = #f5f5f5
bgpopup = #eeeeee

gold = #C4A86F
orange = #d85000
orangeDark = rgb(255, 119, 41)

textDarkBg = #929292
textLightBg = #747474

textLightGray = #aeaeae
textMediumGray = #707070
textDarkGray = #404040
textGray = #656565
labelText = #969696
buttonGray = #a0a0a0
green = #759900
paleGreen = rgba(117,153,0,0.7)
red = #ac524f
blue = #3b93da
paleBlue = lighten(blue, 60%)
darkBlue = #215279

selectBg = #e6e6e6
headerBgDark = #282828
headerBgDarkActive = lighten(headerBgDark, 8%)
borderColor = lighten(bgdark, 8%)

borderLightGray = darken(bglight, 15%)
activeBgLight = darken(themeBgLight, 8%)

headerHeight = 56px
footerHeight = 45px

html
  font-family 'Noto Sans', sans-serif
  font-size 95%
  @media only screen and (min-width 1025px)
    font-size 120%

body
  background-color bgdark
  overflow hidden

// workaround for ios: the direct parent of an input must have user-select: text
.allow_select
  user-select text

button
  border none
  outline none
  -webkit-tap-highlight-color rgba(0,0,0,0)
  user-select none
  background-color transparent
  &.disabled
    opacity 1
    &::before
      opacity 0.4

.svg_icon
  position relative
  width 24px
  height 24px
  > .svg_icon_inner
    font-size: inherit;
    color: inherit;
    line-height: inherit;
    height 100%
    position absolute
    top 0px
    left 0px
    right 0px
    bottom 0px
    > svg
      height 100%
      width 100%
      fill currentcolor
      color inherit

input, textarea
  -webkit-appearance none

textarea
  resize none

span.fa
  margin-right 5px

.disabled
  opacity 0.5

.hide
  display none

.clearfix:after
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;

.small
  font-size 0.85em

.scroller
  overflow hidden
  &.page
    height 100%

.module-tabs
  height 100%

.native_scroller
  overflow-y auto
  -webkit-overflow-scrolling touch
  &.page
    height 100%
  &.tab-content
    height calc(100% - 48px)

.vertical_align
  position relative
  top 50%
  transform translateY(-50%)

.button
  &.active
    background lighten(bgdark, 5%)

/* lists */
.list_item
  position relative
  line-height 20px
  padding 15px
  border-bottom 1px solid borderColor
  > td
    padding 15px 0
    line-height 20px
    &:first-child
      padding-left 10px
    &:last-child
      padding-right 10px
  &:before
    margin-right 10px
  &:last-child
    border-bottom none
  &.active
    background lighten(bgdark, 5%)
  &.bglight
    border-bottom-color darken(bglight, 15%)
    &.active
      background-color darken(bglight, 5%)

.nav
  &:after
    content "\f054"
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position absolute
    right 10px
    opacity 0.6
    line-height 20px

.noPadding
  > .list_item
    padding 15px 0
    &.nav:after
      right 0

.userStatus
  font-size 15px
  &.online
    color green
  &.offline
    opacity 0.6

.patron
  &.is-green
    color green
  font-family "lichess"!important
  font-size 1.2em
  content attr(data-icon)
  margin-right 5px
  width 1.2em
  display inline-block
  vertical-align -0.15em

.withIcon
  &[data-icon]:before
    margin-right 3px
    position relative
  &[data-icon]:before
    top 2px

.contentTitle
  text-align left
  font-weight bold
  color gold
  margin 15px 0 5px

.fatButton
  display block
  width 80%
  padding 15px
  margin 20px auto
  background linear-gradient(to bottom,rgba(40,40,40,1),rgba(34,34,34,1) 100%);
  text-shadow 0 1px 0 #000
  border 1px solid #323232
  color #8a8a8a
  font-weight bold
  border-radius 2px
  &.active, &:active
    background linear-gradient(to bottom,rgba(44,44,44,1),rgba(40,40,40,1) 100%);

.globalSpinner
  position absolute
  left calc(50% - 22.5px)
  top 100px
  z-index 100000
  background-color #fff
  border-radius 50%
  box-shadow 1px 2px 2px 0px rgba(0,0,0,0.1)
  transform translateZ(0)

.miniUser
  padding 10px
  > .title
    display flex
    justify-content space-between
  > .mini_perfs
    display flex
    justify-content space-around
    flex-flow row wrap
    margin-top 15px
    > .perf
      flex 0 1 25%
      text-align center
      margin-bottom 5px
  > .yourScore
    text-align center
    font-size 1.1em
    > .score
      font-weight bold

.color-icon
  &:before
    font-family "lichess"!important
    vertical-align middle
    margin-right 5px
  &.white
    &:before
      content: "J"
  &.black
    &:before
      content: "K"
  &.light
    &.white
      &:before
        content: "K"
    &.black
      &:before
        content: "J"
