headerHeight = 56px
footerHeight = 45px

html
  font-family 'Noto Sans', sans-serif
  font-size 95%
  @media only screen and (min-width 1025px)
    font-size 120%

body
  background-color #000
  overflow hidden

// workaround for ios: the direct parent of an input must have user-select: text
.allow_select
  user-select text

.withLink
  text-decoration underline
  &:after
    content: "\f08e"
    margin-left 5px
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;

button, .li-button
  border none
  outline none
  -webkit-tap-highlight-color rgba(0,0,0,0)
  user-select none
  background-color transparent
  transition opacity 50ms
  &.active
    opacity 0.8
  &.disabled
    opacity 1
    &::before
      opacity 0.4

.svg_icon
  position relative
  width 24px
  height 24px
  > .svg_icon_inner
    font-size: inherit;
    color: inherit;
    line-height: inherit;
    height 100%
    position absolute
    top 0px
    left 0px
    right 0px
    bottom 0px
    > svg
      height 100%
      width 100%
      fill currentcolor
      color inherit

input, textarea
  -webkit-appearance none

textarea
  resize none

span.fa
  margin-right 5px

.disabled, &:disabled
  opacity 0.5

.hide
  display none

.clearfix:after
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;

.small
  font-size 0.85em

.scroller
  overflow hidden
  &.page
    height 100%

.module-tabs
  height 100%

.native_scroller
  height 100%
  overflow-y auto
  -webkit-overflow-scrolling touch

.vertical_align
  position relative
  top 50%
  transform translateY(-50%)

/* lists */
.items_list_block
  > .list_item
    padding 15px 0

.list_item
  position relative
  line-height 20px
  padding 15px
  border-bottom 1px solid borderColor
  word-wrap break-word
  > td
    padding 15px 0
    line-height 20px
    &:first-child
      padding-left 10px
    &:last-child
      padding-right 10px
  &:before
    margin-right 10px
  &:last-child
    border-bottom none
  &.odd
    background-color lighten(bgdark, 2%)
  &.active
    background lighten(bgdark, 5%)
  &.bglight
    border-bottom-color darken(bglight, 15%)
    &.active
      background-color darken(bglight, 5%)

.list_item.odd, .list_item.even
  border-bottom none

.nav
  &:after
    content "\f054"
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position absolute
    right 10px
    opacity 0.6
    line-height 20px

.noPadding
  > .list_item
    padding 15px 0
    &.nav:after
      right 0

.userStatus
  font-size 15px
  &.online
    color green
  &.offline
    opacity 0.6

.patron
  &.is-green
    color green
  font-family "lichess"!important
  font-size 1.2em
  content attr(data-icon)
  margin-right 5px
  width 1.2em
  display inline-block
  vertical-align -0.15em

.withIcon
  &[data-icon]:before
    margin-right 3px
    position relative
  &[data-icon]:before
    top 2px

.contentTitle
  text-align left
  font-weight bold
  color gold
  margin 15px 0 5px

.fatButton
  display block
  width 70%
  padding 1em 0.25em
  margin 20px auto
  background linear-gradient(to bottom,rgba(40,40,40,1),rgba(34,34,34,1) 100%);
  text-shadow 0 1px 0 #000
  border 1px solid #323232
  color #8a8a8a
  font-weight bold
  border-radius 2px
  &.active,&:active
    background linear-gradient(to bottom,rgba(44,44,44,1),rgba(40,40,40,1) 100%);

.globalSpinner
  position absolute
  left calc(50% - 22.5px)
  top 100px
  z-index 100000
  background-color #fff
  border-radius 50%
  box-shadow 1px 2px 2px 0px rgba(0,0,0,0.1)
  transform translateZ(0)

.miniUser
  padding 10px
  > .title
    display flex
    justify-content space-between
  > .mini_perfs
    display flex
    justify-content space-around
    flex-flow row wrap
    margin-top 15px
    > .perf
      flex 0 1 25%
      text-align center
      margin-bottom 5px
  > .yourScore
    text-align center
    font-size 1.1em
    > .score
      font-weight bold

.color-icon
  &:before
    font-family "lichess"!important
    vertical-align middle
    margin-right 5px
  &.white
    &:before
      content: "J"
  &.black
    &:before
      content: "K"
  &.light
    &.white
      &:before
        content: "K"
    &.black
      &:before
        content: "J"


.navigationButtons
  display flex
  flex-flow row wrap
  align-items center
  align-self center
  margin 10px 0
  height 30px
  &.invisible
    display none

.navigationButton
  border-radius 4px
  text-align center
  border-style solid
  border-color #323232
  border-width 1px
  height 30px
  line-height 20px
  margin 0 5px
  padding 0
  width 40px
  &:before
    font-family "lichess"!important
    font-size 1.2em
    content attr(data-icon)
    vertical-align middle
  &:disabled
    opacity 0.5
  &.invisible
    display none
  @media only screen and (max-width 380px)
    margin 0 1px
    width 35px
    line-height 16px
    &:before
      font-size 1em

.moreButton
  font-size 0.9em
  > button
    width 100%
    text-align center
    padding 10px 0
    background lighten(bgdark, 5%)

.actions_bar
  display flex
  flex-flow row nowrap
  padding 0
  height footerHeight
  width 100%
  overflow hidden

.action_bar_button
  flex 1 1 25%
  text-align center
  background transparent
  padding 0
  outline none
  border none
  color: buttonGray
  width 25%
  &:only-child
    text-align: right;
    padding-right: 15px;
  &:last-child
    border-right none
  &.disabled, &:disabled
    opacity 0.5
  &.active
    background darkBlue
    color #ccc
  &.empty::before
    visibility hidden
  &.glow
    animation answer_glow 5s infinite
  &.highlight
    color #fff
    background blue
  &:before
    font-size 18px
  @media only screen and (max-height 400px) and (orientation landscape)
    &:before
      font-size 16px

.action_create_button
  flex 1 1 25%
  text-align right

signal
  display: inline-block;
  height: 1.5em;
  width: 2.25em;
  overflow: visible;
  white-space: nowrap;
  > i
    width: 20%;
    margin-left: 1px;
    display: inline-block;
    height: 40%;
    background-color: green

signal > i:nth-child(2) { height: 60%; }
signal > i:nth-child(3) { height: 80%; }
signal > i:nth-child(4) { height: 100%; }

signal.q1 > i
  background-color: #dc322f;

signal.q2 > i
  background-color: #d59120;

signal > i.off
  background-color darken(#fff, 40%)

.countdown-timer
  display inline
  font-weight bold
  font-family Cousine

.piece-no-square
  width: 64px;
  height: 64px;
  position relative
  margin-right: 10px;
  > piece
    width 100%
    height 100%

.window-button
  font-size 1.1em
  .fa
    margin-right 0
