.seeks_scroller
  height calc(100% - 60px)
  .must_signin
    text-align center

.empty_seeks_list
  width 90%
  margin 0 auto
  text-align center

.seek, .sendingChallenge
  overflow hidden
  &.cancel
    color gold
  .icon::before
    display block
    float left
    font-size 40px
    opacity 0.5
  .body
    line-height 22px
    margin-left 60px

.correpondenceFooter
  display flex
  padding 0 15px
  justify-content flex-end

button#newGameCorres
  background inherit
  line-height footerHeight
  max-height footerHeight
  font-size 16px
  .fa
    margin-right 10px
  &.active
    color gold
