.view-container.transp
  > main
    background-color transparent
    &:before
      content: ' '
      position: fixed
      width: 100%
      height: 100%
      top: 0
      left: 0
      right 0
      bottom 0
      background-position: center center
      background-repeat: no-repeat
      background-size cover
      z-index: -1
  &.grey
    > main:before
      background-position initial
      // background-image url('../../images/bg/grey.jpg')
  &.space
    .main_header.board .chip, .chip
      color rgba(#120100, 0.9)
      border-color rgba(#120100, 0.9)
    // > main:before
    //   background-image url('../../images/bg/space.jpg')
  &.green
    > main:before
      @media only screen and (orientation: portrait)
        transform rotate(90deg)
        width 100vh
      background-image url('../../../../lichobile-themes/background/green.png')
    .main_header.board .chip, .chip
      color rgba(#0a160b, 0.9)
      border-color rgba(#0a160b, 0.9)
  &.blue-maze
    > main:before
      background-image url('../../../../lichobile-themes/background/blue-maze.jpg')
      @media only screen and (orientation: portrait)
        background-position right center
        transform rotate(90deg)
        width 100vh
    .main_header.board .chip, .chip
      color rgba(#041320, 0.9)
      border-color rgba(#041320, 0.9)
  &.green-maze
    > main:before
      background-image url('../../../../lichobile-themes/background/green-maze.jpg')
      @media only screen and (orientation: portrait)
        background-position right center
        transform rotate(90deg)
        width 100vh
    .main_header.board .chip, .chip
      color rgba(#0a160b, 0.9)
      border-color rgba(#0a160b, 0.9)
  &.red-maze
    > main:before
      background-image url('../../../../lichobile-themes/background/red-maze.jpg')
      @media only screen and (orientation: portrait)
        background-position right center
        transform rotate(90deg)
        width 100vh
    .main_header.board .chip, .chip
      color rgba(#170407, 0.9)
      border-color rgba(#170407, 0.9)
  &.wood
    > main:before
      background-position initial
      background-image url('../../../../lichobile-themes/background/wood.jpg')
    .main_header.board .chip, .chip
      color rgba(#1c0a07, 0.9)
      border-color rgba(#1c0a07, 0.9)
  // &.shapes
  //   > main:before
  //     background-image url('../../images/bg/shapes.jpg')
  &.earth
    > main:before
      background-image url('../../images/bg/earth.jpg')

  main, .main_header, .action_bar_button, .antagonistUser
    color textTransp

  .main_header_button.active, .action_bar_button.active, .antagonistInfos.active,
  .back_button > button.active, .tab:active, .tab.active
    background-color transpWhite01

  .action_bar_button
    &.glow
      animation answer_glow_transp 5s infinite

  .main_header, .fatButton, .homeMoreButton > button, .tabs,
  .mini_board > .vsbloc, .select_input, .clock, .main_footer
    background transpBlack

  .threadWrapper > .responseWrapper textarea, .composeInput
    border-color transpWhite02

  .radio_list input.radio:checked + label
    background-color transpWhite02

  .select_input, .fatButton
    color #ccc

  .fatButton
    box-shadow transpShadow

  .list_item
    border-bottom-color transpWhite01
    &.active
      background-color transpWhite02

  .items_list_block
    background transpBlack3
    &.noPadding
      > .list_item.nav:after
        right 5px
    > .list_item
      padding-right 10px
      padding-left 10px

  .popup_content .select_input
    background selectBg

  .main_header.board .chip, .chip
    color rgba(black, 0.9)
    border-color rgba(black, 0.9)
    background rgba(gold, 0.9)

  .tomb
    .pawn
      background-image url(../../images/pieces/mono/P_white.svg)
    .bishop
      background-image url(../../images/pieces/mono/B_white.svg)
    .knight
      background-image url(../../images/pieces/mono/N_white.svg)
    .rook
      background-image url(../../images/pieces/mono/R_white.svg)
    .queen
      background-image url(../../images/pieces/mono/Q_white.svg)
    .king
      background-image url(../../images/pieces/mono/K_white.svg)
