.view-container.transp
  > main
    background-color transparent
    &:before
      content: ' ';
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0
      left: 0
      right 0
      bottom 0
      background-position: center center;
      background-repeat: no-repeat;
      background-size cover
      z-index: -1;
  &.wood
    > main:before
      background-image url('../../images/bg/wood.jpg')
  &.bgshapes
    > main:before
      background-image url('../../images/bg/shapes.jpg')
  &.grey
    > main:before
      background-image url('../../images/bg/grey.jpg')
      background-position initial
  &.green-stains
    .main_header.board .chip, .chip
      color rgba(#153624, 0.9)
      border-color rgba(#153624, 0.9)
    > main:before
      background-image url('../../images/bg/green-stains.jpg')
  &.violet-space
    .main_header.board .chip, .chip
      color rgba(#120100, 0.9)
      border-color rgba(#120100, 0.9)
    > main:before
      background-image url('../../images/bg/violet-space.jpg')
  &.cracked-earth
    > main:before
      background-image url('../../images/bg/cracked-earth.jpg')
  &.bluewood
    > main:before
      background-image url('../../images/bg/bluewood.jpg')
  &.grass
    > main:before
      background-image url('../../images/bg/grass.jpg')
      background-position initial
  &.bluehaven
    > main:before
      background-image url('../../images/bg/bluehaven.jpg')
      background-position initial
      @media only screen and (orientation: portrait)
        transform rotate(90deg)
        width 100vh
    .main_header.board .chip, .chip
      color rgba(#071c3b, 0.9)
      border-color rgba(#071c3b, 0.9)

  main, .main_header, .action_bar_button, .antagonistUser
    color textTransp

  .main_header_button.active, .action_bar_button.active, .antagonistInfos.active,
  .back_button > button.active, .tab:active, .tab.active
    background-color transpWhite01

  .main_header, .fatButton, .homeMoreButton > button, .tabs,
  .mini_board > .vsbloc, .select_input, .clock
    background transpBlack

  .threadWrapper > .responseWrapper textarea, .composeInput
    border-color transpWhite02

  .radio_list input.radio:checked + label
    background-color transpWhite02

  .select_input, .fatButton
    color #ccc

  .fatButton
    box-shadow transpShadow

  .list_item
    border-bottom-color transpWhite01
    &.active
      background-color transpWhite02

  .items_list_block
    background transpBlack2
    &.noPadding
      > .list_item.nav:after
        right 5px
    > .list_item
      padding-right 10px
      padding-left 10px

  .popup_content .select_input
    background selectBg

  .main_header.board .chip, .chip
    color rgba(black, 0.9)
    border-color rgba(black, 0.9)
    background rgba(gold, 0.9)

  .tomb
    .pawn
      background-image url(../../images/pieces/mono/P_white.svg)
    .bishop
      background-image url(../../images/pieces/mono/B_white.svg)
    .knight
      background-image url(../../images/pieces/mono/N_white.svg)
    .rook
      background-image url(../../images/pieces/mono/R_white.svg)
    .queen
      background-image url(../../images/pieces/mono/Q_white.svg)
    .king
      background-image url(../../images/pieces/mono/K_white.svg)
