.editor-wrapper
  flex 1 1 auto
  width 100%
  display flex
  flex-flow column nowrap

.editor-table
  flex 1 1 auto
  display: flex
  flex-flow: column nowrap
  justify-content: center

.editor-piecesDrawer
  background #e6e6e6

.sparePieces
  height "calc((100% - 100vw - %s) / 2)" % footerHeight
  display flex
  justify-content center
  align-items center
  padding 3px 0
  overflow hidden

.sparePiece
  position relative
  display inline-block
  width calc(100vw / 10)
  height calc(100vw / 10)
  > piece
    width 100%
    height 100%
    z-index 1
  @media only screen and (orientation: landscape)
    width "calc((100vh - %s) / 10)" % headerHeight
    height "calc((100vh - %s) / 10)" % headerHeight
  @media only screen and (orientation: portrait) and (aspect-ratio 3/4), (orientation: portrait) and (device-aspect-ratio 3/4)
    width calc(100vw / 14)
    height calc(100vw / 14)
  @media only screen and (orientation: landscape) and (aspect-ratio 4/3), (orientation: landscape) and (device-aspect-ratio 4/3), (orientation landscape) and (device-aspect-ratio 3/4)
    width "calc((100vh - %s) / 12)" % headerHeight
    height "calc((100vh - %s) / 12)" % headerHeight

.editorMenu
  > .popup_content
    padding 10px
  .select_input
    margin-top 0
    + .select_input
      margin-top 5px
    select
      padding-left 80px

.editor-castling
  margin 10px auto 0
  width 80%
  text-align center
  h3
    font-weight bold
    margin-bottom 5px
  .form-multipleChoice
    margin-bottom 3px
    color textGray
    span
      border-color #eee

.continueFromHere
  h2
    font-weight bold
  .sep
    margin-top 10px
    padding-left 10px
    color textMediumGray

.pasteFenPopup
  .popup_content
    padding 1em
    text-align center
    input
      border 1px solid borderLightGray
      outline none
      width 100%
      height 35px
      padding 5px
    button
      margin-top 10px

.view-container.light
  .editor-piecesDrawer
    background #aaa
