.forecasts-wrapper
  flex 1 1 auto
  padding 10px

  .info
    padding 0.5em

    sans
      // display block
      // margin-top 0.15em
    
    move
      padding 0

  san
    padding-left 0.17em
    padding-right 0.17em

  index
    margin-left: 0.17em

.forecasts-list
  width 100%
  .forecast
    &:nth-child(even)
      background-color: lighten(bgdark, 15%)
    font-size 14px
    padding 0 0.5em
    display flex
    align-items center

    &.add-forecast
      background lighten(bgdark, 20%)
      padding-top 0.25em
      padding-bottom 0.25em

    move
      padding 0
