.forecasts-wrapper
  flex 1 1 auto
  padding 10px
  position relative
  .info
    padding 0.5em
    move
      padding 0
  san
    padding-left 0.17em
    padding-right 0.17em
  index
    margin-left 0.17em
  .on-my-turn
    text-align center
    margin-top: 0.17em
  .spinner_overlay
    position: absolute;
    top: 0
    left: 0
    width: 100%
    height: 100%
    display flex
    align-items center
    justify-content center
    background rgba(0, 0, 0, 0.4)
    > .spinner
      margin 22px 0 0
      width initial
      height initial
      font-size 25px

.forecasts-list
  width 100%
  &.displayPieces
    move
      font-family ChessSansPiratf
  .forecast
    &:nth-child(even)
      background-color lighten(bgdark, 15%)
    font-size 14px
    padding 0 0.5em
    display flex
    align-items center

    &.add-forecast
      background lighten(bgdark, 20%)
      padding-top 0.25em
      padding-bottom 0.25em

    move
      padding 0
