// checkbox
.check_container
  display: flex;
  justify-content space-between
  align-items center
  min-height 30px
  > input[type='checkbox']
    margin-left 10px
  &.small
    min-height 25px
    input[type='checkbox']
      height 25px
      border-radius 12px
    input[type='checkbox']:after
      width 15px
      height 15px
    input[type='checkbox']:checked:after
      left 38px


input[type='checkbox']
  flex 0 0 55px
  position relative
  margin 0
  border none
  height 26px
  border-radius 15px
  background-color #ccc
  transition background-color 250ms ease-out
  outline none
  box-shadow inset 0px 0px 2px 0px rgba(0, 0, 0, 0.3)
input[type='checkbox']:checked, input[type='checkbox']:checked:before
  background-color gold
input[type='checkbox']:before
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  right 1px
  transition background-color 250ms ease-out
  border-radius 15px
  background-color #ccc
  content: "";
input[type='checkbox']:after
  content ''
  display inline-block
  position absolute
  top 1px
  left 0px
  width 24px
  height 24px
  border-radius 50%
  background #f6f6f6
  transition left 200ms
  box-shadow 0px 0px 2px 0px rgba(0, 0, 0, 0.3)
input[type='checkbox']:checked:after
  left 31px

// select
.select_input
  background #fff
  height 40px
  line-height 40px
  color textDarkGray
  padding 0 10px
  font-size 0.85em
  position relative
  margin-top 15px
  box-shadow 0px 1px 2px 0px rgba(0,0,0,0.1)
  &.inline
    display inline-block
    width 49%
    margin-right 2%
    &:last-child
      margin-right 0
    select
      padding-right 0
    label
      &:after
        content ""
  select
    background transparent
    border none
    outline none
    width 100%
    position absolute
    left 0px
    -webkit-appearance none
    padding-left 90px
    padding-right 25px
    height 40px
    line-height 40px
  &.large_label select
    padding-left 150px
  &.no_label select
    padding-left 10px
  label
    padding: 0
    color labelText
    &:after
      content "▼"
      font-size 0.8em
      position absolute
      right 10px
      color #5f5f5f


// radio
.nice-radio
  display inline-block
  clear both
  width 50%
  label
    width 100%
    background #fff
    color labelText
    height 40px
    box-shadow 0px 1px 2px 0px rgba(0,0,0,0.1)
  input.radio:empty
    display: none
  input.radio:empty + label
    position relative
    float left
    line-height 40px
    padding 0 20px
    font-size 0.9em
    -webkit-tap-highlight-color rgba(0,0,0,0)
  input.radio:empty + label:after
    position absolute
    display block
    bottom 12px
    left 0
    content ''
    text-align left
    width 2.5em
  input.radio:checked + label
    background-color gold
    padding-left 30px
    color #fff
  input.radio:checked + label:after
    display inline-block
    font normal normal normal 14px/1 FontAwesome
    padding-top 20px
    font-size inherit
    text-rendering auto
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    content: "\f00c"
    text-indent .9em

button.fat
  display block
  width 80%
  background gold
  color #fff
  padding 15px
  margin 20px auto
  &.active
    background lighten(gold, 10%)

.form-multipleChoice
  display: flex;
  max-width 300px
  margin 0 auto
  span
    flex-grow: 1;
    padding: 5px 0;
    text-align: center;
    transition: background 0.13s;
    border: 1px solid #3d3d3d;
    border-width: 1px 0 1px 1px;
    text-transform: capitalize;
    &:first-child
      border-radius: 3px 0 0 3px;
    &:last-child
      border-radius: 0 3px 3px 0;
      border-right-width: 1px;
    &.selected
      background blue
      color: #fff
      text-shadow: 1px 0 0 rgba(0,0,0,0.5);
      box-shadow: 0 1px 3px rgba(0,0,0,0.2) inset;

.view-container.light
  input[type='checkbox'], input[type='checkbox']:before
    background-color #ccc
  input[type='checkbox']:checked, input[type='checkbox']:checked:before
    background-color gold

  .form-multipleChoice
    span
      border-color #eee
