// checkbox

.check_container
  position: relative;
  display: block;
input[type='checkbox']
  position absolute
  display block
  -webkit-appearance button
  border none
  width 70px
  height 30px
  border-radius 15px
  background-color #333
  cursor pointer
  transition background-color 0.2s
  top 0
  right 0
input[type='checkbox']:checked
  background #C4A86F
input[type='checkbox']:after
  content ''
  display block
  position absolute
  top 5px
  left 5px
  width 20px
  height 20px
  border-radius 50%
  background #fff
  transition: .5s all;
input[type='checkbox']:checked:after
  left 40px

// select
.select_input
  background #333333
  height 40px
  line-height 40px
  color #8A8A8A
  padding 0 10px
  font-size 12px
  position relative
  margin-top 15px
  &.inline
    display inline-block
    width 48%
    margin-right 2%
  select
    background transparent
    border none
    width 100%
    position absolute
    left 0px
    -webkit-appearance none
    padding-left 80px
    height 40px
    line-height 40px
    font-size 13px
    color #fff


.nice-radio
  display inline-block
  clear both
  width 50%
  margin-top 10px

  label
    width 100%
    background #333333
    color #8E8E8E
    height 40px

  input.radio:empty
    display: none
  input.radio:empty ~ label
    position relative
    float left
    line-height 40px
    padding 0 20px
    font-size 12px
    cursor pointer
    -webkit-user-select none
    -moz-user-select none
    -ms-user-select none
    -webkit-tap-highlight-color rgba(0,0,0,0)
    user-select none
  input.radio:empty ~ label:after
    position absolute
    display block
    bottom 15px
    left 0
    content ''
    text-align left
    width 2.5em
  input.radio:checked ~ label
    background-color #C4A86F
    color #fff
  input.radio:checked ~ label:after
    display inline-block
    font normal normal normal 14px/1 FontAwesome
    padding-top 20px
    font-size inherit
    text-rendering auto
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    content: "\f00c"
    text-indent .9em
