.onlineFriends
  height 50%
  > header
    > span
      font-weight bold
  > .popup_content
    overflow-y auto
    border-radius 0 0 5px 5px
    .list_item
      border-bottom 0
      display flex
      justify-content space-between
      > .friend_name
        overflow hidden
        white-space nowrap
        text-overflow ellipsis
        padding-right .5em
    > .nofriend
      width 100%
      height 100%
      display flex
      align-items center
      justify-content center
  @media only screen and (min-height 700px)
    height 40%

.onlineFriends_actions
  display flex
  span
    font-size 20px
    margin-right 0.5em
    &:last-child
      margin-right 0
  .friend_tv
    color green
