.antagonist
  overflow auto
  position relative
  font-family gothambold
  .infos
    float left
    .rating
      font-size 10px
      color #C4A86F
      font-family gothamlight
      display inline-block
      vertical-align top
      margin-top 5px
  .clock
    position absolute
    text-align right
    min-width 90px
    right 20px
    font-size 30px
  .material
    display inline-block
    .tomb
      display inline-block
      margin-left 8px
      div
        margin-left -6px
        width 20px
        height 20px
        background-size cover
        display inline-block
      .pawn
        background-image url(../../images/pieces/mono/P.svg)
      .bishop
        background-image url(../../images/pieces/mono/B.svg)
      .knight
        background-image url(../../images/pieces/mono/N.svg)
      .rook
        background-image url(../../images/pieces/mono/R.svg)
      .queen
        background-image url(../../images/pieces/mono/Q.svg)
      .king
        background-image url(../../images/pieces/mono/K.svg)

.clock
  &.running
    color #C4A86F

#board
  width 100%
  // height 100vw

.board
  width 100%
  height 100%

#promotion_choice
  border 1px solid black
  background-color rgba(255,255,255, 0.7)
  position absolute
  height 100px
  width 100%
  text-align center
  .cg-piece
    position relative
    display inline-block
    width 60px
    height 60px
    margin 0 5px
    top 17px

.new-game
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  background transparent
  min-height 400px
  &.back_visible
    .container_flip
      transform rotateY(180deg)
      -webkit-transform rotateY(180deg)
      -moz-transform rotateY(180deg)
      -o-transform rotateY(180deg)
      -ms-transform rotateY(180deg)
      .back
        display block
    .cg-board-wrap.view-only
      .cg-board
        position inherit
      .cg-square
        position inherit
      .cg-piece
        display none
  .container_flip
    transform-style: preserve-3d;
    position relative
    height 100%
    -webkit-transition 0.4s
    -webkit-transform-style preserve-3d
    -ms-transition 0.4s
    -moz-transition 0.4s
    transition 0.4s
    .back
      display none
    .front, .back
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
    .front
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      .infos
        text-align center
        color #fff;
        background #383838
        text-transform uppercase
        h2
          padding-top 35px
          font-size 16px
          font-family gothambold
        p
          padding-bottom 30px
          font-size 11px
          color #A9A9A9
          padding-top 5px
          font-family gothamlight
        button
          width 100%
          background #2A2A2A
          height 50px
          border none
          color #fff
          font-family gothambold
          font-size 12px
          text-transform uppercase
    .back
      background: #2A2A2A;
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      -webkit-transform rotateY(180deg)
      -moz-transform rotateY(180deg)
      -o-transform rotateY(180deg)
      -ms-transform rotateY(180deg)
      transform rotateY(180deg)
      header
        background #212121
        min-height 50px
        line-height 50px
        padding 0 20px
        color white
        font-family gothambold
        font-size 16px
        text-transform uppercase
        text-align center
      .form
        padding-top 10px
        label
          font-family gothambook
        fieldset
          padding 0px 20px
      button
        width 100%
        height 50px
        position absolute
        bottom 0
        border none
        background #C4A86F
        color #fff
        font-size 12px
        text-transform uppercase
        font-family gothambold
        line-height: 50px;
      select[name=timepreset]
        padding-left 120px
      select[name=timeMode]
        padding-left 95px
      select[name=days]
        padding-left 110px
      .nice-radio
        input.radio.computer:empty ~ label
          text-align right
          border-radius 0 25px 25px 0
        input.radio.human:empty ~ label
          border-radius 30px 0 0 30px
        input.radio.human:empty ~ label:after
          left auto
          right 0

#game_actions
  border-top 1px solid #EBEBEB
  padding 10px 0

.game_action
  display inline-block
  text-align center
  background transparent
  font-size inherit
  outline none
  border none
  color: #C4A86F
  height 50px
  border-right 1px solid #EBEBEB
  width 25%
