.player, .opponent
  padding 20px 0
  overflow auto
  position relative
  font-family gothambold
  .infos
    float left
    h3
      font-size 10px
      color #C4A86F
      font-family gothamlight
      margin-top 5px
  .clock
    float left
    position absolute
    text-align right
    min-width 90px
    right 0
    font-size 30px

.clock
  &.running
    color #C4A86F

footer
  .player
    padding-top 23px

#board
  width 100%
  // height 100vw

#promotion_choice
  border 1px solid black
  background-color rgba(255,255,255, 0.7)
  position absolute
  height 100px
  width 100%
  text-align center
  .cg-piece
    position relative
    display inline-block
    width 60px
    height 60px
    margin 0 5px
    top 17px

.new-game
  header
    background #2D2D2D
    min-height 50px
    line-height 50px
    padding 0 20px
    color white
    font-family gothambold
    font-size 17px
    text-transform uppercase
    text-align center
  form
    padding 20px

  .nice-radio
    display inline-block
    clear both
    width 50%

    label
      width 100%
      background #666666
      color #aaa
      padding 10px 15px

    /* hide input */
    input.radio:empty
      display: none

    /* style label */
    input.radio:empty ~ label
      position relative
      float left
      line-height 2.5em
      cursor pointer
      -webkit-user-select none
      -moz-user-select none
      -ms-user-select none
      user-select none

    input.radio.computer:empty ~ label
      text-align right
      border-radius 0 30px 30px 0

    input.radio.human:empty ~ label
      border-radius 30px 0 0 30px

    input.radio:empty ~ label:before, input.radio:empty ~ label:after
      position absolute
      display block
      top 0
      bottom 0
      left 0
      content ''
      text-align left
      width 2.5em

    input.radio.human:empty ~ label:after
      left auto
      right 0

    /* toggle on */
    input.radio.computer:checked ~ label:before, input.radio.human:checked ~ label:after
      display inline-block
      font normal normal normal 14px/1 FontAwesome
      padding-top 20px
      font-size inherit
      text-rendering auto
      -webkit-font-smoothing antialiased
      -moz-osx-font-smoothing grayscale
      content: "\f00c"
      text-indent .9em

    input.radio:checked ~ label
      background-color #C4A86F
      color #fff
