.home
  padding-top 5px
  >.stats
    padding 0px 10px
    font-size 1em
    width 100%
    display flex
    flex-flow row nowrap
    justify-content space-between
    >.numPlayers
      flex 0 1 auto
    >.numGames
      flex 0 1 auto
  >.homeCreate
    padding 0px 10px
    >.newGame-pools
      padding 0px
      >.newGame-pool
        box-shadow none
        background-color lighten(bgdark, 2%)
        border 1px solid #3d3d3d
        color inherit
        &.active
          background-color lighten(bgdark, 8%)
  >.homeTournament
    padding 0px
    >.homeTitle
      margin 5px 0 5px
    >.tournamentList
      >.tournament_item
        padding 10px

.homeTitle
  font-weight bold
  text-align center
  margin 10px 0 5px

.homeOffline
  flex 1 1 auto
  display flex
  flex-flow column wrap
  justify-content center
  h2
    width 80%
    margin 0 auto
    font-size 1.5em
    font-weight bold
    opacity 0.6

#homeFeatured, #dailyPuzzle
  display flex
  flex-flow column wrap
  justify-content flex-start
  align-items center

#dailyPuzzle
  padding-bottom 15px
  .homeTitle
    margin-top 15px

#timeline
  padding 0px
  .timelineEntry
    padding 10px
    font-size 0.9em

.mini_board
  @media only screen and (orientation: portrait)
    width 66vw
  @media only screen and (orientation: landscape)
    width 66vh
  > .board_wrapper
    width 100%
    @media only screen and (orientation: portrait)
      height 66vw
    @media only screen and (orientation: landscape)
      height 66vh
  > .vsbloc
    font-size 0.8em
    background: linear-gradient(to bottom,rgba(40,40,40,1),rgba(34,34,34,1) 100%);
    border 1px solid #323232
    padding 5px
    overflow hidden
    > .antagonists
      display flex
      flex-flow row nowrap
      justify-content space-between
      > .player, > .opponent
        max-width 49%
        overflow hidden
        text-overflow ellipsis
    > .ratingAndTime
      display flex
      flex-flow row nowrap
      justify-content space-between
      > .time
        display flex
        justify-content center
        align-items center



.view-container.light
  .homeCreate
    >.newGame-pools
      >.newGame-pool
        background-color darken(bglight, 2%)
        border-color borderLightGray
        color inherit
        &.active
          background-color themeBgLightActive


.view-container.transp
  .homeCreate
    >.newGame-pools
      >.newGame-pool
        border-color transpWhite02
        background-color transpWhite005
        &.active
          background-color transpWhite01

