.gameImporter
  padding 15px
  p
    margin-bottom 1em

.pgnImport
  padding 10px
  margin 10px 0
  height 10em
  width 100%
  border-color #888
  background modalDarkBg

.view-container.light
  .pgnImport
    border-color #aaa
    background #fff

.view-container.transp
  .pgnImport
    background transpWhite02
    border-color transpWhite04
