@require 'reset'
@require 'colors'
@require 'common'
@require 'form'
@require 'modal'
@require 'overlay'
@require 'overlay-popup'
@require 'chessground'
@require 'chessground-board'
@require 'chessground-piece'
@require '*'
@require '../ui/**/*'
