@require 'normalize'
@require 'reset'
@require 'fonts'
@require 'fa'

@require 'lichess-font'
@require 'shepherd'
@require 'typo'
@require 'colors'
@require 'common'
@require 'form'
@require 'modal'
@require 'overlay'
@require 'overlay-popup'
@require 'chessground'
@require 'chessground-board'
@require 'chessground-piece'
@require '*'
@require '../ui/**/*'
