@charset "UTF-8";

@font-face {
  font-family: "lichess";
  src: url("../../fonts/lichess.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "lichess" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
