bglightOdd = darken(themeBgLight, 5%)

.view-container.light
  main
    color textLightBg

  #page
    background themeBgLight

  #games_menu
    background rgba(0,0,0,0.6)

  .fatButton
    background: linear-gradient(to bottom,rgba(245,245,245,1) 0%,rgba(240,240,240,1) 100%);
    text-shadow: 0 1px 0 #FFF;
    color: textMediumGray
    border-color #e2e2e2
    &.active
      background linear-gradient(to bottom,rgba(248,248,248,1) 0%,rgba(243,243,243,1) 100%);

  .mini_board
    .vsbloc
      background: linear-gradient(to bottom,rgba(245,245,245,1) 0%,rgba(240,240,240,1) 100%);
      border-color #e2e2e2

  .overlay
    background-color rgba(0,0,0,0.6)

  .card
    background #fff
    box-shadow 0px 2px 15px 0 rgba(0,0,0,0.5)
    .icon-game
      border-color #fff
    h2
      color textDarkGray
    &.challenge
      background gold
      &.sending
        background lighten(textLightBg, 25%)
        .actions
          background lighten(textLightBg, 10%)
      h2
        color #fff

  .list_item
    border-bottom-color #ddd
    &.odd
      background-color bglightOdd
    &.active
      background-color themeBgLightActive

  .ranking
    border-bottom-color borderLightGray

  .playTable
    color textDarkGray

  .antagonistInfos
    .rating
      color textLightBg
    &.active
      background-color activeBgLight

  .replayMove
    &.active
      background-color darken(themeBgLight, 12%)

  .clock
    color #707070
    background-color themeBgLight
    border-color #ccc
    &.running
      background-color #fff077
      color textDarkGray
    &.berserk
      border-color #dc322f
    &.emerg
      background-color #efaaaa
      color textDarkGray
    &.correspondence
      &.offline
        background-color themeBgLight
        color #707070

  .action_bar_button
    color textGray
    &.disabled
      color rgba(textGray, 0.4)
    &.highlight
      background blue
      color #fff
    &.active
      background-color themeBgLightActive

  .gameMovesList
    background darken(themeBgLight, 4%)
    color textLightBg

  .radio_list
    input.radio:checked + label
      background-color darken(bglight, 10%)

  .profilePerf
    &.active
      background themeBgLightActive
    > .rating
      color textDarkGray
      > .nb
        color textLightBg
    > .name
      color textDarkGray

  .select_games_filter
    margin-top -1px

  .userGame
    background-color themeBgLight
    color textLightBg
    &.odd
      background-color bglightOdd

  .rankingPlayer
    &.active
      background themeBgLightActive

  .followingPlayerAction
    &.active
      background themeBgLightActive

  .tabIndicator
    height 3px

  .engineSpinner
    color lighen(textLightBg, 5%)

  .navigationButton
    border-color borderLightGray

  .moreButton
    > button
      background themeBgLightActive

  #tournamentPlayerInfoModal
    > header
      background-color #fff
      color textLightBg
      border-bottom 1px solid borderLightGray
      > .playerModalHeader
        color textLightBg
    > .modal_content
      color textLightBg
      background-color themeBgLight

  .color-icon
    &.white
      &:before
        content: "K"
    &.black
      &:before
        content: "J"

  .theme-progressBarContainer
    border-color textLightGray
    color textLightBg
