.view-container.light

  main
    background themeBgLight
    color themeBgLightText

  #free_content
    background #fff
    .list_item
      border-color darken(#fff, 5%)
      &.selected
        background-color darken(#fff, 5%)

  .main_header
    color themeBgLightText
    background themeBgLightHeader
    &.board
      border-bottom none

  .subHeader
    margin-top -1px
    background-color themeBgLightHeader
    border-bottom 1px solid darken(themeBgLightHeader, 5%)

  .back_button
    > button.active
      background themeBgLightActive

  .content_round
    background themeBgLightHeader

  .main_footer
    border-top 1px solid borderLightGray

  .header-subTitle
    color rgba(textLightBg, 0.8)

  .chip, .main_header.board .chip
    color themeBgLightHeader
    border-color themeBgLightHeader

  .main_header-selector
    color lighten(textLightBg, 5%)
    background transparent

  .box
    background-color #fff

  #games_menu
    background rgba(0,0,0,0.6)

  .fatButton
    background: linear-gradient(to bottom,rgba(245,245,245,1) 0%,rgba(240,240,240,1) 100%);
    text-shadow: 0 1px 0 #FFF;
    color: textMediumGray
    border-color #e2e2e2
    &.active
      background linear-gradient(to bottom,rgba(248,248,248,1) 0%,rgba(243,243,243,1) 100%);

  .mini_board_container
    .vsbloc
      background: linear-gradient(to bottom,rgba(245,245,245,1) 0%,rgba(240,240,240,1) 100%);

  .overlay
    background-color rgba(0,0,0,0.6)

  .card
    background #fff
    box-shadow 0px 2px 15px 0 rgba(0,0,0,0.5)
    .icon-game
      border-color #fff
    h2
      color textDarkGray
    &.challenge
      background #c4a86f
      &.sending
        background #fff
        color textDarkGray
        h2, p
          color textDarkGray
        .actions
          background #ddd
      h2
        color #fff

  .list_item
    border-bottom-color themeBgLightBorder
    &.odd
      background-color #f7f6f5
    &.active
      background-color themeBgLightActive

  .playTable
    color textDarkGray

  .antagonistInfos
    .rating
      color textLightBg
    &.active
      background-color activeBgLight

  .replay, .replay_inline
    > .replayMove
      color lighten(textLightBg, 10%)
      &.current
        background-color transparent
        color black
        > index
          color inherit
      &.active
        background-color darken(themeBgLight, 12%)
        color black
        > index
          color black

  .replay_inline
    background themeBgLightHeader

  .action_bar_button
    color textGray
    &.disabled
      color rgba(textGray, 0.4)
    &.highlight
      background blue
      color #fff
    &.active
      background-color themeBgLightActive
    > .chip
      color #fff
      border-color themeBgLightHeader

  .replay
    color textLightBg

  .radio_list input.radio:checked + label, .settings_list .list_item.selected
      background-color darken(#fff, 5%)

  .profilePerf
    &.active
      background themeBgLightActive
    > .rating
      color textDarkGray
      > .nb
        color textLightBg
    > .name
      color textDarkGray

  .select_games_filter
    margin-top -1px

  .userGame
    color textLightBg

  .rankingPlayer
    &.active
      background themeBgLightActive

  .followingPlayerAction
    &.active
      background themeBgLightActive

  .tabIndicator
    height 3px

  .engineSpinner
    color lighen(textLightBg, 5%)

  .navigationButton
    border-color borderLightGray

  .moreButton
    > button
      background themeBgLightActive

  .analyse-player_bar
    color rgba(textLightBg, 0.9)
    > .info
      > .result
        border 0

  .color-icon
    &.white
      &:before
        content: "K"
    &.black
      &:before
        content: "J"

  .theme-progressBarContainer
    border-color textLightGray
    color textLightBg
