.view-container.light
  #page
    background themeBgLight

  main
    color themeBgLightText

  .main_header
    color themeBgLightText
    background themeBgLightHeader
    &.board
      border-bottom none

  .subHeader
    margin-top -1px
    background-color themeBgLightHeader
    border-bottom 1px solid darken(themeBgLightHeader, 5%)

  .back_button
    > button.active
      background themeBgLightActive

  .content_round
    background themeBgLightHeader

  .main_footer
    border-top 1px solid borderLightGray

  .header-subTitle
    color rgba(textLightBg, 0.8)

  .chip, .main_header.board .chip
    color themeBgLightHeader
    border-color themeBgLightHeader
    background-color goldDark

  .main_header-selector
    color lighten(textLightBg, 5%)

  #games_menu
    background rgba(0,0,0,0.6)

  .fatButton
    background: linear-gradient(to bottom,rgba(245,245,245,1) 0%,rgba(240,240,240,1) 100%);
    text-shadow: 0 1px 0 #FFF;
    color: textMediumGray
    border-color #e2e2e2
    &.active
      background linear-gradient(to bottom,rgba(248,248,248,1) 0%,rgba(243,243,243,1) 100%);

  .mini_board
    .vsbloc
      background: linear-gradient(to bottom,rgba(245,245,245,1) 0%,rgba(240,240,240,1) 100%);

  .overlay
    background-color rgba(0,0,0,0.6)

  .card
    background #fff
    box-shadow 0px 2px 15px 0 rgba(0,0,0,0.5)
    .icon-game
      border-color #fff
    h2
      color textDarkGray
    &.challenge
      background gold
      &.sending
        background #fff
        color textDarkGray
        h2, p
          color textDarkGray
        .actions
          background #ddd
      h2
        color #fff

  .list_item
    border-bottom-color themeBgLightBorder
    &.even
      background-color bglightEven
    &.active
      background-color themeBgLightActive

  .playTable
    color textDarkGray

  .antagonistInfos
    .rating
      color textLightBg
    &.active
      background-color activeBgLight

  .gameMovesList
    > .moves
      .replayMove
        &.active
          background-color darken(themeBgLight, 12%)

  .clock
    color #707070
    background-color themeBgLight
    border-color #ccc
    &.running
      background-color #fff077
      color textDarkGray
    &.berserk
      border-color #dc322f
    &.emerg
      background-color #efaaaa
      color textDarkGray
    &.correspondence
      &.offline
        background-color themeBgLight
        color #707070

  .action_bar_button
    color textGray
    &.disabled
      color rgba(textGray, 0.4)
    &.highlight
      background blue
      color #fff
    &.active
      background-color themeBgLightActive
    > .chip
      color #fff
      border-color themeBgLightHeader

  .gameMovesList
    background darken(themeBgLight, 4%)
    color textLightBg

  .radio_list
    input.radio:checked + label
      background-color darken(themeBgLight, 5%)

  .profilePerf
    &.active
      background themeBgLightActive
    > .rating
      color textDarkGray
      > .nb
        color textLightBg
    > .name
      color textDarkGray

  .select_games_filter
    margin-top -1px

  .userGame
    background-color themeBgLight
    color textLightBg
    &.even
      background-color bglightEven

  .rankingPlayer
    &.active
      background themeBgLightActive

  .followingPlayerAction
    &.active
      background themeBgLightActive

  .tabIndicator
    height 3px

  .engineSpinner
    color lighen(textLightBg, 5%)

  .navigationButton
    border-color borderLightGray

  .moreButton
    > button
      background themeBgLightActive

  #tournamentPlayerInfoModal
    > header
      background-color #fff
      color textLightBg
      border-bottom 1px solid borderLightGray
      > .playerModalHeader
        color textLightBg
    > .modal_content
      color textLightBg
      background-color themeBgLight

  .analyse-player_bar
    color rgba(textLightBg, 0.9)
    > .info
      > .result
        border 0

  .color-icon
    &.white
      &:before
        content: "K"
    &.black
      &:before
        content: "J"

  .theme-progressBarContainer
    border-color textLightGray
    color textLightBg
