form.login
  margin-top 2em
  .form-error
    width 80%
    margin 0 auto
    margin-bottom 10px
  .field
    margin-top 1em
    > input
      width 80%
      margin 0 auto
      display block
      width 80%
      margin 0 auto
      height 50px
      background #fff
      border-radius 5px
      border 1px solid #ddd
      padding 0 15px
  .submit
    margin-top 1em
    display flex
    justify-content center
    > .submitButton:before
      font-size 1.2em
      vertical-align middle
      margin-right 3px

.signup
  margin-top 40px
  padding 0 10px
  text-align center
  >a
    color gold
    text-decoration underline

.reset
  margin-top 40px
  padding 0 10px
  text-align center
  >a
    color gold
    text-decoration underline

.signupWarning
  font-size 0.9em
  text-align justify

.tosWarning
  text-align justify
  font-size 0.8em
  a
    text-decoration underline

.signup-emailCheck
  margin 1em 15px 0
  font-weight bold
  font-size 1.1em

#signupModal
  .modal_content
    &.loading
      opacity 0.5
