form.defaultForm.login
  margin-top 2em
  .twofactorhelp
    width 80%
    padding 0 15px
    margin 2em auto
    font-size 0.8em
    > i
      font-size 1.5em

.loginActions
  margin-top 40px
  display flex
  justify-content space-around

.signupWarning
  font-size 0.9em
  text-align justify

.tosWarning
  text-align justify
  font-size 0.9em

.signup-emailCheck
  margin 1em 15px 0
  font-weight bold
  font-size 1.1em

.view-container.light
  .form.login
    input
      background #fff

.view-container.transp
  .form.login
    input
      background #fff
