@font-face
  font-family 'gothammedium'
  src url('../../fonts/Gotham-Medium.ttf')
  font-weight normal
  font-style normal
  font-family 'gothamlight'
  src url('../../fonts/Gotham-Light.ttf')
  font-weight normal
  font-style normal
  font-family 'gothambook'
  src url('../../fonts/Gotham-Book.ttf')
  font-weight normal
  font-style normal
  font-family 'gothambold'
  src url('../../fonts/Gotham-Bold.ttf')
  font-weight normal
  font-style normal

body
  overflow hidden
  font-family 'gothammedium, arial, sans-serif'

.fa:before
  margin-left -3px


main
  position absolute
  height 100vh
  width 100%
  background #fff
  -webkit-transition all 200ms ease-out
  -moz-transition all 200ms ease-out
  -o-transition all 200ms ease-out
  transition all 200ms ease-out
  &.out
    -webkit-transform translate3d(85%, 0, 0)
    -moz-transform translate3d(85%, 0, 0)
    -ms-transform translate3d(85%, 0, 0)
    -o-transform translate3d(85%, 0, 0)
    transform translate3d(85%, 0, 0)
  header
    background url('../../images/pattern_black.jpg')
    color #fff
    nav
      a
        padding: 20px
        &.fa
          color #C4A86F
          width 15%
          display inline-block
          font-size 1.4em
        &.fa-trophy
          text-align right
          color #fff
  header, footer
    section
      margin 0 20px

h1
  font-size 1em
  font-family gothambold
  text-transform uppercase
  text-align center
  width 70%
  display inline-block
