aside
  width 85%
  background #353535
  color #DFDFDF
  min-height 100vh
  section
    padding 0 15px
  header
    background #2D2D2D
    box-shadow 0px 1px 2px 0px rgba(0,0,0,0.30)
    color #C4A86F
    font-size 17px
    text-align center
    .logo
      background url(../../images/pieces/mono/N.svg) no-repeat center center
      margin 0 auto
      height 80px
      width 100%
    h2
      clear both
      line-height 1.5em
      text-transform uppercase
      font-weight normal
      color #FFF
    button.settings
      padding 15px
      background none
      float left
      color #c4a86f;
      width 15%;
      display inline-block;
      font-size 1em;
  h3
    text-transform uppercase
    color #fff
    font-weight normal
    margin 40px 0px 30px 0

#login_form
  input
    display block
    width 85%
    margin-top 10px
    height 50px
    background #2D2D2D
    border-radius 5px
    border none
    padding 0 15px
    box-shadow inset 0px 1px 3px 0px rgba(0,0,0,0.50)
    color #8F8F8F
  button.login
    background #C4A86F
    color #fff
    padding 15px
    font-size 15px
    margin-top 20px
  button
    border none
    background none
    color #8C8C8C
    font-size 13px
    width 85%
    margin-top 10px

#settings
  position absolute
  top 0
  left 0
  width 85%
  min-height 100vh
  background #2d2d2d
  z-index 2
  visibility hidden
  padding 0
  &.show
    visibility visible
  header
    button
      float left
      padding 15px
      background none
      float left
      color #c4a86f;
      width 15%;
      display inline-block;
      font-size 1em;
    h2
      display inline-block
      padding 15px 0
      color #C4A86F
  section
    padding 20px 10px 0
    font-size 0.9em
    .check_container
      margin-bottom 20px
      label
        width 65%

