aside
  background #353535
  min-height 100vh
  div
    padding 0 15px
  header
    nav
      min-height 80px
      line-height 80px
      background #2D2D2D
      -moz-box-shadow 0px 1px 2px 0px rgba(0,0,0,0.30)
      box-shadow 0px 1px 2px 0px rgba(0,0,0,0.30)
      padding 0 30px
      color #C4A86F
      font-family gothammedium
      font-size 17px
      text-transform uppercase
      h2
        font-weight normal
  h3
    font-family gothambook
    text-transform uppercase
    color #fff
    font-weight normal
    margin 40px 0px 30px 0
  input
    display block
    width 85%
    margin-top 10px
    height 50px
    background #2D2D2D
    border-radius 5px
    border none
    padding 0 15px
    -moz-box-shadow inset 0px 1px 3px 0px rgba(0,0,0,0.50)
    box-shadow inset 0px 1px 3px 0px rgba(0,0,0,0.50)
    color #8F8F8F
  form
    button#login
      background #C4A86F
      color #fff
      font-family gothambold
      padding 15px
      font-size 15px
      margin-top 20px
    button
      border none
      background none
      color #8C8C8C
      font-size 13px
      width 85%
      margin-top 10px

