.menu-backdrop
  height 100%
  width 100%
  z-index 99
  background rgb(0,0,0)
  opacity 0
  visibility hidden
  position absolute
  will-change opacity
  top 0
  left 0

#side_menu
  background modalDarkBg
  color modalDarkColor
  position absolute
  visibility hidden
  top 0
  bottom 0
  height 100%
  min-height 100%
  max-height 100%
  width 85%
  display flex
  flex-flow column nowrap
  @media only screen and (min-width 500px)
    width 50%
  @media only screen and (min-width 960px)
    width 35%
  overflow hidden
  will-change transform
  z-index 100
  transform translate3d(-100%, 0,0)
  section
    padding 0 15px
  h3
    text-transform uppercase
    color #fff
    font-weight normal
    margin 40px 0px 30px 0

.sideMenu_zenMode
  padding 0 15px
  margin-bottom 0.5em

.signInButton
  width: 60%;
  padding: 0.8em 0.25em;
  margin: 15px auto
  border: 1px solid #505050
  background: #2e2e2e
  font-weight: bold;
  border-radius: 2px;

.side_menu_header
  padding-top: env(safe-area-inset-top);
  flex 0 0 auto
  display flex
  flex-flow column nowrap
  justify-content center
  background modalDarkHeader
  color darken(#fff, 8%)
  min-height 75px
  > div:last-child
    padding-bottom 1em
  > .kiddo
    display flex
    justify-content center
    height 50px
    width 100%
    font-size 46px
    color gold
    margin-bottom 0.3em
  > .username
    white-space nowrap
    width 100%
    line-height 45px
    font-size 1.5rem
    display flex
    width 100%
    align-items center
    padding 0 15px
    margin-bottom 0.2em
    > .fa
      margin-left 0.5em
      margin-top 0.15em

.side_menu_scroller
  flex 0 1 auto

.menu-toggleButton
  background #2e2e2e
  text-align left
  padding-left 15px
  line-height 40px
  &.side_link:last-child
    margin 0
  &.active
    background lighten(#2e2e2e, 3%)

.pingServer
  margin-left 15px
  margin-bottom 0.2em
  display flex
  align-items center
  color darken(#fff, 40%)
  font-size 0.75em
  &:first-child
    margin-top 1em
  > signal
    margin-right 1em
  .pingKey
    display inline-block
    width 45px
  .pingValue
    font-family 'Roboto'
  > .fa-question-circle-o
    font-size 1.5em
    margin-left 1em

.side_links
  > .hr
    margin 10px 0
    border-bottom 1px solid modalDarkBorder

.side_link
  color modalDarkColor
  padding 10px 0 10px 15px
  line-height 19px
  letter-spacing -0.5px
  > .patron
    color green
  > span
    color darken(textLightGray, 15%)
    width 17px
    font-size 19px
    margin-right 15px
  > .menu_icon_game
    &::before
      content ''
      display inline-block
      width 18px
      height 18px
      background url('../../images/icons/game_icon_menu.svg') no-repeat
  &:last-child
    margin-bottom 10px
  &.active
    background lighten(#373737, 3%)

.sep_link
  color #8a8a8a
  padding 10px 15px 10px

.view-container.light
  #side_menu
    color darken(themeBgLightText, 30%)
    background #fff

  .signInButton
    border-color #ddd
    background: #fff

  .side_menu_header, .pingServer, .side_link
    color darken(themeBgLightText, 30%)

  .side_menu_header, .menu-toggleButton
    background darken(#fff, 3%)

  .side_links > .hr
    border-color borderLightGray

  .side_link
    &.active
      background darken(#fff, 5%)
    > span
      color darken(themeBgLightText, 20%)

.view-container.transp
  #side_menu
    color modalTranspColor
    background transpBlack07

  .side_menu_header
    background transpBlack08

  .menu-toggleButton
    background transpWhite01
    &.side_link.active
      background lighten(transpWhite01, 8%)

  .side_link
    color modalTranspColor
    &.active
      background transpWhite005

