.game_form_popup
  > .popup_content
    padding 0
  .select_input
    margin-top 10px

.game_form
  fieldset
    padding 0px 20px
  .check_container
    margin-top 15px

.rating_range
  margin-top 10px
  .select_input
    margin-top 5px
    select
      padding-left 60px

.setupPosition
  display flex
  flex-flow column nowrap
  justify-content center
  align-items center
  margin-top 10px
  input[type=text]
    width 90%
    margin 10px auto
    border 1px solid borderLightGray
    padding 2px 4px
  .setupFenError
    color red

.newGame-preset_switch
  > .nice-radio
    > input.radio + label
      text-align center
      padding 0
      &:after
        content none

.newGame-pools
  flex-grow 1
  display flex
  flex-flow row wrap
  justify-content space-between
  align-items center
  padding 1em

.newGame-pool
  font-family 'Roboto'
  font-weight 300
  fluid-type(14px, 30px)
  height calc((100vw * 0.85 - 40px) * 0.31)
  flex 0 0 31%
  background rgba(255,255,255,0.7)
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
  display flex
  flex-flow column
  justify-content center
  align-items center
  margin-bottom 10px
  color themeBgLightText
  opacity 1
  transition opacity 0.5s
  &.active
    background #fff
    box-shadow 0 2px 5px rgba(0,0,0,0.3)
  &.transp
    opacity 0.6
  @media only screen and (min-width 500px)
    height calc((60vw - 40px) * 0.31)
  @media only screen and (min-width 600px)
    height calc((55vw - 40px) * 0.31)
  @media only screen and (min-width 700px)
    height calc((50vw - 40px) * 0.31)

.newGame-clock
  font-size 1.5em
  line-height 1.6em
  letter-spacing .1em

.newGame-perf
  text-transform capitalize
