.playersTable.offline
  margin-top 0
  .antagonistInfos
    width 100%
  .select_input
    background #353535
    color textLightGray
    margin-top 0
    select
      padding-left 110px
    + .select_input
      margin-top 15px

.engineSpinner
  color darken(textDarkBg, 5%)
  margin-left 10px

.offline_actions
  .claimDraw
    button.draw-yes:before
      display inline-block
      transform rotate(-90deg)
  .opponentSelector
    .select_input
      margin-top 0

.new_offline_game
  .newGameButton
    margin-top 20px
  .from_position_wrapper
    margin-top 10px
    p
      font-size 0.9em
    > .from_position
      margin-top 5px
      display flex
      justify-content center
