.overlay
  position fixed
  width 100%
  height 100%
  top 0
  left 0
  background rgba(0,0,0,0.8)
  .overlay-close
    position absolute
    right 7px
    top 8px
    background transparent
    z-index 100
    font-family Gothamlight
    font-size 50px
    color #C4A86F
    line-height 50px
    -webkit-transform rotate(45deg)
    -moz-transform rotate(45deg)
    -ms-transform rotate(45deg)
    -o-transform rotate(45deg)
    transform rotate(45deg)
    -webkit-transform rotate(45deg)
    -moz-transform rotate(45deg)
    -ms-transform rotate(45deg)
    -o-transform rotate(45deg)
    transform rotate(45deg)



/* Effects */
.overlay-effect
  opacity 0
  visibility hidden
  -webkit-transition opacity 200ms, visibility 0s 200ms
  transition opacity 200ms, visibility 0s 200ms

.overlay-effect.open
  opacity 1
  visibility visible
  -webkit-transition opacity 200ms
  transition opacity 200ms
