.overlay_popup_wrapper
  width 100%
  height 100%
  background-color rgba(0,0,0,0.5)
  color #ffffff
  z-index 10
  position absolute
  top 0
  left 0
  display flex
  flex-flow column nowrap
  justify-content center

.popup_overlay_close
  position absolute
  width 100%
  height 100%
  z-index 11

.overlay_popup
  margin 0 auto
  border-radius 4px
  width 90%
  max-height 80%
  z-index 12
  background-color modalDarkBg
  color modalDarkColor
  box-shadow 0 0 35px 10px rgba(0,0,0,0.5)
  // ios 12 zindex issue
  transform translateZ(0)
  &.native_scroller
    height initial
  button
    min-height 45px
  .defaultButton
    color #fff
  > header
    text-align center
    position relative
    padding 0 10px
    line-height 45px
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    border-bottom solid 1px modalDarkBorder
    > div
      overflow hidden
      text-overflow ellipsis
    > h2
      overflow hidden
      text-overflow ellipsis
      text-align center
      line-height 45px
    + .popup_content
      height calc(100% - 45px)
  .loader:before, .loader:after
    background-color #fff
  .list_item.active
    background-color lighten(modalDarkBg, 5%)
  @media only screen and (min-width 600px)
    width 60%
  @media only screen and (max-height 400px)
    max-height 85%

.offline_actions, .player_controls, .editorMenu, .continueFromHere, .go_or_cancel, .analyse_menu, .new_offline_game, .analyse-cm, .mini_user_actions_wrapper
  button:not(.defaultButton)
    width 100%
    margin 0
    padding 10px
    min-height 45px
    &.active
      background-color lighten(modalDarkBg, 5%)
    &.binary_choice
      float left
      width 50%
      border-bottom none
      &.left
        border-right 1px solid selectBg
      &[data-icon=E]
        &:before
          color green
        border-radius 3px 0 0 3px
      &[data-icon=L]
        &:before
          color red
        border-radius 0 3px 3px 0
    &:before
      margin-right 5px
    &:last-child
      border-bottom none
      border-radius 0 0 5px 5px
  .action
    padding 0.5em 1em
  @media only screen and (min-width 700px)
    .action
      padding 15px 20px

.popupActionWrapper
  width 100%
  text-align center
  margin 1em 0
  > button.popupAction
    background transparent
    width initial
    display initial
    border-radius 0
    font-size 0.9em
    text-transform uppercase
    &:active
      background transparent
      box-shadow 0px 0px 2px 1px rgba(0,0,0,0.1) inset
      &:before
        color green

.view-container.light
  .overlay_popup
    background-color bglight
    color textDarkGray
    > header
      border-color #E1E1E1
  .list_item.active
    background-color darken(#fff, 5%)
  .offline_actions, .player_controls, .editorMenu, .continueFromHere, .go_or_cancel, .analyse_menu, .new_offline_game, .analyse-cm, .mini_user_actions_wrapper
    button:not(.defaultButton)
      color textDarkGray
      &.active
        background darken(bglight, 5%)


.view-container.transp
  .overlay_popup
    color modalTranspColor
    background-color modalTranspBg
    > header
      border-color transpWhite02
    .select_input
      background transpWhite01
