.overlay
  position fixed
  width 100%
  height 100%
  top 0
  left 0
  background rgba(0,0,0,0.8)
  color #ffffff
  z-index 10

.overlay_close
  position absolute
  right 0
  top 0
  padding 15px 10px 10px
  width 50px
  background transparent
  font-size 30px
  z-index 11
  color #C4A86F

.overlay_content
  position relative
  top 50%
  transform translateY(-50%)
  text-align center
  button
    background none
    color #C4A86F
    text-align center
    text-transform uppercase
    font-size 0.9em
    margin 1em 0
    &:before
      content attr(data-icon)
      display inline-block
      width 40px
      height 40px
      line-height 40px
      color #C4A86F
      border-radius 50%
      background #fff
      margin-right 10px
    &:active
      &:before
        background #C4A86F
        color #fff

.overlay_effect
  opacity 0
  visibility hidden
  transition opacity 200ms, visibility 0s 200ms

.overlay_effect.open
  opacity 1
  visibility visible
  transition opacity 200ms
