#all-games
  height 100%
  width 272.5vw
  position relative
  left 7.5vw

#wrapper-games
  width 100%
  height 100%

.card
  background white
  position relative
  width 80vw
  height 75%
  top 13%
  margin 2.5vw
  float left
  z-index 9999
  .infos
    text-align center
    color #fff;
    text-transform uppercase
    position relative
  .icon-game
    background #EFE1C7
    border solid 2px #fff
    display block
    height 45px
    width 45px
    position absolute
    top -22px
    left 0
    right 0
    margin 0 auto
    border-radius 50%;
    -moz-box-shadow:  inset  0px 0px 3px 0px #96762F;
    -webkit-box-shadow: inset 0px 0px 3px 0px #96762F;
    box-shadow: inset 0px 0px 3px 0px #96762F;
    &.standard
      background-image url(../../images/standard2.gif)
      background-size cover
    &.chess960
      background-image url(../../images/chess960.gif)
      background-size cover
  h2
    padding-top 35px
    font-size 16px
    font-family gothambold
    color #383838
  p
    padding-bottom 30px
    font-size 11px
    color #C4A86F
    padding-top 5px
    font-family gothamlight
  button
    width 100%
    height 50px
    border none
    color #C4A86F
    background #fff
    font-family gothambold
    font-size 12px
    text-transform uppercase
    border-top solid 1px #EBEBEB


.new-game
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  background transparent
  min-height 400px
  &.back_visible
    .container_flip
      transform rotateY(180deg)
      -webkit-transform rotateY(180deg)
      -moz-transform rotateY(180deg)
      -o-transform rotateY(180deg)
      -ms-transform rotateY(180deg)
      .back
        display block
    .cg-board-wrap.view-only
      .cg-board
        position inherit
      .cg-square
        position inherit
      .cg-piece
        display none
  .container_flip
    position relative
    height 100%
    transform-style: preserve-3d;
    -webkit-transform-style preserve-3d
    -webkit-transition 0.4s
    -ms-transition 0.4s
    -moz-transition 0.4s
    transition 0.4s
  .back
    display none
  .front, .back
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
  .front
    z-index 2
    -webkit-transform rotateY(0deg)
    -moz-transform rotateY(0deg)
    -o-transform rotateY(0deg)
    -ms-transform rotateY(0deg)
    transform rotateY(0deg)
  .back
    -webkit-transform rotateY(180deg)
    -moz-transform rotateY(180deg)
    -o-transform rotateY(180deg)
    -ms-transform rotateY(180deg)
    transform rotateY(180deg)
    background: #2A2A2A;
    header
      background #212121
      min-height 50px
      line-height 50px
      padding 0 20px
      color white
      font-family gothambold
      font-size 16px
      text-transform uppercase
      text-align center
  .infos
    background #383838
    h2
      color #fff
    p
      color #a9a9a9
    button
      background #2A2A2A
      color #fff
      border none

#new_game_form
  padding-top 10px
  label
    font-family gothambook
  fieldset
    padding 0px 20px
  button
    width 100%
    height 50px
    position absolute
    bottom 0
    border none
    background #C4A86F
    color #fff
    font-size 12px
    text-transform uppercase
    font-family gothambold
    line-height: 50px;
  select[name=timepreset]
    padding-left 120px
  select[name=timeMode]
    padding-left 95px
  select[name=days]
    padding-left 110px
  .nice-radio
    input.radio.computer:empty ~ label
      text-align right
      border-radius 0 25px 25px 0
    input.radio.human:empty ~ label
      border-radius 30px 0 0 30px
    input.radio.human:empty ~ label:after
      left auto
      right 0

