// targets small devices like iphone 4
@media only screen and (max-device-height 480px)
  .main_header
    max-height 65px
    h2
      font-size 0.6em
    nav
      h1
        font-size 0.8em
      button
        padding 10px 20px
        &.fa
          font-size 1em
    .antagonist
      .clock
        font-size 20px
      .material
        display none
      .rating
        font-size 0.5em
    .vertical_align
      top 0
      transform none
  .main_footer
    min-height 95px
    section
      &.antagonist
        height 50px

  #game_actions
    padding 0
