#advancedSearchForm
  margin 0px 5px 0px 5px
// select
.game_search_row
  display flex
  flex-flow row nowrap
  justify-content space-around
  margin-top 5px
  width 100%
  .game_search_input
    flex 0 0 33%
    &.double_wide
      flex 0 0 66%
    input
      background transparent
      border 1px solid #444
      width 100%
      margin-right 5px
  .game_search_select
    flex 0 0 33%
    &.double_wide
      flex 0 0 66%
    select
      background #444
      border none
      outline none
      width 100%
  label
    flex 0 0 33%
    color labelText
