.settings_list
  flex-grow 1
  &.multiChoices
    .list_item
      border-bottom none
      margin-bottom 1rem
  .explanation
    padding 15px
  .list_item
    > .fa-check
      margin-left 1em
    label
      font-family 'Roboto'
      font-weight 300
      font-size 1.1em

.app_version
  flex-grow 0
  padding 10px 15px
  font-size 0.75em
  color darken(#DFDFDF, 10%)

.radio_list
  .list_item
    padding 0
  input.radio:empty
    display none
  input.radio:checked + label
    background-color lighten(bgdarkPage, 5%)
  input.radio:checked + label:after
    display inline-block
    font normal normal normal 14px/1 FontAwesome
    font-size inherit
    text-rendering auto
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    content: "\f00c"
    margin-left 1em
  label
    display inline-block
    vertical-align middle
    padding .8em
    width 100%
    height 100%
    text-transform capitalize

#bgThemes
  &.loading
    .list_item input.radio + label
      opacity 0.5
    .list_item input.radio:checked + label
      opacity 1
    .list_item input.radio:checked + label:after
      content: '\f1ce'
      animation: fa-spin 2s infinite linear;

.theme-progressBarContainer
  position absolute
  top 15px
  left 170px
  width calc(100vw - 170px - 15px)
  height 20px
  border 1px solid transpWhite02
  font-size 11px
  line-height 18px
  padding-left 3px
  color #d5d5d5
  overflow hidden
  > .theme-progressBar
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    transition transform ease-out 500ms
    transform translateX(-100%)
    background rgba(gold, 0.5)
  > .theme-progressInner
    position absolute
    top 0
    left 3px
    z-index 2

.settingsChoicesInline
  display flex
  flex-flow row wrap
  justify-content space-between

.list_item.board_theme
  &.loading
    > .name
      opacity 0.8
  > .name
    margin-right 0.5em
  > .fa-check
    margin-left 0.5em
  > .fa-cloud-download
    font-size 0.9em
    opacity: 0.7

.board_thumbnail
  display inline-block
  position absolute
  right 15px
  width: 64px;
  height: 32px;
  &.blue
    background-image url('../../images/board/svg/blue.svg')
    background-size 256px
  &.blue2
    background-image url('../../images/board/blue2.thumbnail.jpg')
  &.blue3
    background-image url('../../images/board/blue3.thumbnail.jpg')
  &.blue-marble
    background-image url('../../images/board/blue-marble.thumbnail.jpg')
  &.canvas
    background-image url('../../images/board/canvas.thumbnail.jpg')
  &.wood
    background-image url('../../images/board/wood.thumbnail.jpg')
  &.wood2
    background-image url('../../images/board/wood2.thumbnail.jpg')
  &.wood3
    background-image url('../../images/board/wood3.thumbnail.jpg')
  &.wood4
    background-image url('../../images/board/wood4.thumbnail.jpg')
  &.maple
    background-image url('../../images/board/maple.thumbnail.jpg')
  &.maple2
    background-image url('../../images/board/maple2.thumbnail.jpg')
  &.brown
    background-image url('../../images/board/svg/brown.svg')
    background-size 256px
  &.leather
    background-image url('../../images/board/leather.thumbnail.jpg')
  &.green
    background-image url('../../images/board/svg/green.svg')
    background-size 256px
  &.marble
    background-image url('../../images/board/marble.thumbnail.jpg')
  &.green-plastic
    background-image url('../../images/board/green-plastic.thumbnail.png')
  &.grey
    background-image url('../../images/board/grey.thumbnail.jpg')
  &.metal
    background-image url('../../images/board/metal.thumbnail.jpg')
  &.olive
    background-image url('../../images/board/olive.thumbnail.jpg')
  &.newspaper
    background-image url('../../images/board/newspaper.thumbnail.png')
  &.purple
    background-image url('../../images/board/svg/purple.svg')
    background-size 256px
  &.purple-diag
    background-image url('../../images/board/purple-diag.thumbnail.png')
  &.pink
    background-image url('../../images/board/pink-pyramid.thumbnail.png')
  &.ic
    background-image url('../../images/board/svg/ic.svg')
    background-size 256px

.list_item.piece_theme
  line-height 60px
  background-repeat no-repeat
  background-position right 10px center
  background-size 60px 60px
  text-transform capitalize
  @media only screen and (min-width 600px)
    background-position right 10px center, right 70px center, right 130px center, right 190px center, right 250px center, right 310px center;
  &.merida
    background-image url('../../images/pieces/merida/wN.svg')
    @media only screen and (min-width 600px)
      background-image url('../../images/pieces/merida/wP.svg'),url('../../images/pieces/merida/wN.svg'),url('../../images/pieces/merida/wB.svg'),url('../../images/pieces/merida/wR.svg'),url('../../images/pieces/merida/wQ.svg'),url('../../images/pieces/merida/wK.svg')
  &.cburnett
    background-image url('../../images/pieces/cburnett/wN.svg')
    @media only screen and (min-width 600px)
      background-image url('../../images/pieces/cburnett/wP.svg'),url('../../images/pieces/cburnett/wN.svg'),url('../../images/pieces/cburnett/wB.svg'),url('../../images/pieces/cburnett/wR.svg'),url('../../images/pieces/cburnett/wQ.svg'),url('../../images/pieces/cburnett/wK.svg')
  &.pirouetti
    background-image url('../../images/pieces/pirouetti/wN.svg')
    @media only screen and (min-width 600px)
      background-image url('../../images/pieces/pirouetti/wP.svg'),url('../../images/pieces/pirouetti/wN.svg'),url('../../images/pieces/pirouetti/wB.svg'),url('../../images/pieces/pirouetti/wR.svg'),url('../../images/pieces/pirouetti/wQ.svg'),url('../../images/pieces/pirouetti/wK.svg')
  &.alpha
    background-image url('../../images/pieces/alpha/wN.svg')
    @media only screen and (min-width 600px)
      background-image url('../../images/pieces/alpha/wP.svg'),url('../../images/pieces/alpha/wN.svg'),url('../../images/pieces/alpha/wB.svg'),url('../../images/pieces/alpha/wR.svg'),url('../../images/pieces/alpha/wQ.svg'),url('../../images/pieces/alpha/wK.svg')
  &.spatial
    background-image url('../../images/pieces/spatial/wN.svg')
    @media only screen and (min-width 600px)
      background-image url('../../images/pieces/spatial/wP.svg'),url('../../images/pieces/spatial/wN.svg'),url('../../images/pieces/spatial/wB.svg'),url('../../images/pieces/spatial/wR.svg'),url('../../images/pieces/spatial/wQ.svg'),url('../../images/pieces/spatial/wK.svg')
  &.reilly
    background-image url('../../images/pieces/reilly/wN.svg')
    @media only screen and (min-width 600px)
      background-image url('../../images/pieces/reilly/wP.svg'),url('../../images/pieces/reilly/wN.svg'),url('../../images/pieces/reilly/wB.svg'),url('../../images/pieces/reilly/wR.svg'),url('../../images/pieces/reilly/wQ.svg'),url('../../images/pieces/reilly/wK.svg')
  &.companion
    background-image url('../../images/pieces/companion/wN.svg')
    @media only screen and (min-width 600px)
      background-image url('../../images/pieces/companion/wP.svg'),url('../../images/pieces/companion/wN.svg'),url('../../images/pieces/companion/wB.svg'),url('../../images/pieces/companion/wR.svg'),url('../../images/pieces/companion/wQ.svg'),url('../../images/pieces/companion/wK.svg')
  &.kosal
    background-image url('../../images/pieces/kosal/wN.svg')
    @media only screen and (min-width 600px)
      background-image url('../../images/pieces/kosal/wP.svg'),url('../../images/pieces/kosal/wN.svg'),url('../../images/pieces/kosal/wB.svg'),url('../../images/pieces/kosal/wR.svg'),url('../../images/pieces/kosal/wQ.svg'),url('../../images/pieces/kosal/wK.svg')
  &.leipzig
    background-image url('../../images/pieces/leipzig/wN.svg')
    @media only screen and (min-width 600px)
      background-image url('../../images/pieces/leipzig/wP.svg'),url('../../images/pieces/leipzig/wN.svg'),url('../../images/pieces/leipzig/wB.svg'),url('../../images/pieces/leipzig/wR.svg'),url('../../images/pieces/leipzig/wQ.svg'),url('../../images/pieces/leipzig/wK.svg')
  &.fantasy
    background-image url('../../images/pieces/fantasy/wN.svg')
    @media only screen and (min-width 600px)
      background-image url('../../images/pieces/fantasy/wP.svg'),url('../../images/pieces/fantasy/wN.svg'),url('../../images/pieces/fantasy/wB.svg'),url('../../images/pieces/fantasy/wR.svg'),url('../../images/pieces/fantasy/wQ.svg'),url('../../images/pieces/fantasy/wK.svg')
  &.shapes
    background-image url('../../images/pieces/shapes/wN.svg')
    @media only screen and (min-width 600px)
      background-image url('../../images/pieces/shapes/wP.svg'),url('../../images/pieces/shapes/wN.svg'),url('../../images/pieces/shapes/wB.svg'),url('../../images/pieces/shapes/wR.svg'),url('../../images/pieces/shapes/wQ.svg'),url('../../images/pieces/shapes/wK.svg')
  &.letter
    background-image url('../../images/pieces/letter/wN.svg')
    @media only screen and (min-width 600px)
      background-image url('../../images/pieces/letter/wP.svg'),url('../../images/pieces/letter/wN.svg'),url('../../images/pieces/letter/wB.svg'),url('../../images/pieces/letter/wR.svg'),url('../../images/pieces/letter/wQ.svg'),url('../../images/pieces/letter/wK.svg')
  &.chessnut
    background-image url('../../images/pieces/chessnut/wN.svg')
    @media only screen and (min-width 600px)
      background-image url('../../images/pieces/chessnut/wP.svg'),url('../../images/pieces/chessnut/wN.svg'),url('../../images/pieces/chessnut/wB.svg'),url('../../images/pieces/chessnut/wR.svg'),url('../../images/pieces/chessnut/wQ.svg'),url('../../images/pieces/chessnut/wK.svg')
  &.chess7
    background-image url('../../images/pieces/chess7/wN.svg')
    @media only screen and (min-width 600px)
      background-image url('../../images/pieces/chess7/wP.svg'),url('../../images/pieces/chess7/wN.svg'),url('../../images/pieces/chess7/wB.svg'),url('../../images/pieces/chess7/wR.svg'),url('../../images/pieces/chess7/wQ.svg'),url('../../images/pieces/chess7/wK.svg')
  &.riohacha
    background-image url('../../images/pieces/riohacha/wN.svg')
    @media only screen and (min-width 600px)
      background-image url('../../images/pieces/riohacha/wP.svg'),url('../../images/pieces/riohacha/wN.svg'),url('../../images/pieces/riohacha/wB.svg'),url('../../images/pieces/riohacha/wR.svg'),url('../../images/pieces/riohacha/wQ.svg'),url('../../images/pieces/riohacha/wK.svg')
  &.maestro
    background-image url('../../images/pieces/maestro/wN.svg')
    @media only screen and (min-width 600px)
      background-image url('../../images/pieces/maestro/wP.svg'),url('../../images/pieces/maestro/wN.svg'),url('../../images/pieces/maestro/wB.svg'),url('../../images/pieces/maestro/wR.svg'),url('../../images/pieces/maestro/wQ.svg'),url('../../images/pieces/maestro/wK.svg')
  &.fresca
    background-image url('../../images/pieces/fresca/wN.svg')
    @media only screen and (min-width 600px)
      background-image url('../../images/pieces/fresca/wP.svg'),url('../../images/pieces/fresca/wN.svg'),url('../../images/pieces/fresca/wB.svg'),url('../../images/pieces/fresca/wR.svg'),url('../../images/pieces/fresca/wQ.svg'),url('../../images/pieces/fresca/wK.svg')
  &.cardinal
    background-image url('../../images/pieces/cardinal/wN.svg')
    @media only screen and (min-width 600px)
      background-image url('../../images/pieces/cardinal/wP.svg'),url('../../images/pieces/cardinal/wN.svg'),url('../../images/pieces/cardinal/wB.svg'),url('../../images/pieces/cardinal/wR.svg'),url('../../images/pieces/cardinal/wQ.svg'),url('../../images/pieces/cardinal/wK.svg')
  &.tatiana
    background-image url('../../images/pieces/tatiana/wN.svg')
    @media only screen and (min-width 600px)
      background-image url('../../images/pieces/tatiana/wP.svg'),url('../../images/pieces/tatiana/wN.svg'),url('../../images/pieces/tatiana/wB.svg'),url('../../images/pieces/tatiana/wR.svg'),url('../../images/pieces/tatiana/wQ.svg'),url('../../images/pieces/tatiana/wK.svg')
  &.staunty
    background-image url('../../images/pieces/staunty/wN.svg')
    @media only screen and (min-width 600px)
      background-image url('../../images/pieces/staunty/wP.svg'),url('../../images/pieces/staunty/wN.svg'),url('../../images/pieces/staunty/wB.svg'),url('../../images/pieces/staunty/wR.svg'),url('../../images/pieces/staunty/wQ.svg'),url('../../images/pieces/staunty/wK.svg')
  &.governor
    background-image url('../../images/pieces/governor/wN.svg')
    @media only screen and (min-width 600px)
      background-image url('../../images/pieces/governor/wP.svg'),url('../../images/pieces/governor/wN.svg'),url('../../images/pieces/governor/wB.svg'),url('../../images/pieces/governor/wR.svg'),url('../../images/pieces/governor/wQ.svg'),url('../../images/pieces/governor/wK.svg')
  &.symmetric
    background-image url('../../images/pieces/symmetric/wN.svg')
    @media only screen and (min-width 600px)
      background-image url('../../images/pieces/symmetric/wP.svg'),url('../../images/pieces/symmetric/wN.svg'),url('../../images/pieces/symmetric/wB.svg'),url('../../images/pieces/symmetric/wR.svg'),url('../../images/pieces/symmetric/wQ.svg'),url('../../images/pieces/symmetric/wK.svg')
  &.dubrovny
    background-image url('../../images/pieces/dubrovny/wN.svg')
    @media only screen and (min-width 600px)
      background-image url('../../images/pieces/dubrovny/wP.svg'),url('../../images/pieces/dubrovny/wN.svg'),url('../../images/pieces/dubrovny/wB.svg'),url('../../images/pieces/dubrovny/wR.svg'),url('../../images/pieces/dubrovny/wQ.svg'),url('../../images/pieces/dubrovny/wK.svg')
  &.pixel
    background-image url('../../images/pieces/pixel/wN.svg')
    @media only screen and (min-width 600px)
      background-image url('../../images/pieces/pixel/wP.svg'),url('../../images/pieces/pixel/wN.svg'),url('../../images/pieces/pixel/wB.svg'),url('../../images/pieces/pixel/wR.svg'),url('../../images/pieces/pixel/wQ.svg'),url('../../images/pieces/pixel/wK.svg')
  &.california
    background-image url('../../images/pieces/california/wN.svg')
    @media only screen and (min-width 600px)
      background-image url('../../images/pieces/california/wP.svg'),url('../../images/pieces/california/wN.svg'),url('../../images/pieces/california/wB.svg'),url('../../images/pieces/california/wR.svg'),url('../../images/pieces/california/wQ.svg'),url('../../images/pieces/california/wK.svg')
