.settings_list
  flex-grow 1
  .explanation
    padding 15px
  .list_item
    &.selected
      background-color lighten(bgdark, 5%)
    > .fa-check
      margin-left 1em

.app_version
  flex-grow 0
  padding 10px 15px
  font-size 0.75em
  color darken(#DFDFDF, 10%)

.radio_list
  .list_item
    padding 0
  input.radio:empty
    display none
  input.radio:checked + label
    background-color lighten(bgdark, 5%)
  input.radio:checked + label:after
    display inline-block
    font normal normal normal 14px/1 FontAwesome
    font-size inherit
    text-rendering auto
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    content: "\f00c"
    margin-left 1em
  label
    display inline-block
    vertical-align middle
    padding .8em
    width 100%
    height 100%
    text-transform capitalize

#bgThemes
  &.loading
    .list_item input.radio + label
      opacity 0.5
    .list_item input.radio:checked + label
      opacity 1
    .list_item input.radio:checked + label:after
      content: '\f1ce'
      animation: fa-spin 2s infinite linear;

.theme-progressBarContainer
  position absolute
  top 15px
  left 170px
  width calc(100vw - 170px - 15px)
  height 20px
  border 1px solid transpWhite02
  font-size 11px
  line-height 18px
  padding-left 3px
  color #d5d5d5
  overflow hidden
  > .theme-progressBar
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    transition transform ease-out 500ms
    transform translateX(-100%)
    background rgba(gold, 0.5)
  > .theme-progressInner
    position absolute
    top 0
    left 3px
    z-index 2

.settingsChoicesInline
  display flex
  flex-flow row wrap
  justify-content space-between

.board_icon
  display inline-block
  position absolute
  right 15px
  width: 64px;
  height: 32px;
  &.brown
    background-image url('../../images/board/icons/brown.png')
  &.blue
    background-image url('../../images/board/icons/blue.png')
  &.green
    background-image url('../../images/board/icons/green.png')
  &.purple
    background-image url('../../images/board/icons/purple.png')
  &.wood
    background-image url('../../images/board/icons/wood.png')
  &.wood2
    background-image url('../../images/board/icons/wood2.png')
  &.wood3
    background-image url('../../images/board/icons/wood3.png')
  &.maple
    background-image url('../../images/board/icons/maple.png')
  &.blue3
    background-image url('../../images/board/icons/blue3.png')
  &.canvas
    background-image url('../../images/board/icons/canvas.png')
  &.grey
    background-image url('../../images/board/icons/grey.png')
  &.metal
    background-image url('../../images/board/icons/metal.png')

.list_item.piece_theme
  line-height 60px
  > label
    background-repeat no-repeat
    background-position right 10px center
    background-size 60px 60px
    @media only screen and (min-width 600px)
      background-position right 10px center, right 70px center, right 130px center, right 190px center, right 250px center, right 310px center;
  &.merida
    > label
      background-image url('../../images/pieces/merida/wN.svg')
      @media only screen and (min-width 600px)
        background-image url('../../images/pieces/merida/wP.svg'),url('../../images/pieces/merida/wN.svg'),url('../../images/pieces/merida/wB.svg'),url('../../images/pieces/merida/wR.svg'),url('../../images/pieces/merida/wQ.svg'),url('../../images/pieces/merida/wK.svg')
  &.cburnett
    > label
      background-image url('../../images/pieces/cburnett/wN.svg')
      @media only screen and (min-width 600px)
        background-image url('../../images/pieces/cburnett/wP.svg'),url('../../images/pieces/cburnett/wN.svg'),url('../../images/pieces/cburnett/wB.svg'),url('../../images/pieces/cburnett/wR.svg'),url('../../images/pieces/cburnett/wQ.svg'),url('../../images/pieces/cburnett/wK.svg')
  &.pirouetti
    > label
      background-image url('../../images/pieces/pirouetti/wN.svg')
      @media only screen and (min-width 600px)
        background-image url('../../images/pieces/pirouetti/wP.svg'),url('../../images/pieces/pirouetti/wN.svg'),url('../../images/pieces/pirouetti/wB.svg'),url('../../images/pieces/pirouetti/wR.svg'),url('../../images/pieces/pirouetti/wQ.svg'),url('../../images/pieces/pirouetti/wK.svg')
  &.alpha
    > label
      background-image url('../../images/pieces/alpha/wN.svg')
      @media only screen and (min-width 600px)
        background-image url('../../images/pieces/alpha/wP.svg'),url('../../images/pieces/alpha/wN.svg'),url('../../images/pieces/alpha/wB.svg'),url('../../images/pieces/alpha/wR.svg'),url('../../images/pieces/alpha/wQ.svg'),url('../../images/pieces/alpha/wK.svg')
  &.spatial
    > label
      background-image url('../../images/pieces/spatial/wN.svg')
      @media only screen and (min-width 600px)
        background-image url('../../images/pieces/spatial/wP.svg'),url('../../images/pieces/spatial/wN.svg'),url('../../images/pieces/spatial/wB.svg'),url('../../images/pieces/spatial/wR.svg'),url('../../images/pieces/spatial/wQ.svg'),url('../../images/pieces/spatial/wK.svg')
  &.reilly
    > label
      background-image url('../../images/pieces/reilly/wN.svg')
      @media only screen and (min-width 600px)
        background-image url('../../images/pieces/reilly/wP.svg'),url('../../images/pieces/reilly/wN.svg'),url('../../images/pieces/reilly/wB.svg'),url('../../images/pieces/reilly/wR.svg'),url('../../images/pieces/reilly/wQ.svg'),url('../../images/pieces/reilly/wK.svg')
  &.companion
    > label
      background-image url('../../images/pieces/companion/wN.svg')
      @media only screen and (min-width 600px)
        background-image url('../../images/pieces/companion/wP.svg'),url('../../images/pieces/companion/wN.svg'),url('../../images/pieces/companion/wB.svg'),url('../../images/pieces/companion/wR.svg'),url('../../images/pieces/companion/wQ.svg'),url('../../images/pieces/companion/wK.svg')
  &.kosal
    > label
      background-image url('../../images/pieces/kosal/wN.svg')
      @media only screen and (min-width 600px)
        background-image url('../../images/pieces/kosal/wP.svg'),url('../../images/pieces/kosal/wN.svg'),url('../../images/pieces/kosal/wB.svg'),url('../../images/pieces/kosal/wR.svg'),url('../../images/pieces/kosal/wQ.svg'),url('../../images/pieces/kosal/wK.svg')
  &.leipzig
    > label
      background-image url('../../images/pieces/leipzig/wN.svg')
      @media only screen and (min-width 600px)
        background-image url('../../images/pieces/leipzig/wP.svg'),url('../../images/pieces/leipzig/wN.svg'),url('../../images/pieces/leipzig/wB.svg'),url('../../images/pieces/leipzig/wR.svg'),url('../../images/pieces/leipzig/wQ.svg'),url('../../images/pieces/leipzig/wK.svg')
  &.fantasy
    > label
      background-image url('../../images/pieces/fantasy/wN.svg')
      @media only screen and (min-width 600px)
        background-image url('../../images/pieces/fantasy/wP.svg'),url('../../images/pieces/fantasy/wN.svg'),url('../../images/pieces/fantasy/wB.svg'),url('../../images/pieces/fantasy/wR.svg'),url('../../images/pieces/fantasy/wQ.svg'),url('../../images/pieces/fantasy/wK.svg')
  &.shapes
    > label
      background-image url('../../images/pieces/shapes/wN.svg')
      @media only screen and (min-width 600px)
        background-image url('../../images/pieces/shapes/wP.svg'),url('../../images/pieces/shapes/wN.svg'),url('../../images/pieces/shapes/wB.svg'),url('../../images/pieces/shapes/wR.svg'),url('../../images/pieces/shapes/wQ.svg'),url('../../images/pieces/shapes/wK.svg')
  &.letter
    > label
      background-image url('../../images/pieces/letter/wN.svg')
      @media only screen and (min-width 600px)
        background-image url('../../images/pieces/letter/wP.svg'),url('../../images/pieces/letter/wN.svg'),url('../../images/pieces/letter/wB.svg'),url('../../images/pieces/letter/wR.svg'),url('../../images/pieces/letter/wQ.svg'),url('../../images/pieces/letter/wK.svg')
  &.chessnut
    > label
      background-image url('../../images/pieces/chessnut/wN.svg')
      @media only screen and (min-width 600px)
        background-image url('../../images/pieces/chessnut/wP.svg'),url('../../images/pieces/chessnut/wN.svg'),url('../../images/pieces/chessnut/wB.svg'),url('../../images/pieces/chessnut/wR.svg'),url('../../images/pieces/chessnut/wQ.svg'),url('../../images/pieces/chessnut/wK.svg')
  &.chess7
    > label
      background-image url('../../images/pieces/chess7/wN.svg')
      @media only screen and (min-width 600px)
        background-image url('../../images/pieces/chess7/wP.svg'),url('../../images/pieces/chess7/wN.svg'),url('../../images/pieces/chess7/wB.svg'),url('../../images/pieces/chess7/wR.svg'),url('../../images/pieces/chess7/wQ.svg'),url('../../images/pieces/chess7/wK.svg')
  &.riohacha
    > label
      background-image url('../../images/pieces/riohacha/wN.svg')
      @media only screen and (min-width 600px)
        background-image url('../../images/pieces/riohacha/wP.svg'),url('../../images/pieces/riohacha/wN.svg'),url('../../images/pieces/riohacha/wB.svg'),url('../../images/pieces/riohacha/wR.svg'),url('../../images/pieces/riohacha/wQ.svg'),url('../../images/pieces/riohacha/wK.svg')
  &.symmetric
    > label
      background-image url('../../images/pieces/symmetric/wN.svg')
      @media only screen and (min-width 600px)
        background-image url('../../images/pieces/symmetric/wP.svg'),url('../../images/pieces/symmetric/wN.svg'),url('../../images/pieces/symmetric/wB.svg'),url('../../images/pieces/symmetric/wR.svg'),url('../../images/pieces/symmetric/wQ.svg'),url('../../images/pieces/symmetric/wK.svg')
  &.neo
    > label
      background-image url('../../images/pieces/neo/wN.svg')
      @media only screen and (min-width 600px)
        background-image url('../../images/pieces/neo/wP.svg'),url('../../images/pieces/neo/wN.svg'),url('../../images/pieces/neo/wB.svg'),url('../../images/pieces/neo/wR.svg'),url('../../images/pieces/neo/wQ.svg'),url('../../images/pieces/neo/wK.svg')
