.timelineEntries
  height 100%

.timelineEntry
  color textMediumGray
  > strong
    color textDarkBg
    font-weight normal


.view-container.light
  .timelineEntry
    color darken(textLightGray, 10%)
    > strong
      color themeBgLightText

// .view-container.transp
//   .timelineEntry
