.timelineEntries
  height 100%

.timelineEntry
  color darken(textDarkBg, 20%)
  em
    color darken(textDarkBg, 20%)
  &.blogEntry
    color textDarkBg
  > strong
    color textDarkBg
    font-weight normal


.view-container.light
  .timelineEntry
    color darken(textLightGray, 10%)
    em
      color darken(textLightGray, 10%)
    &.blogEntry
      color themeBgLightText
    > strong
      color themeBgLightText
      font-weight bold

// .view-container.transp
//   .timelineEntry
