.tournament_item
  opacity 0.9
  &.official
    opacity 1
    > .tournamentListName:before
      color gold

td.tournamentListName
  text-align: left
  text-overflow: ellipsis
  white-space: nowrap;
  overflow hidden
  max-width 0
  width 60%
  position relative
  &:first-child
    padding-left 45px
  &:before
    position absolute
    left 8px
    top 21px
    font-size 28px
  > .fullName
    overflow hidden
    text-overflow ellipsis

td.tournamentListTime
  > .time
    letter-spacing 0px
  padding 10px
  text-align right
  max-width 0
  width 35%

td.tournamentListNav
  font: normal normal normal 14px/1 FontAwesome
  font-size: inherit
  text-rendering: auto
  -webkit-font-smoothing: antialiased
  max-width 0
  width 10%
  text-align right
  padding-right 10px

p.tournamentTitle
  text-align left
  font-weight bold
  color gold
  padding-left 10px
  margin 10px 0 5px

.tournamentTabsWrapper
  height 100%;

.tournamentList
  height 'calc(100% - %s)' % headerHeight
  table
    width 100%

table.tournamentStandings
  width 100%
  &.loading
    opacity 0.7

.on-fire
  line-height 10px
  &:before
    content: attr(data-icon)
    color: #d59120

.off-fire
  line-height 10px
  &:before
    content: ''

td.tournamentPlayer
  padding 10px
  text-align: left
  text-overflow: ellipsis
  white-space: nowrap;
  overflow hidden
  max-width 0
  width 80%

.list_item.me
  >td.tournamentPlayer
    border-left 10px solid #d59120
    padding-left 5px

.progress
  &.positive
    color green
  &.negative
    color red

td.tournamentPoints
  padding 10px
  text-align: right
  max-width 0
  width 20%

.timeArrow
  font-weight: bold

.tournamentHeader
  padding 10px

.tournamentInfoTime, .tournamentConditions
  padding-bottom 5px
  border-bottom 1px solid borderColor

.tournamentConditions
  font-size 0.8em
  position relative
  padding-left 23px
  &.accepted
    color green
  &.rejected
    color red
  > .condition
    &.accepted
      color green
    &.rejected
      color red
  &.anonymous
    color inherit
  &:before
    font-size 18px
    position absolute
    left 0
    opacity 0.7

.tournamentCreatorInfo, .tournamentPositionInfo
  font-size 0.85em
  padding-top 5px

.tournamentPositionInfo.withLink
  text-decoration underline

.tournamentNotFound
  padding 1em
  p
    margin-bottom 0.5em

.tournamentInfo
  &:before
    content: attr(data-icon)

.timeInfo
  float right

.tournamentMiniBoard
  display flex
  flex-flow column wrap
  justify-content flex-start
  align-items center

.podium
  display flex
  flex-flow row nowrap
  font-size 0.75em
  margin 0 10px
  align-items flex-end
  > div
    overflow hidden
    text-overflow ellipsis
    display flex
    flex-flow column wrap
    justify-content flex-end
    > div
      margin 0 auto
      text-align center
    > .trophy
      min-height 0 // chrome 48 bug workaround
      margin-bottom 5px

.place1
  width 44%
  font-size 1.25em
  > .trophy
    width 75%
    content: url('../../images/trophies/trophy-1.png')

.place2
  width 31%
  font-size 1.1em
  > .trophy
    width 55%
    content: url('../../images/trophies/trophy-2.svg')

.place3
  width 25%
  font-size 1em
  > .trophy
    width 50%
    content: url('../../images/trophies/trophy-3.svg')

.stats
  font-size .7em
  margin 0 auto

.statName
  text-align left

.statData
  text-align right

.navigationButtons
  display flex
  flex-flow row wrap
  align-items center
  align-self center
  margin 10px 0
  height 30px
  &.invisible
    display none

.navigationButton
  border-radius 4px
  text-align center
  border-style solid
  border-color #323232
  border-width 1px
  height 30px
  line-height 20px
  margin 0 5px
  padding 0
  width 40px
  &:before
    font-family "lichess"!important
    font-size 1.2em
    content attr(data-icon)
    vertical-align middle
  &.invisible
    display none
  &.me
    line-height 25px
    width 60px
    &:before
      margin-right 5px
    &.activated
      color #ccc!important
      text-shadow 0 1px 0 #000!important
      background #444!important
      border-color #404040!important
      box-shadow 0 3px 4px rgba(0,0,0,0.35) inset!important
  @media only screen and (max-width 380px)
    margin 0 1px
    width 35px
    line-height 16px
    &:before
      font-size 1em

.pageInfo
  margin 0px 5px 0px 5px
  @media only screen and (max-width 380px)
    letter-spacing -1px

.tournamentLeaderboard
  display flex
  flex-flow column nowrap


.flagRank
  &:before
    font-size 1.2em
    vertical-align  middle
    font-family "lichess" !important
    content attr(data-icon)

.tournamentFaq
  padding 10px
  h2
    font-weight bold
    font-size 1.1em
    margin-bottom 5px
    &:not(:first-child)
      margin-top 15px
  .double
    color: #d59120;
  .streak
    color: #759900;

.playerStats
  font-size 1em
  margin 0 auto
  border-spacing 10px 0px
  border-collapse separate
  > .invisible
    display none

.playerGames
  width 100%
  >.list_item
    >td
      vertical-align  middle

#tournamentPlayerInfoModal
  > .modal_content
    color textDarkBg
    background bgdark
  > header
    background headerBgDark
    border-bottom-color borderColor
    box-sizing content-box
    > .playerModalHeader
      padding 0 40px
      overflow hidden
      white-space nowrap
      text-overflow ellipsis
  .playerGames
    td
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
  .oppName
    max-width 160px

.tournamentPlayerInfo
  padding 5px

.streak
  color #759900

.double
  color #d59120

#tournamentCreateForm
  >fieldset
    padding 0px 20px
    >.select_input
      >select
        padding-left 100px
      &.no-margin
        margin-right 0px
      &.notVisible
        visibility hidden
        position absolute

.tournament_form_popup
  background bglight
  >.popup_content
    padding 0

button.newTournamentButton
  width 100%
  height footerHeight
  border-radius 0 0 5px 5px
  margin 20px 0 0
  background gold
  color #FFF
  font-size 0.85em
  text-transform uppercase
  &[data-icon=E]:before
    color #fff
  &:before
    margin-right 10px
  &.active
    background lighten(gold, 10%)
  > .fa-hourglass-half
    font-size 20px
