.training-tableWrapper
  padding 0
  @media only screen and (orientation: landscape) and (min-width 768px) and (min-height 768px)
    > .training-table > .training-explanation
      padding 0

.training-table
  height initial
  flex 1 1 auto
  display flex
  flex-flow column nowrap
  font-size 0.9em
  padding 1em
  @media only screen and (orientation: portrait) and (min-width 768px) and (min-height 768px)
    margin 0 3vw
    > .training-explanation
      padding 0

.training-explanation
  padding 5px
  flex 1 1 auto
  display flex
  flex-flow column nowrap
  justify-content center
  align-items center
  > .player
    display flex
    flex-flow row wrap
    justify-content center
    align-items center
    > .piece-no-square
      width: 40px
      height: 40px
  > .buttonPlaceholder
    height 30px
    margin 5px auto
    padding 0.5em
  > .fatButton
    height 30px
    opacity 0.8
    width initial
    margin 5px auto
    font-size 0.8em
    padding 0.5em

.training-control
  align-self stretch
  width 50%
  color: #fff;
  display flex
  flex-flow row wrap
  justify-content center
  align-items center
  text-transform uppercase
  > .fa
    font-size 30px
  &.continue
    background: rgba(56,147,232,0.8);

.training-instruction
  display flex
  flex-flow column nowrap
  > strong
    font-size 1.1em
  @media only screen and (orientation: landscape)
    margin-top 1em
    align-items center
    > p
      text-align center

.training-icon
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  font-size: 50px;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  &.fail, &.loss
    color red
  &.great, &.win
    color green

.puzzleRatingDiff
  margin-left 10px
  font-size 1.5em

.training-half
  width 100%
  flex 1 1 50%
  display flex
  justify-content center
  align-items center

.trainingPlayer
  .player
    position relative

.trainingMenu
  h2:before
    font-size 1.3em
    position relative
    top 2px
    margin-right 10px
  canvas
    margin-bottom 10px
    padding-right 10px

.trainingMenuContent
  padding 10px
  > .signin
    display flex
    justify-content center
    padding-top 1em

.trainingRatingHeader
  padding 1em
  > strong
    font-size 1.5em

.trainingUserInfos.landscape
  flex 0 0 auto
  height 250px
  padding 1rem 2rem
  overflow hidden
  @media only screen and (orientation: landscape) and (max-height 450px)
    height 100px
    padding 5px 0
  @media only screen and (orientation: landscape) and (min-height 450px)
    height 150px
    padding 5px 0
  @media only screen and (orientation: landscape) and (min-height 550px)
    height 200px
  @media only screen and (orientation: landscape) and (min-height 700px)
    height 300px
  @media only screen and (orientation: landscape) and (min-height 800px)
    height 400px
  .puzzleDifficulty
    margin-top 0


.training-offlineInfos
  padding 10px
  > p
    margin-bottom 1em
    &:last-child
      margin-bottom 0

.training-vote
  display flex
  flex-flow row nowrap
  align-items center
  margin-left 1em
  align-self stretch
  > .buttons
    margin-left 10px
    display flex
    flex-flow column nowrap
    height 100%
    justify-content space-around
    > span
      margin 0
      padding 0
      color white
      font-size 50px
      line-height 25px
      &.voted
        color gold


.view-container.light
  .training-control
    &.retry
      color textLightBg
  .training-vote
    > .buttons
      > span
        color inherit


.view-container.transp
  .training-control
    &.continue
      background-color transpWhite03

  .training-explanation
    > .fatButton
      opacity 0.6
      box-shadow none
