#userProfile
  display flex
  flex-flow row wrap
  align-content flex-start
  padding 0 10px
  > section
    width 100%

.warning
  font-size 0.9em
  color orange
  &:before
    margin-right 5px

h3.fullname
  font-weight bold
  margin-bottom 10px

.user_profile_header
  margin-bottom 15px


.userTitle
  color gold
  font-weight bold

.profileBio
  margin 10px 0
  font-style italic
  word-wrap break-word

.flag
  height 20px
  vertical-align bottom
  margin-right 2px

.onlineStatus, .profile, .userStats
  padding 10px 0

.profile, .userStats
  font-size 0.85em

.perfs
  display flex
  flex-flow row wrap
  padding 10px 0
  font-size 0.9em
  &:after
    content none

.profilePerf
  width 50%
  text-align left
  padding 5px 0
  line-height 1.2em
  &.active
    background lighten(bgdark, 5%)
  &:before
    color gold
    font-size 1.2em
    float left
    margin-right 5px
  > .rating
    color textLightGray
    font-weight bold
    display block
    float left
    > .progress, & > .nb
      font-weight normal
      font-size 0.8em
      margin-left 0.5em
    > .progress
      &.positive
        color green
      &.negative
        color red
      &::before
        vertical-align middle
        margin-right 1px
    > .nb
      opacity 0.4
  > .name
    display block
    color gold
    text-transform uppercase
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    float left
    width 80%
  &.nav
    &:after
      content none
  @media only screen and (min-width 600px)
    &:before
      font-size 2em

#userProfileActions
  .check_container
    line-height 30px

.userGamesWrapper
  height 100%

.select_games_filter
  margin 0
  background-color headerBgDark
  label:after
    color labelText
  select
    color lighten(labelText, 50%)

.scroller.games
  height calc(100% - 40px)

.userGame
  background-color lighten(bgdark, 5%)
  color textLightGray
  min-height 60px
  padding 0
  border-color lighten(bgdark, 5%)
  &.odd
    background-color lighten(bgdark, 10%)
  > .iconStar
    position absolute
    top 5px
    right 0
    width 30px
    color textGray
    &:before
      font-size 18px
  > .nav
    display flex
    flex-flow row nowrap
    padding 10px
    align-items center
    &:after
      line-height 1
      top 50%
      right 8px
  .display_board
    flex 0 0 31%
    height calc((100vw - 20px) * 0.31)
  @media only screen and (orientation portrait) and (max-width 320px)
    .userGame-infos
      font-size 0.8em
    .userGame-title
      font-size 0.7em
    .userGame-versus
      font-size 0.9em
  @media only screen and (orientation landscape)
    .display_board
      flex 0 0 110px
      height 110px
  @media only screen and (orientation landscape) and (min-height 450px)
    .display_board
      flex 0 0 150px
      height 150px
  @media only screen and (orientation landscape) and (min-height 700px), only screen and (orientation portrait) and (min-width 600px)
    .display_board
      flex 0 0 200px
      height 200px
    .userGame-infos
      font-size 1em
      line-height 2em
    .userGame-title
      font-size 1.3em
      line-height 1.3em
    .userGame-meta
      font-size 1em

.userGame-title
  display flex
  font-size 0.8em
  line-height 1
  opacity 0.9
  > .variant-icon
    font-size 2em
  > .variant-date
    margin-left 5px
    > .variant
      text-transform uppercase
    > .date
      font-size 0.7em

.userGame-infos
  align-self stretch
  flex 1 1 auto
  display flex
  flex-flow column nowrap
  justify-content space-between
  font-size 0.85em
  padding 0 10px

.userGame-versus
  .players
    display flex
    justify-content center
    align-items center
    margin-top 0.5em
    line-height 1.2em
    > div
      text-align center
    > .player
      > .playerRating
        font-size 0.7em
      > .rp
        font-size 0.7em
    > .swords
      margin 0 3px
  .playerName
    font-weight bold
  .status
    text-align center
    font-size 0.6em
    margin-bottom 0.5em
    &.win
      color green
    &.loose
      color red

.userGame-meta
  font-size 0.6em
  line-height 1.5em
  opacity 0.8

#filterGames
  padding-left 15px

.variantPerfBody
  width 100%
  padding 10px 10px 0
  font-size 0.85em
  .empty
    display none

.hideVariantPerfCanvas
  display none

table.variantPerf
  width 100%

.variantPerfHeading
  text-align left
  font-weight bold
  color gold

th.variantPerf
  text-align left
  font-weight normal

td.variantPerf
  text-align right
  > .progress
    &.positive
      color green
    &.negative
      color red

td.variantPerfSpacer
  height 10px

th.variantPerfMemo
  text-align left
  font-weight normal
  padding-left 10px
  font-style italic

td.variantPerfMemo
  text-align right
  font-style italic

.variantPerfGames
  > .nav
    padding 15px 0

.followingPlayerTitle
  display flex
  justify-content space-between
  font-size 1.1em
  font-weight bold
  margin-bottom 15px

.followingPlayerItem
  margin-top 10px
  > div > label
    width 100%

.followingPlayerAction
  margin-top 2px
  padding 10px 0
  line-height 20px
  &.active
    background lighten(bgdark, 5%)

.followingListEmpty
  width 100%
  height 100%
  display flex
  justify-content center
  align-items center
  font-size 1.1em

.moreFollow
  text-align center
  font-size 1.5em
