<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, width=device-width, viewport-fit=cover" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' gap: data: https://ssl.gstatic.com; connect-src 'self' https://explorer.lichess.ovh https://tablebase.lichess.ovh {{{apiEndPoint}}} {{{socketEndPoint}}}:*; script-src 'self' 'unsafe-inline'; child-src 'self' filesystem: gap://ready; style-src 'self' 'unsafe-inline'; img-src 'self' data: {{{apiEndPoint}}}; media-src 'self'">
    <title>mobile.lichess.org</title>
    <link rel="manifest" href="manifest.json">
    <link rel="preload" href="css/compiled/app.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="fonts/fontawesome-webfont.ttf?v=4.7.0" as="font" crossorigin>
    <link rel="preload" href="fonts/Noto-Sans.ttf" as="font" crossorigin>
    <link rel="modulepreload" href="i18n/refs.js" />
    <link rel="modulepreload" href="i18n/en-US.js" />
    <style>
      body {
        display: flex;
        flex-flow: column nowrap;
        background-color: #2b2b2b;
        font-family: 'Noto Sans', sans-serif;
        margin: 0;
      }
      .main_header {
        width: 100%;
        background: #161512;
        flex: 0 0 56px;
        color: #ccc;
      }
      .main_header > nav {
        height: 100%;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
      }
      .main_header_title {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        padding-left: 10px;
        font-size: 1.2em;
        line-height: 56px;
        flex: 1 1 auto;
        letter-spacing: -0.5px;
      }
    </style>
    <script>
      window.lichess = {
        mode: "{{appMode}}",
        apiEndPoint: "{{{apiEndPoint}}}",
        socketEndPoint: "{{{socketEndPoint}}}",
      };
    </script>
    <script type="text/javascript" src="lib/cordova.polyfills.js"></script>
    <script type="module" src="main.js"></script>
  </head>
  <body>
    <header class="main_header"><nav><button class="fa fa-navicon main_header_button menu_button"></button><div class="main_header_title">lichess.org</div></nav></header>
  </body>
</html>
