@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Cousine.ttf') format('truetype');
}

@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Cousine-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/OpenSans-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/OpenSans.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/OpenSans-Bold.ttf) format('truetype');
}
