.tgl {
  display: none;
}
.tgl-flat:checked + .tgl-btn:after {
  background: none repeat scroll 0 0 #7fc6a6;
  left: 50%;
}
.tgl-flat + .tgl-btn:after {
  background: none repeat scroll 0 0 rgba(0,0,0,0.25);
  border-radius: 1em;
  content: "";
  transition: all 0.2s ease 0s;
  left: 0;
}
.tgl + .tgl-btn:after,
.tgl + .tgl-btn:before {
  content: "";
  bottom: 100%;
  display: block;
  height: 100%;
  position: relative;
  width: 50%;
}
.tgl-flat:checked + .tgl-btn {
  border: 4px solid #7fc6a6;
}
.tgl-flat + .tgl-btn {
  background: none repeat scroll 0 0 #fff;
  border: 4px solid rgba(0,0,0,0.25);
  border-radius: 2em;
  padding: 2px;
  transition: all 0.2s ease 0s;
}
.tgl + .tgl-btn {
  cursor: pointer;
  display: inline-block;
  height: 2em;
  outline: 0 none;
  position: relative;
  width: 4em;
}
.tgl,
.tgl:after,
.tgl:before,
.tgl *,
.tgl *:after,
.tgl *:before,
.tgl + .tgl-btn {
  box-sizing: border-box;
}
.light {
  background-color: rgba(0,0,0,0.25);
  border-radius: 50%;
  height: 4em;
  width: 4em;
}
.light span {
  background-color: #ff0;
  display: block;
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  height: 0%;
  width: 0%;
  transition: all 0.2s ease 0s;
}
.light.on span {
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
}
