@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Cousine.ttf') format('truetype');
}

@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Cousine-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(../fonts/Noto-Sans.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold'), url(../fonts/Noto-SansBold.ttf) format('truetype');
}

@font-face {
  font-family: 'ChessSansPiratf';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ChessSansPiratf.ttf") format("truetype")
}
